<!-- Basic Elements start -->
<section class="basic-elements">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">ورودی های فرم</div>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">ورودی متن</h4>
                </div>
                <div class="card-content">
                    <div class="px-3">
                    	<form class="form">
							<div class="form-body">
		                        <div class="row">
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="basicInput">ورودی پایه</label>
		                                    <input type="text" class="form-control" id="basicInput" >
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="helpInputTop">متن ورودی با کمک</label>
		                                    <small class="text-muted">eg.<i>someone@example.com</i></small>
		                                    <input type="text" class="form-control" id="helpInputTop">
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="disabledInput">ورودی غیر فعال</label>
		                                    <input type="text" class="form-control" id="disabledInput" disabled>
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="disabledInput">ورودی فقط خواندنی</label>
		                                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="You can't update me :P">
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="disabledInput">ورودی با متن پیش فرض</label>
		                                    <input type="email" class="form-control" id="placeholderInput" placeholder="ایمیل را وارد کنید">
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="disabledInput">متن ثابت</label>
		                                    <p class="form-control-static" id="staticInput">email@pixinvent.com</p>
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="roundText">ورودی گرد</label>
		                                    <input type="text" id="roundText" class="form-control round" placeholder="ورودی گرد">
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="squareText">ورودی مربع</label>
		                                    <input type="text" id="squareText" class="form-control square" placeholder="ورودی مربع">
		                                </fieldset>
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
		                                <fieldset class="form-group">
		                                    <label for="helperText">با متن راهنما</label>
		                                    <input type="text" id="helperText" class="form-control" placeholder="نام">
		                                    <p><small class="text-muted">متن مورد نظر را برای جعبه داده شده در اینجا پیدا کنید.</small></p>
		                                </fieldset>
		                            </div>
		                        </div>
		                    </div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Inputs end -->

<!-- Basic Textarea start -->
<section class="basic-textarea">
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                	<h4 class="card-title mb-0">متن</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                    	<form class="form">
							<div class="form-body">
		                        <div class="row">
		                            <div class="col-xl-4 col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="basicTextarea">متن پایه</label>
		                                    <textarea class="form-control" id="basicTextarea" rows="3"></textarea>
		                                </fieldset>                                
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="placeTextarea">متن با متن پیش فرض</label>
		                                    <textarea class="form-control" id="placeTextarea" rows="3" placeholder="متن با متن پیش فرض"></textarea>
		                                </fieldset>                                
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="descTextarea">متن با توضیحات</label>
		                                    <textarea class="form-control" id="descTextarea" rows="3" placeholder="متن با توضیحات"></textarea>
		                                </fieldset>                                
		                            </div>
		                        </div>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Textarea end -->

<!-- Basic Select start -->
<section class="basic-select">
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                	<h4 class="card-title mb-0">انتخاب</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                    	<form class="form">
							<div class="form-body">
		                        <div class="row">
		                            <div class="col-xl-4 col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="basicSelect">انتخاب پایه</label>
		                                    <select class="form-control" id="basicSelect">
		                                      <option>گزینه را انتخاب کنید</option>
		                                      <option>گزینه 1</option>
		                                      <option>گزینه 2</option>
		                                      <option>گزینه 3</option>
		                                      <option>گزینه 4</option>
		                                      <option>گزینه 5</option>
		                                    </select>
		                                </fieldset>                                
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="customSelect">انتخاب سفارشی</label>
		                                    <select class="custom-select d-block w-100" id="customSelect">
		                                        <option selected>این منوی انتخاب را باز کنید</option>
		                                        <option value="1">1</option>
		                                        <option value="2">3</option>
		                                        <option value="3">3</option>
		                                    </select>
		                                </fieldset>                                
		                            </div>
		                            <div class="col-xl-4 col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="countrySelect">انتخاب چندگانه</label>
		                                    <select class="form-control" id="countrySelect" multiple="multiple">
		                                        <option selected="selected">ایران</option>
		                                        <option>کانادا</option>
		                                        <option selected="selected">هند</option>
		                                        <option>عراق</option>
		                                        <option>ایران</option>
		                                        <option>آلمان</option>
		                                        <option selected="selected">ژاپن</option>
		                                        <option>ایتالیا</option>
		                                        <option>آلمان</option>
		                                        <option>فرانسه</option>
		                                        <option>نیوزلند</option>
		                                        <option>ژاپن</option>
		                                        <option>روسیه</option>
		                                        <option>فرانسه</option>
		                                        <option>آلمان</option>
		                                        <option>آلمان</option>
		                                        <option>روسیه</option>
		                                        <option>ایران</option>
		                                        <option>ایتالیا</option>
		                                        <option>نیوزلند</option>
		                                    </select>
		                                </fieldset>                                
		                            </div>
		                        </div>
		                    </div>
		                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Select end -->

<!-- Basic File Browser start -->
<section class="file-browser">
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">ورودی فایل</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                    	<form class="form">
							<div class="form-body">
		                        <div class="row">
		                            <div class="col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="basicInputFile">ورودی ساده فایل</label>
		                                    <input type="file" class="form-control-file" id="basicInputFile">
		                                </fieldset>
		                            </div>
		                            <div class="col-lg-6 col-md-12">
		                                <fieldset class="form-group">
		                                    <label for="file">با مرور دکمه</label>
		                                    <!-- <label class="custom-file  mx-auto d-block">
		                                      <input type="file" id="file" class="custom-file-input">
		                                      <span class="custom-file-control"></span>
											</label> -->
											<div class="custom-file  mx-auto d-block">
												<input type="file" class="custom-file-input" id="inputGroupFile01">
												<label class="custom-file-label" for="inputGroupFile01">انتخاب فایل</label>
											  </div>
		                                </fieldset>
		                            </div>
		                        </div>
		                    </div>
		                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic File Browser end -->

<!-- Control Sizing start -->
<section class="control-sizing">
    <div class="row text-left"> 
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">گزینه های اندازه گیری کنترل</div>
        </div>
    </div>
    <div class="card text-left">
        <div class="card-header">
        	<div class="card-content">
        		<form class="form">
					<div class="form-body">
		        		<div class="row">
		        			<div class="col-md-6 col-12">
				                <div class="px-3">
				                    <p>کلاس ورودی XLarge <code>.form-control-xl</code></p>
				                	<fieldset class="form-group position-relative">
				                        <input type="text" class="form-control form-control-xl" id="xLarge" placeholder="ورودی XLarge">
				                    </fieldset>
				                </div>
		                    </div>
		                    <div class="col-md-6 col-12">
				                <div class="px-3">
				                    <p>کلاس ورودی XLarge <code>.form-control-xl</code> برای انتخاب</p>
			                    	<fieldset class="form-group position-relative">
			                            <select class="form-control form-control-xl" id="xLargeSelect">
			                                <option selected>گزینه های XLarge را انتخاب کنید</option>
			                                <option value="1">1</option>
			                                <option value="2">2</option>
			                                <option value="3">3</option>
			                            </select>
			                        </fieldset>
				                </div>
		                    </div>

		                    <div class="col-md-6 col-12">
				                <div class="px-3">
			                        <p>کلاس ورودی بزرگ<code>.form-control-lg</code></p>
			                    	<fieldset class="form-group position-relative">
			                            <input type="text" class="form-control form-control-lg" id="Large" placeholder="ورودی بزرگ">
			                        </fieldset>
				                </div>
		                    </div>
		                    <div class="col-md-6 col-12">
				                <div class="px-3">
			                        <p>کلاس ورودی بزرگ <code>.form-control-lg</code> برای انتخاب</p>
				                    <fieldset class="form-group position-relative">
			                            <select class="form-control form-control-lg" id="LargeSelect">
			                                <option selected>گزینه های انتخابی بزرگ</option>
			                                <option value="1">1</option>
			                                <option value="2">2</option>
			                                <option value="3">3</option>
			                            </select>
									</fieldset>
			                    </div>
		                    </div>

		                    <div class="col-md-6 col-12">
				                <div class="px-3">
			                        <p>ورودی پیش فرض</p>
			                    	<fieldset class="form-group position-relative">
			                            <input type="text" class="form-control" id="Default" placeholder="ورودی پیش فرض">
			                        </fieldset>
				                </div>
		                    </div>
		                    <div class="col-md-6 col-12">
				                <div class="px-3">
			                        <p>انتخاب پیش فرض</p>
			                    	<fieldset class="form-group position-relative">
			                            <select class="form-control" id="DefaultSelect">
			                                <option selected>گزینه های انتخاب پیش فرض</option>
			                                <option value="1">1</option>
			                                <option value="2">2</option>
			                                <option value="3">3</option>
			                            </select>
			                        </fieldset>
				                </div>
				            </div>

		                    <div class="col-md-6 col-12">
				                <div class="px-3">
			                    	<p>کلاس ورودی کوچک<code>.form-control-sm</code></p>
				                    <fieldset class="form-group position-relative">
			                            <input type="text" class="form-control form-control-sm" id="Small" placeholder=" ورودی کوچک">
			                        </fieldset>
				                </div>
		                    </div>
		                    <div class="col-md-6 col-12">
				                <div class="px-3">
			                        <p>کلاس ورودی کوچک<code>.form-control-sm</code> برای انتخاب</p>
				                    <fieldset class="form-group position-relative">
			                            <select class="form-control form-control-sm" id="SmallSelect">
			                                <option selected>گزینه های انتخاب کوچک</option>
			                                <option value="1">1</option>
			                                <option value="2">2</option>
			                                <option value="3">3</option>
			                            </select>
			                        </fieldset>
				                </div>
		                    </div>
		                </div>
		            </div>
		        </form>
            </div>
        </div>
    </div>
</section>
<!-- Control Sizing end -->

<!-- Inputs Icons start -->
<section class="inputs-icons">
	<div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">ورود با آیکون</h4>
                </div>
                <div class="card-content">
                    <div class="px-3">
                    	<form class="form">
							<div class="form-body">
								<div class="row">
									<div class="col-md-6 col-12">
										<div class="form-group">
											<p>نماد کلاس چپ<code>.has-icon-left</code></p>
											<div class="position-relative has-icon-left">
												<input type="text" class="form-control" name="form-control-with-icon">
												<div class="form-control-position">
													<i class="ft-search info"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="form-group">
											<p>نماد کلاس راست <code>.has-icon-right</code></p>
											<div class="position-relative has-icon-right">
												<input type="text" class="form-control" name="form-control-with-icon">
												<div class="form-control-position">
													<i class="ft-upload warning"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 col-12">
										<div class="form-group">
											<p>ورودی دور با کلاس آیکون چپ <code>.has-icon-left</code></p>
											<div class="position-relative has-icon-left">
												<input type="text" class="form-control round" name="form-control-with-icon">
												<div class="form-control-position">
													<i class="ft-user danger"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="form-group">
											<p>ورودی دور با کلاس آیکون راست  <code>.has-icon-right</code></p>
											<div class="position-relative has-icon-right">
												<input type="text" class="form-control round" name="form-control-with-icon">
												<div class="form-control-position">
													<i class="ft-bell primary"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 col-12">
										<div class="form-group">
											<p>ورودی مربع با کلاس آیکون چپ <code>.has-icon-left</code> با کلاس <code>.spinner</code></p>
											<div class="position-relative has-icon-left">
												<input type="text" class="form-control square" name="form-control-with-icon">
												<div class="form-control-position">
													<i class="ft-loader spinner"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="form-group">
											<p>ورودی مربع با کلاس آیکون راست  <code>.has-icon-right</code> با کلاس <code>.spinner</code></p>
											<div class="position-relative has-icon-right">
												<input type="text" class="form-control square" name="form-control-with-icon">
												<div class="form-control-position">
													<i class="ft-refresh-cw spinner"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Inputs Icons end -->