<div class="wrapper wrapper-content animated fadeInRight" ng-controller="reservationOrderController as order" ng-init="order.init()">
    <!-- <div class="container">-->
    <div class="row" rasha-loading="order.busyIndicator">
        <div class="col-sm-12">
            <!--<div rasha-loading="order.busyIndicator"></div>-->
            <button class="btn btn-primary" rasha-userrole="order.Add" ng-click="order.openAddModal()" ng-show="order.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button><!--ng-show="order.gridOptions.resultAccess.AccessAddRow"-->
            <button class="btn btn-warning" rasha-userrole="order.Edit" ng-click="order.openEditModal()" ng-show="order.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button><!--ng-show="order.gridOptions.resultAccess.AccessEditRow"-->
            <button class="btn btn-danger" rasha-userrole="order.Delete" ng-click="order.deleteRow()" ng-show="order.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button><!--ng-show="order.gridOptions.resultAccess.AccessDeleteRow"-->
            <button class="btn btn-success" type="button" ng-click="order.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="order.openGridConfigModal()" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="order.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="order.getCount()">{{'number'|lowercase|translate}}&nbsp;{{order.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    
    
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="order" ></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="order.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="order.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="order.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!--<form method="get" class="form-horizontal" name="frmorderAdd" novalidate ng-submit="order.addNewRow(frmorderAdd)">
                <div class='hr-line-dashed'></div>
            </form>-->
  
            <div rasha-grid="order.gridOptions"></div>
        </div>
    </div>
</div>