<div class="modal-body">
    <div class="row" rasha-loading="articleComment.busyIndicator">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="articleComment.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Comment'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmarticleCommentAdd" novalidate ng-submit="articleComment.addNewRow(frmarticleCommentAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="articleComment.gridOptions.resultAccess.AccessAddField.indexOf('RecordStatus')>-1"
                                 ng-class="{'has-error' : frmarticleCommentAdd.RecordStatus.$invalid && !frmarticleCommentAdd.RecordStatus.$pristine,'has-success' : frmarticleCommentAdd.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="articleComment"></div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="articleComment.gridOptions.resultAccess.AccessAddField.indexOf('Writer')>-1"
                                 ng-class="{'has-error' : frmarticleCommentAdd.Writer.$invalid && !frmarticleCommentAdd.Writer.$pristine,'has-success' : frmarticleCommentAdd.Writer.$valid}">
                                <label class="col-sm-2 control-label"> {{'AUTHOR'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Writer"
                                           ng-model="articleComment.selectedItem.Writer" />
                                    <div class="m-t-xs" ng-show="frmarticleCommentAdd.Writer.$invalid">
                                        <small class="text-danger" ng-show="frmarticleCommentAdd.Writer.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmarticleCommentAdd.Writer.$valid && frmarticleCommentAdd.Writer.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmarticleCommentAdd.Writer.$invalid && !frmarticleCommentAdd.Writer.$pristine) || frmarticleCommentAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="articleComment.gridOptions.resultAccess.AccessAddField.indexOf('Comment')>-1"
                                 ng-class="{'has-error' : frmarticleCommentAdd.Comment.$invalid && !frmarticleCommentAdd.Comment.$pristine,'has-success' : frmarticleCommentAdd.Comment.$valid}">
                                <label class="col-sm-2 control-label"> {{'COMMENT'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                        <textarea  class="form-control"
                                        ng-required="true"
                                        name="Comment"
                                        ng-model="articleComment.selectedItem.Comment"
                                        style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmarticleCommentAdd.Comment.$invalid">
                                        <small class="text-danger" ng-show="frmarticleCommentAdd.Comment.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmarticleCommentAdd.Comment.$valid && frmarticleCommentAdd.Comment.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmarticleCommentAdd.Comment.$invalid && !frmarticleCommentAdd.Comment.$pristine) || frmarticleCommentAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div><!--ng-show="articleComment.gridOptions.resultAccess.AccessAddField.indexOf('LinkarticleContentId')>-1"-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'SELECT_CONTENT'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkarticleContentId" rasha-autocomplete="articleComment.LinkarticleContentIdSelector" ng-model="articleComment.selectedItem.LinkarticleContentId" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="articleComment.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="articleComment.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>

