<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="discountGroup.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Edit_Group'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmdiscountGroupEdit" novalidate ng-submit="discountGroup.editRow(frmdiscountGroupEdit)">      
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountGroupEdit.LinkSourceId.$invalid && !frmdiscountGroupEdit.LinkSourceId.$pristine,'has-success' : frmdiscountGroupEdit.LinkSourceId.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="discountGroup"></div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountGroupEdit.Title.$invalid && !frmdiscountGroupEdit.Name.$pristine,'has-success' : frmdiscountGroupEdit.Title.$valid}">
                    <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="Name"
                               ng-model="discountGroup.selectedItem.Title" />
                        <div class="m-t-xs" ng-show="frmdiscountGroupEdit.Title.$invalid">
                            <small class="text-danger" ng-show="frmdiscountGroupEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountGroupEdit.Title.$valid && frmdiscountGroupEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountGroupEdit.Title.$invalid && !frmdiscountGroupEdit.Title.$pristine) || frmdiscountGroupEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountGroupEdit.Description.$invalid && !frmdiscountGroupEdit.Description.$pristine,'has-success' : frmdiscountGroupEdit.Description.$valid}">
                    <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <textarea class="form-control"
                               ng-required="true"
                               name="Description"
                               ng-model="discountGroup.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                        <div class="m-t-xs" ng-show="frmdiscountGroupEdit.Description.$invalid">
                            <small class="text-danger" ng-show="frmdiscountGroupEdit.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountGroupEdit.Description.$valid && frmdiscountGroupEdit.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountGroupEdit.Description.$invalid && !frmdiscountGroupEdit.Description.$pristine) || frmdiscountGroupEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="discountGroup.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="discountGroup.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>