    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 b-r">
                <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="phoneBookCity.closeModal()"></i>
                <h3 class="m-t-none m-b"> {{ phoneBookCity.modalTitle }}</h3>
                <form method="get" class="form-horizontal" name="frmphoneBookCityAdd" 
                      novalidate ng-submit="phoneBookCity.addNewRow(frmphoneBookCityAdd)">

                    <div class='hr-line-dashed'></div>
                    <div class="form-group"
                         ng-class="{'has-error' : frmphoneBookCityEdit.LinkSourceId.$invalid && !frmphoneBookCityEdit.LinkSourceId.$pristine,'has-success' : frmphoneBookCityEdit.LinkSourceId.$valid}">
                        <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                        <div class="col-sm-10" rasha-record-status="phoneBookCity"></div>
                    </div>


                    <div class='hr-line-dashed'></div>
                    <div class="form-group"
                         ng-class="{'has-error' : frmphoneBookCityAdd.LinkSourceId.$invalid && !frmphoneBookCityAdd.LinkSourceId.$pristine,'has-success' : frmphoneBookCityAdd.LinkSourceId.$valid}">
                        <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                        <div class="col-sm-10" rasha-record-status="phoneBookCity"></div>
                    </div>

                    <div class='hr-line-dashed'></div>
                    <div class="form-group"
                         ng-class="{'has-error' : frmphoneBookCityAdd.countryId.$invalid && 
                         !frmphoneBookCityAdd.countryId.$pristine,'has-success' : frmphoneBookCityAdd.countryId.$valid}">
                        <label class="col-sm-2 control-label"> {{'COUNTRY'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-required="true"
                                    ng-model="countryId"
                                    ng-change="phoneBookCity.getStateByCountryId(countryId)">
                                <option ng-repeat="country in phoneBookCity.countryList" ng-value="{{country.Id}}">
                                    {{country.Title}}
                                </option>
                            </select>
                            <div class="m-t-xs" ng-show="frmphoneBookCityAdd.Title.$invalid">
                                <small class="text-danger" ng-show="frmphoneBookCityAdd.countryId.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group"
                         ng-class="{'has-error' : frmphoneBookCityAdd.LinkPhoneBookStateId.$invalid && 
                         !frmphoneBookCityAdd.LinkPhoneBookStateId.$pristine,'has-success' : frmphoneBookCityAdd.LinkPhoneBookStateId.$valid}">
                        <label class="col-sm-2 control-label"> {{'PROVINCE'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-required="true"
                                    name="LinkPhoneBookStateId"
                                    ng-model="phoneBookCity.selectedItem.LinkPhoneBookStateId">
                                <option ng-repeat="state in phoneBookCity.stateList" ng-value="{{state.Id}}">{{state.Title}}</option>
                            </select>
                            <div class="m-t-xs" ng-show="frmphoneBookCityAdd.LinkPhoneBookStateId.$invalid">
                                <small class="text-danger" ng-show="frmphoneBookCityAdd.LinkPhoneBookStateId.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group"
                         ng-class="{'has-error' : frmphoneBookCityAdd.Title.$invalid && 
                         !frmphoneBookCityAdd.Title.$pristine,'has-success' : frmphoneBookCityAdd.Title.$valid}">
                        <label class="col-sm-2 control-label"> {{'CITY_NAME'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <input class="form-control"
                                   ng-required="true"
                                   name="Title"
                                   ng-model="phoneBookCity.selectedItem.Title">
                            <div class="m-t-xs" ng-show="frmphoneBookCityAdd.Title.$invalid">
                                <small class="text-danger" ng-show="frmphoneBookCityAdd.Title.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group"
                         ng-class="{'has-error' : frmphoneBookCityAdd.CityCode.$invalid && 
                         !frmphoneBookCityAdd.CityCode.$pristine,'has-success' : frmphoneBookCityAdd.CityCode.$valid}">
                        <label class="col-sm-2 control-label"> {{'CITY_ID'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <input class="form-control"
                                   ng-required="true"
                                   name="CityCode"
                                   ng-model="phoneBookCity.selectedItem.CityCode">
                            <div class="m-t-xs" ng-show="frmphoneBookCityAdd.CityCode.$invalid">
                                <small class="text-danger" ng-show="frmphoneBookCityAdd.CityCode.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-disabled="phoneBookCity.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                        <button class="btn btn-default" type="button" ng-click="phoneBookCity.closeModal()">{{'cancel'|lowercase|translate}}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
