<div class="modal-body">
    <div class="row" rasha-loading="chartContentTag.busyIndicator">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="chartContentTag.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ chartContentTag.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmchartContentTagEdit" novalidate ng-submit="chartContentTag.editRow(frmchartContentTagEdit)">

             
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="chartContentTag.gridOptions.resultAccess.AccessEditField.indexOf('LinkContentId')>-1"
                     ng-class="{'has-error' : frmchartContentTagEdit.LinkContentId.$invalid && !frmchartContentTagEdit.LinkContentId.$pristine,'has-success' : frmchartContentTagEdit.LinkContentId.$valid}">
                    <label class="col-sm-2 control-label"> {{'SELECT_CONTENT'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="chartContentOther.selectedItem.LinkContentId">
                            <option ng-repeat="x in chartContentSim.DestinationList" ng-value="x.Id">{{x.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="chartContentTag.gridOptions.resultAccess.AccessEditField.indexOf('LinkTagId')>-1"
                     ng-class="{'has-error' : frmchartContentTagEdit.LinkTagId.$invalid && !frmchartContentTagEdit.LinkTagId.$pristine,'has-success' : frmchartContentTagEdit.LinkTagId.$valid}">
                    <label class="col-sm-2 control-label">  {{'SELECT_TAG'|lowercase|translate}}  </label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="chartContentOther.selectedItem.LinkTagId">
                            <option ng-repeat="x in chartContentSim.DestinationList" ng-value="x.Id">{{x.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>



                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="chartContentTag.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="chartContentTag.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>