<div ng-controller="navigationCtrl as navCtrl" ng-init="navCtrl.init()" ng-show="navCtrl.addNewItemNotRequested">
    <div  style="position:absolute;left:0;right:0;bottom:0;width:100%;height:100%;z-index:10000;background:rgba(0,0,0,0.7); display: none;" ng-show="navCtrl.showSiteSelector">
        <div class="container">
            <div class="row" style="background:#fff; margin-top:20%;">
                <div class="col-md-12">
                    <h4 ng-if="navCtrl.ownerSite.length > 0" style="margin: 20px 20px 0 0;">{{'FOR_LOGIN_ERROR'|lowercase|translate}} <button class="btn btn-primary" ng-click="navCtrl.newSite()" ng-show="false">{{'PAGE_LOGIN_BUTTON_NEWSITE'|lowercase|translate}}</button></h4>
                    <div class="row" style="padding: 20px;">
                        <div class="col-sm-3" ng-repeat="item in navCtrl.ownerSite">
                            <div class="col-sm-12"><span class="badge badge-success Yekan" style="padding: 10px; width: 100%; border-radius:0;">{{item.Site.Title}} <button type="button" class="btn btn-info m-r-sm" ng-click="navCtrl.selectCurrentSite(item)"><i class="fa fa-arrow-circle-o-right"></i>{{'SELECT'|lowercase|translate}}</button></span></div>
                            <div class="col-sm-12">
                                <div class="panel panel-primary" style="margin-bottom: 0; border-radius: 0;">
                                    <div class="panel-heading" style="border-radius: 0;">
                                        {{'SITE_INFO'|lowercase|translate}} <div class="label label-default pull-right" style="cursor: pointer;" ng-click="navCtrl.showDetail($event)"><i class="fa fa-arrow-down"></i></div>
                                    </div>
                                    <div class="panel-body" style="display: none;">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><span class="label label-default">{{'OWNER_SITE'|lowercase|translate}}</span></td>
                                                    <td>{{item.User.FullName}}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label label-success">{{'DATE_OF_REGISTER'|lowercase|translate}}</span></td>
                                                    <td>27/5/1394</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label label-success">{{'EXPIRAITION_DATA'|lowercase|translate}}</span></td>
                                                    <td>27/5/1394</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label label-success">{{'CREDIT_RIAL'|lowercase|translate}}</span></td>
                                                    <td>25،000 ریال</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label label-success">{{'CREDIT_SMS'|lowercase|translate}}</span></td>
                                                    <td>20000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="background: url({{$scope.cmsServerConfig.configCpanelImages}}/bg_Dashboard.jpg); width: 100%; height: 200px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12" ng-if="!(navCtrl.ownerSite.length > 0)">
                            {{'YOU_DONT_HAVE_ANY_SITE'|lowercase|translate}} <button class="btn btn-primary" ng-click="navCtrl.newSite()" ng-show="false">{{'PAGE_LOGIN_BUTTON_NEWSITE'|lowercase|translate}}</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <nav class="navbar-default navbar-static-side" role="navigation" style="background-image: linear-gradient(to bottom,#0000005c 0,#f8f8f800 100%);box-shadow:0 5px 10px rgba(0, 0, 0, 0.83)">

        <div class="sidebar-collapse" full-scroll>
            <div rasha-menu-right>
            </div>
         
            
        </div>
    </nav>
</div>