/.vs/
/.vs/*
/.idea/
/.idea/*
tempkey.rsa
/cpanelv2Source/node_modules
/cpanelv2Source/node_modules/*
/cpanelv2Source/dist
/cpanelv2Source/npm-debug.log
/cpanelv2Source/yarn-error.log
/cpanelv3Source/node_modules
/cpanelv3Source/node_modules/*
/cpanelv3Source/dist
/cpanelv3Source/npm-debug.log
/cpanelv3Source/yarn-error.log

/cpanelv4Source/node_modules
/cpanelv4Source/node_modules/*
/cpanelv4Source/dist
/cpanelv4Source/npm-debug.log
/cpanelv4Source/yarn-error.log

/BankScript/98125_ariyan_angular/*
/BankScript/Gogo-React/node_modules/*
/BankScript/Gogo-React-RTL/node_modules/*
/BankScript/Gogo-React-RTL/npm-debug.log.1081871002

