<div class="wrapper wrapper-content animated fadeInRight" ng-controller="jobPositionController as jobPosition" ng-init="jobPosition.init()">
    <!-- <div class="container">-->
    <div class="row" rasha-loading="jobPosition.busyIndicator">
        <div class="col-sm-12">
            <!--<div rasha-loading="jobPosition.busyIndicator"></div>-->
            <button class="btn btn-primary" rasha-userrole="jobPosition.Add" ng-click="jobPosition.openAddModal()" ng-show="jobPosition.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="jobPosition.Edit" ng-click="jobPosition.openEditModal()" type="button" ng-show="jobPosition.gridOptions.resultAccess.AccessEditRow"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="jobPosition.Delete" ng-click="jobPosition.deleteRow()" type="button" ng-show="jobPosition.gridOptions.resultAccess.AccessDeleteRow" > {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="jobPosition.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="jobPosition.openGridConfigModal(jobPosition.gridOptions.resultAccess.AccessSearchField)" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="jobPosition.toggleExportForm()" ng-show="jobPosition.gridOptions.resultAccess.AccessAddRow">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="jobPosition.getCount()">{{'number'|lowercase|translate}}&nbsp;{{jobPosition.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="jobPosition" ></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="jobPosition.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="jobPosition.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="jobPosition.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form method="get" class="form-horizontal" name="frmjobPositionAdd" novalidate ng-submit="jobPosition.addNewRow(frmjobPositionAdd)">
                <div class='hr-line-dashed'></div>
            </form>
            <div rasha-grid="jobPosition.gridOptions"></div>           
        </div>
    </div>
</div>