<!-- input groups start -->
<section class="input-groups" id="input-groups">
  <div class="row text-left">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">گروه فرم ورودی</div>
      </div>
    </div>
    <div class="row" matchHeight="card">
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">گروه ورودی پیش فرض</h4>
            <p>اضافه کردن فاصله با کلاس<code>.input-group-text</code> <b>قبل از</b> <code>&lt;input&gt;</code></p>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="افزودن به چپ" aria-describedby="basic-addon1">
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">گروه ورودی با راست</h4>
            <p>اضافه کردن فاصله با کلاس <code>.input-group-text</code> <b>بعد از</b> <code>&lt;input&gt;</code></p>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="افزودن به راست" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">ورودی در هر دو طرف</h4>
            <p>اضافه کردن فاصله با کلاس <code>.input-group-text</code> هم <b>قبل و بعد</b> <code>&lt;input&gt;</code></p>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ریال</span>
                  </div>
                  <input type="text" class="form-control" placeholder="افزودن در هر دو طرف" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">افزودن گروه ورودی با آیکون</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3"><i class="ft-mail"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="افزودن به چپ" aria-describedby="basic-addon3">
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">افزودن گروه ورودی با آیکون راست</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="افزودن به راست" aria-describedby="basic-addon4">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon4"><i class="ft-user"></i></span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">افزودن گروه ورودی با هر دو طرف آیکون</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ft-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="افزودن در هر دو طرف" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="ft-search"></i></span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">افزودن گروه ورودی با Spinner</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon5"><i class="ft-rotate-cw spinner"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="افزودن به چپ" aria-describedby="basic-addon5">
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">افزودن گروه ورودی با Spinner راست</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="افزودن به راست" aria-describedby="basic-addon6">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon6"><i class="ft-refresh-ccw spinner"></i></span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">هر دو طرف افزودن گروه ورودی با Spinner</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ft-rotate-cw spinner"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="افزودن در هر دو طرف" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="spinner ft-refresh-cw"></i></span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- input groups end -->


    <!-- Input Groups With Checkbox start -->
    <section class="checkbox-input-group" id="input-group-checkbox">
      <div class="row">
        <div class="col-12 mt-3 mb-1">
          <div class="content-header">گروه ورودی با جعبه</div>
        </div>
      </div>
      <div class="row" matchHeight="card">
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی با جعبه</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <p>اضافه کردن فاصله با کلاس <code>.input-group-text</code> <b>قبل از</b> <code>&lt;input&gt;</code> 
                
                  متن و افزودن جعبه در داخل</p>
                <fieldset>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="checkbox-addon1">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="ورودی متن با کادر چپ"
                      aria-describedby="checkbox-addon1" />
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی با رادیو</h4>
              <p>اضافه کردن فاصله با کلاس<code>.input-group-text</code> <b>قبل از</b> <code>&lt;input&gt;</code>
                متن و اضافه کردن رادیو در داخل
              </p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="radio-addon1">
                        <input type="radio" aria-label="Radio button for following text input">
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="ورودی متن با رادیو چپ " aria-describedby="radio-addon1" />
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Input Groups With Checkbox end -->


    <!--	   Input Group Sizing	 -->
    <section class="sizing-input-group" id="input-group-sizing">
      <div class="row">
        <div class="col-12 mt-3 mb-1">
          <div class="content-header">گروه های ورودی اندازه گیری</div>
        </div>
      </div>
      <div class="row" matchHeight="card">
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی فوق العاده بزرگ</h4>
              <p>اضافه کردن کلاس <code>.input-group-xl</code> به <code>.input-group</code> برای Xlarge افزودن</p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group input-group-xl">
                    <div class="input-group-prepend">
                      <span class="input-group-text">ریال</span>
                    </div>
                    <input type="text" class="form-control" placeholder="اضافه کردن اضافی بزرگ" aria-label="Amount">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی بزرگ</h4>
              <p>اضافه کردن کلاس <code>.input-group-lg</code> به <code>.input-group</code> برای افزودن بزرگ</p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="sizing-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="افزودن بزرگ" aria-describedby="sizing-addon1">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی پیش فرض</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <p>افزونه ورودی پیش فرض</p>
                <fieldset>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="افزونه پیشفرض" aria-describedby="sizing-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="sizing-addon2">.00</span>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی کوچک</h4>
              <p>اضافه کردن کلاس <code>.input-group-sm</code> به <code>.input-group</code> برای افزودن کوچک</p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="sizing-addon3">@example.com</span>
                    </div>
                    <input type="text" class="form-control" placeholder="افزودن کوچک" aria-describedby="sizing-addon3">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Input Group Sizing end-->


    <!-- Input Group Buttons start -->
    <section class="buttons-input-group" id="input-group-buttons">
      <div class="row">
        <div class="col-12 mt-3 mb-1">
          <div class="content-header">دکمه های گروه ورودی</div>
        </div>
      </div>
      <div class="row" matchHeight="card">
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">دکمه ورودی در سمت چپ</h4>
              <p>دکمه را در داخل اضافه کنید <code>.input-group-prepend</code> و کلاس <b>قبل از</b> <code>&lt;input&gt;</code></p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-raised btn-primary" type="button">مرا کلیک کن!</button>
                    </div>
                    <input type="text" class="form-control" placeholder="دکمه در سمت چپ" aria-describedby="button-addon1">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی دکمه در سمت راست</h4>
              <p>دکمه را در داخل اضافه کنید <code>.input-group-append</code> و کلاس <b>بعد از</b> <code>&lt;input&gt;</code></p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="دکمه در سمت راست" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-raised btn-primary" type="button">برو</button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">دکمه ورودی در هر دو طرف</h4>
              <p>دکمه را در داخل اضافه کنید <code>.input-group-prepend or .input-group-append</code> و کلاس <b>قبل از
                 و بعد از</b> <code>&lt;input&gt;</code></p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-raised btn-primary" type="button">دوستش دارم!</button>
                    </div>
                    <input type="text" class="form-control" placeholder="دکمه در هر دو طرف" aria-label="Amount">
                    <div class="input-group-append">
                      <button class="btn btn-raised btn-primary" type="button">ازش متنفرم!</button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">دکمه آیکون ورودی در سمت چپ</h4>
              <p>دکمه را در داخل اضافه کنید <code>.input-group-prepend</code> و کلاس <b>قبل از</b> <code>&lt;input&gt;</code></p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-raised btn-primary" type="button"><i class="ft-mic"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="دکمه در سمت چپ" aria-describedby="button-addon3">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی دکمه در سمت راست</h4>
              <p>دکمه را در داخل اضافه کنید <code>.input-group-append</code> و کلاس <b>بعد از</b> <code>&lt;input&gt;</code></p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="دکمه سمت راست" aria-describedby="button-addon4">
                    <div class="input-group-append">
                      <button class="btn btn-raised btn-primary" type="button"><i class="fa fa-skyatlas"></i></button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">دکمه ورودی در هر دو طرف</h4>
              <p>دکمه را در داخل اضافه کنید <code>.input-group-prepend or .input-group-append</code> و کلاس <b>قبل از و بعد از
              </b> <code>&lt;input&gt;</code></p>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-raised btn-primary" type="button"><i class="ft-search"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="دکمه در هر دو طرف" aria-label="Amount">
                    <div class="input-group-append">
                      <button class="btn btn-raised btn-primary" type="button">برو!</button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Input Group Buttons end -->

    <!-- Buttons with Dropdown start -->
    <section class="buttons-with-dropdown" id="input-group-dropdown">
      <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
          <div class="content-header">دکمه ها با کشویی</div>
        </div>
      </div>
      <div class="row text-left" matchHeight="card">
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی کشویی در سمت راست</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="به سمت راست بکشید">
                    <div class="input-group-append">
                      <span ngbDropdown placement="top-right">
                        <button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>عمل</button>
                        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
                          <button class="dropdown-item">عمل</button>
                          <button class="dropdown-item">عملی دیگر</button>
                          <button class="dropdown-item">چیز دیگری اینجاست</button>
                          <div role="separator" class="dropdown-divider"></div>
                          <button class="dropdown-item">پیوند جدا شده</button>
                        </div>
                      </span>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی کشویی در سمت چپ</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span ngbDropdown placement="top-right">
                      <button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>عمل</button>
                      <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
                        <button class="dropdown-item">عمل</button>
                        <button class="dropdown-item">عملی دیگر</button>
                        <button class="dropdown-item">چیز دیگری اینجاست</button>
                      </div>
                    </span>
                  </div>
                  <input type="text" class="form-control">
                </div><!-- /input-group -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">گروه ورودی کشویی در هر دو طرف</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <fieldset>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span ngbDropdown placement="top-right">
                        <button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>
                          <i class="fa fa-pencil"></i>
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
                          <button class="dropdown-item">عمل</button>
                          <button class="dropdown-item">عملی دیگر</button>
                          <button class="dropdown-item">چیز دیگری اینجاست</button>
                          <div role="separator" class="dropdown-divider"></div>
                          <button class="dropdown-item">پیوند جدا شده</button>
                        </div>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="در هر دو طرف افتادن" aria-label="Amount">
                    <div class="input-group-append">
                      <span ngbDropdown placement="top-right">
                        <button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>عمل</button>
                        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
                          <button class="dropdown-item">عمل</button>
                          <button class="dropdown-item">عملی دیگر</button>
                          <button class="dropdown-item">چیز دیگری اینجاست</button>
                          <div role="separator" class="dropdown-divider"></div>
                          <button class="dropdown-item">پیوند جدا شده</button>
                        </div>
                      </span>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Buttons with Dropdown end -->
