<style>
    .box {
        position: relative;
        border-radius: 10px;
        height: 100%;
        margin: 10px auto 20px;
        padding: 4.2% 4.85% 13%;
        text-align: center;
        display: block;
        overflow: hidden;
        transition: none;
    }


    .pic-scroll {
        position: absolute;
        top: 8%;
        left: 20%;
        height: auto;
        background: rgb(148, 193, 31);
        background: rgba(148, 193, 31, 0.5);
        -webkit-transition: top 1s;
        transition: top 1s;
    }
    .manitor {
        z-index: 10;
        position: fixed;
        left: 8%;
    }
    .box:hover .pic-scroll {
        top: -100%;
    }
</style>
<div class="modal-body" style="height: 600px;">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="cmsPageDesign.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ cmsPageDesign.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmCmsPageAdd" novalidate ng-submit="cmsPageDesign.saveDefaultJsonValue(frmCmsPageAdd)">
                <div class='hr-line-dashed'></div>
                <div class='form-group'>
                    <label class='col-sm-1 control-label'>{{'category'|lowercase|translate}}&nbsp;{{'SITE'|lowercase|translate}}</label>
                    <div class='col-sm-5'>
                        <select ng-change='cmsPageDesign.onSiteCategoryChange(cmsPageDesign.selectedItem.LinkSiteCategoryId)' ng-model="cmsPageDesign.selectedItem.LinkSiteCategoryId" class='form-control'>
                            <option value="0" >همه</option>
                            <option ng-repeat="x in cmsPageDesign.cmsSiteCategoryListItems" value="{{x.Id}}">{{x.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-7 hr-line-dashed'></div>
                <div class="form-group" ng-show="cmsPageDesign.gridOptions.resultAccess.AccessEditField.indexOf('PageJsonValue')>-1">
                    <br /><br /><br />
                    <label class="col-sm-1 control-label">{{'page'|lowercase|translate}}&nbsp;{{'default'|lowercase|translate}}</label>
                    <div class="col-sm-6">
                        <div ng-repeat="x in cmsPageDesign.cmsDefaultPageListItems" class="file-box">
                            <div class="file">
                                <span class="corner"></span>
                                <div class="image" ng-mouseover="cmsPageDesign.LargeImage(x)" ng-mouseleave="cmsPageDesign.LargeImage(cmsPageDesign.LargeImageSelectPage)">
                                    <img alt="{{x.Title}}" class="img-responsive" ng-src="{{x.Url}}">
                                </div>
                                <div class="file-name text-center">
                                    <h4>{{x.Title}}</h4>
                                    <input type="radio"  name="default_pages"  ng-click="cmsPageDesign.onDefaultPageSelect(x)" class="form-control" style="height: 22px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5" style="position: fixed;left: 0;top: 50px;">
                        <p style="position: fixed;top: 50px;">{{ cmsPageDesign.LargeImageSelect.Title}}</p>
                        <div class="box">
                            <div class="box_content">
                               
                                <div>
                                    <img ng-src="http://placehold.it/1000x1000" style="    width: 373px;" class="pic-scroll">
                                </div>
                                <img src="../../../CmsFiles/img/desktop.png"  class="manitor"/>
                            </div>
                            </div>
                            <div style="position: fixed;top: 346px;">
                                <br />
                                <a class="btn btn-primary" style="width: 402px;" ng-disabled="!(cmsPageDesign.LargeImageSelect.Id > 0)" target="_blank" href="/page/{{ cmsPageDesign.LargeImageSelect.Id}}/{{ cmsPageDesign.LargeImageSelect.LinkSiteId}}">پیش نمایش سایت اصلی</a>
                                <br />
                                <a class="btn btn-primary" style="width: 402px;" ng-disabled="cmsPageDesign.LargeImageSelect.LinkCmsPageId == null" target="_blank" href="/page/{{ cmsPageDesign.LargeImageSelect.Id}}/{{ cmsPageDesign.LargeImageSelect.LinkSiteId}}/?pageByMaster=false"> پیش نمایش سایت اصلی بدون صفحه مادر</a>
                                <br />
                                <a class="btn btn-primary" style="width: 402px;" ng-disabled="!(cmsPageDesign.LargeImageSelect.Id > 0)" target="_blank" href="/page/{{ cmsPageDesign.LargeImageSelect.Id}}/{{ tokenInfo.Item.SiteId}}/{{ cmsPageDesign.LinkParentId}}">پیش نمایش سایت </a>
                                <br />
                                <a class="btn btn-primary" style="width: 402px;" ng-disabled="cmsPageDesign.selectedItem.LinkCmsPageId == null" target="_blank" href="/page/{{ cmsPageDesign.LargeImageSelect.Id}}/{{ tokenInfo.Item.SiteId}}/?pageByMaster=false"> پیش نمایش سایت  بدون صفحه مادر</a>
                            </div>
                            <div class="form-group" style="position: fixed;top: 515px;">
                                <button class="btn btn-primary" ng-disabled="cmsPageDesign.addRequested" type="submit">{{'save'|lowercase|translate}}</button>
                                <button class="btn btn-default" type="button" ng-click="cmsPageDesign.closeModal()">{{'cancel'|lowercase|translate}}</button>
                            </div>
                        </div>
                    </div>
</form>
        </div>
    </div>
</div>

