<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="memberUser.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ memberUser.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmmemberUserEdit" novalidate ng-submit="memberUser.editCategory(frmmemberUserEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="memberUser.gridOptions.resultAccessGroup.AccessAddField.indexOf('RecordStatus')>-1"
                                 ng-class="{'has-error' : frmmemberUserEdit.RecordStatus.$invalid && !frmmemberUserEdit.RecordStatus.$pristine,'has-success' : frmmemberUserEdit.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="memberUser"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="memberUser.gridOptions.resultAccessGroup.AccessAddField.indexOf('Title')>-1"
                                 ng-class="{'has-error' : frmmemberUserEdit.Title.$invalid && !frmmemberUserEdit.Title.$pristine,'has-success' : frmmemberUserEdit.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="memberUser.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmmemberUserEdit.Title.$invalid">
                                        <small class="text-danger" ng-show="frmmemberUserEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmmemberUserEdit.Title.$valid && frmmemberUserEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmmemberUserEdit.Title.$invalid && !frmmemberUserEdit.Title.$pristine) || frmmemberUserEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" >
                                <label class="col-sm-2 control-label">LinkPropertyTypeId</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkPropertyTypeId" rasha-autocomplete="memberUser.LinkPropertyTypeIdSelector" ng-model="memberUser.selectedItem.LinkPropertyTypeId" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="memberUser.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="memberUser.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

