<div class="wrapper wrapper-content animated fadeInRight" ng-controller="cmsUserController as cmsUser" ng-init="cmsUser.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-primary" rasha-userrole="cmsUserController.Add" ng-click="cmsUser.openAddModal()" ng-show="cmsUser.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="cmsUserController.Edit" ng-click="cmsUser.openEditModal()"ng-show="cmsUser.gridOptions.resultAccess.AccessEditRow" type="button">{{'edit'|lowercase|translate}}</button>
            <button class="btn btn-danger" rasha-userrole="cmsUserController.Delete" ng-click="cmsUser.deleteRow()"ng-show="cmsUser.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'delete'|lowercase|translate}}</button>
            <button class="btn btn-success" ng-click="cmsUser.showAdvancedSearchPanel(cmsUser.gridOptions.resultAccess.AccessSearchField)">{{'advanced_search'|lowercase|translate}}&nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="cmsUser.gridOptions.showGridSettings()">{{'display_setting'|lowercase|translate}}</button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="cmsUser.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="cmsUser.getCount()">{{'number'|lowercase|translate}}&nbsp;{{cmsUser.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="builder" query-builder="cmsUser"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="cmsUser.getRules()">{{'look'|lowercase|translate}}</button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="cmsUser.getJson()">{{'save_condition'|lowercase|translate}}</button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="cmsUser.getJson()">{{'restore_condition'|lowercase|translate}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div rasha-grid="cmsUser.gridOptions"></div>
        </div>
    </div>
</div>

