<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="loginCtrl as login" rasha-loading="login.loginBusyIndicator" ng-init="login.init()">
    <div></div>
    <div>
        <div>
            <h1 class="logo-name"><i class="fa fa-lock"></i></h1>
        </div>
        <h3>{{ 'PAGE_LOGIN_TITLE' |lowercase|translate}}</h3>
        <p>
            {{ 'PAGE_LOGIN_DESCRIPTION' |lowercase|translate}}
        </p>
        <!--<p>Login in. To see it in action.</p>-->
        <form class="m-t" role="form" novalidate="" ng-submit="login.verifyLogin()">

            <div class="form-group">
                <input type="text" ng-disabled="login.loginRequest" class="form-control" style="direction:ltr" placeholder="{{'USERNAME' |lowercase|translate}}" required="" ng-model="login.emailData">
            </div>
            <div class="form-group">
                <input type="password" ng-disabled="login.loginRequest" class="form-control" style="direction:ltr" placeholder="{{'PASSWORD' |lowercase|translate}}" required="" ng-model="login.passwordData">
            </div>
            <div class="form-group">
                <select class="form-control ltr-support" ng-model="login.language" ng-change="login.changeLang()">
                    <option value="fa_IR">فارسی</option>
                    <option value="en_US">English</option>
                    <option value="el_GR">German</option>
                    <option value="ar_AE">عربی</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="login.loginRequest">{{'LOG_IN' |lowercase|translate}}</button>
        </form>
        <p class="m-t">
            <small>{{ 'COPYRIGHT' |lowercase|translate}}</small>
        </p>

        <button class="btn btn-warning" ng-click="login.goToNewSite()" ng-show="false"><i class="fa fa-server"></i> {{'PAGE_LOGIN_BUTTON_NEWSITE' |lowercase|translate}}</button>
        <button class="btn btn-info" ui-sref="user_wizard.step_one" xng-click="login.goToNewUser()" ng-show="false"><i class="fa fa-user-plus"></i> {{'PAGE_LOGIN_BUTTON_NEWUSER' |lowercase|translate}}</button>

    </div>
</div>
