<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="serviceContent.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Edit_Content' |lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmserviceContentEdit" novalidate ng-submit="serviceContent.editContent(frmserviceContentEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="serviceContent.gridOptions.resultAccess.AccessEditField.indexOf('RecordStatus')>-1"
                                 ng-class="{'has-error' : frmserviceContentAdd.RecordStatus.$invalid && !frmserviceContentAdd.RecordStatus.$pristine,'has-success' : frmserviceContentAdd.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="serviceContent"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="serviceContent.gridOptions.resultAccess.AccessAddField.indexOf('LinkCategoryId')>-1">
                                <label class="col-sm-2 control-label">{{'category'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkCategoryId" rasha-autocomplete="serviceContent.LinkCategoryIdSelector" ng-model="serviceContent.selectedItem.LinkCategoryId" />
                                </div>
                            </div>
                            <div class="form-group" ng-show="serviceContent.gridOptions.resultAccess.AccessEditField.indexOf('Title')>-1"
                                 ng-class="{'has-error' : frmserviceContentEdit.Title.$invalid && !frmserviceContentEdit.Title.$pristine,'has-success' : frmserviceContentEdit.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Name"
                                           ng-model="serviceContent.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmserviceContentEdit.Title.$invalid">
                                        <small class="text-danger" ng-show="frmserviceContentEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmserviceContentEdit.Title.$valid && frmserviceContentEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmserviceContentEdit.Title.$invalid && !frmserviceContentEdit.Title.$pristine) || frmserviceContentEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class='form-group'>
                                <label class='col-sm-2 control-label'> {{'description'|lowercase|translate}} </label>
                                <div class='col-sm-10'>
                                    <textarea type='text' ng-required="true" ng-model='serviceContent.selectedItem.Description' class='form-control' style="resize: vertical;height: 100px;"></textarea>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2  control-label"> {{'DATE'|lowercase|translate}} {{'INSERT'|lowercase|translate}} </label>
                                <div class="col-sm-6  col-md-4">
                                    <adm-dtp ng-model='FromDate' ng-model-db="serviceContent.selectedItem.FromDate" full-data='FromDate_detail' maxdate="{{ToDate_detail.unix}}" options='{calType: "jalali",format: "YYYY/MM/DD hh:mm", zIndex:10000}' ng-show="serviceContent.gridOptions.resultAccess.AccessEditField.indexOf('FromDate')>-1"></adm-dtp>
                                </div>
                                <label class="col-sm-2  control-label"> {{'FINISH_DATE'|lowercase|translate}} </label>
                                <div class="col-sm-6 col-md-4">
                                    <adm-dtp ng-model='ToDate' ng-model-db="serviceContent.selectedItem.ToDate" full-data='ToDate_detail' mindate="{{FromDate_detail.unix}}" options='{calType: "jalali",format: "YYYY/MM/DD hh:mm", zIndex:10000}' ng-show="serviceContent.gridOptions.resultAccess.AccessEditField.indexOf('ToDate')>-1"></adm-dtp>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Content_Matter'|lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'TAGS'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <tags-input ng-model="serviceContent.tags" placeholder="{{'TAGS'|lowercase|translate}}" min-length="2" add-from-autocomplete-only="true" add-on-comma="true">
                                        <auto-complete source="serviceContent.loadTags($query)" module="servicetag" style="font-family: 'Yekan'"></auto-complete>
                                    </tags-input>
                                    <small>{{'Important_words_used_in_related_content_in_the_tag'|lowercase|translate}}</small>
                                </div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="serviceContent.gridOptions.resultAccess.AccessEditField.indexOf('Keyword')>-1"
                                 ng-class="{'has-error' : frmserviceContentEdit.Keyword.$invalid && !frmserviceContentEdit.Keyword.$pristine,'has-success' : frmserviceContentEdit.Keyword.$valid}">
                                <label class="col-sm-2 control-label"> {{'KEYWORDS'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <tags-input ng-model="serviceContent.kwords" placeholder="{{'Key_Word' |lowercase|translate}}" min-length="2" add-on-enter="true" add-on-comma="true">
                                        <auto-complete></auto-complete>
                                    </tags-input>
                                    <small>{{'Keywords_Help'|lowercase|translate}}</small>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'FULL_CONTENT'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <div summernote class="summernote" config="serviceContent.summernoteOptions" ng-model="serviceContent.selectedItem.Body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Attachments_Files'|lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'MAIN_IMAGE'|lowercase|translate}} </label>
                                <a class="btn btn-primary uoload-file-m" href="" ng-click="serviceContent.openUploadModal()" aria-label="Delete">
                                    {{'UPLOAD'|lowercase|translate}}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </a>
                                <label>{{serviceContent.FileItem.FileName}}</label>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="serviceContent.filePickerMainImage" ng-model="serviceContent.selectedItem.LinkMainImageId">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Podcast </label>
                                <a class="btn btn-primary uoload-file-m" href="" ng-click="serviceContent.openUploadModalPodcast()" aria-label="Delete">
                                    {{'UPLOAD'|lowercase|translate}}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </a>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="serviceContent.filePickerFilePodcast" ng-model="serviceContent.selectedItem.LinkFilePodcastId">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'ATTACH_FILE'|lowercase|translate}} </label>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="serviceContent.filePickerFiles" ng-model="serviceContent.selectedItem.LinkFileIds"></div>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-primary" ng-click="serviceContent.addAttachedFile(serviceContent.selectedItem.LinkFileIds)" style="margin-right: -52px;margin-top: 1px;" title="">
                                        <i class="fa fa-" aria-hidden="true" title="{{'ADD_FILE'|lowercase|translate}}" style="font-family: iransans;font-size: 12px;"> {{'ADD_FILE'|lowercase|translate}} </i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group col-sm-12" ng-repeat="x in serviceContent.attachedFiles">
                                    <label class="col-sm-2 control-label">{{$index + 1}}</label>
                                    <div class="input-group">
                                        <input type="text" id="option{{$index}}" class="form-control" ng-required="true" name="attachedFileName" required readonly="readonly" ng-model="x.filename">
                                        <span class="input-group-addon danger" style="background-color:#ed5565; cursor:pointer" title="{{'delete'|lowercase|translate}}" ng-click="serviceContent.deleteAttachedFile($index)"><i class="fa fa-remove"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Further_Information' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="serviceContent.gridOptions.resultAccess.AccessEditField.indexOf('Geolocation')>-1">
                                <label class="col-sm-2 control-label">{{'Position_On_The_Map'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div rasha-map="serviceContent.GeolocationConfig" />
                                </div>
                            </div>

                        </div>
                    </tab>
                    <tab heading="{{'Similar_Information' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class="form-group back1">
                                <br />

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{'Related' |lowercase|translate}}</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" name="LinkDestinationId" rasha-autocomplete="serviceContent.LinkDestinationIdSelector" ng-model="serviceContent.selectedItem.LinkDestinationId" />
                                    </div>
                                    <div class="col-sm-2">
                                        <a ng-click="serviceContent.moveSelected('Content', 'to',false)" class="btn btn-primary" aria-label="Settings" style="margin-right: 8px; margin-bottom: 8px;">{{'ADD_NOW' |lowercase|translate}}&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="controls">
                                    </div>
                                    <br />
                                    <table class="table table-striped table-bordered table-responsive floatThead-table" style="border:1px solid gray;max-height:400px;overflow:auto;">
                                        <thead>
                                            <tr>
                                                <th style="width:370px">{{'title' |lowercase|translate}}</th>
                                                <th>{{'OPERATOIN' |lowercase|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in serviceContent.selectedItem.Similars" style="max-height:30px">
                                                <td style="overflow:hidden">
                                                    {{x.Destination.Title}}
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger" ng-click="serviceContent.removeFromCollection(serviceContent.selectedItem.Similars,x.LinkDestinationId)" aria-label="Delete"> {{'REMOVE_FROM_LIST'|lowercase|translate}}&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="{{'Additional_Information'|lowercase|translate}}">
                        <div class="panel-body">
                            <div class="form-group back2">
                                <h4>{{'Additional_Information' |lowercase|translate}}</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{'title' |lowercase|translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="serviceContent.selectedItemOtherInfos.Title" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{'Information' |lowercase|translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="serviceContent.selectedItemOtherInfos.HtmlBody" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{'Information_Source' |lowercase|translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="serviceContent.selectedItemOtherInfos.Source" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <a ng-click="serviceContent.moveSelectedOtherInfo('Content', 'to')" class="btn btn-primary" aria-label="Settings" style="margin-right: 8px; margin-bottom: 8px;">{{'ADD_NOW' |lowercase|translate}}&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                </div>
                                <br />
                                <div class="col-sm-12">
                                    <h4>{{'Information' |lowercase|translate}}</h4>
                                    <div class="controls">
                                    </div>
                                    <br />
                                    <table class="table table-striped table-bordered table-responsive floatThead-table" style="border:1px solid gray;max-height:400px;overflow:auto;">
                                        <thead>
                                            <tr>
                                                <th style="width:20%">{{'title' |lowercase|translate}}</th>
                                                <th style="width:40%">{{'Information' |lowercase|translate}}</th>
                                                <th style="width:20%">{{'SOURCE' |lowercase|translate}}</th>
                                                <th>{{'OPERATOIN' |lowercase|translate}}</th>
                                                <th>{{'OPERATOIN' |lowercase|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="y in serviceContent.selectedItem.OtherInfos" style="max-height:30px">
                                                <td style="overflow:hidden">
                                                    {{y.Title}}
                                                </td>
                                                <td style="overflow:hidden">
                                                    {{y.HtmlBody}}
                                                </td>
                                                <td style="overflow:hidden">
                                                    {{y.Source}}
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger" ng-click="serviceContent.editOtherInfo(y)"> Edit&nbsp;<i class="fa fa-edit" aria-hidden="true"></i></a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger" ng-click="serviceContent.removeFromOtherInfo(serviceContent.selectedItem.OtherInfos,y.Title,y.HtmlBody,y.Source)" aria-label="Delete"> {{'REMOVE_FROM_LIST'|lowercase|translate}}&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </tab>						
                </tabset>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="serviceContent.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="serviceContent.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>