<div class="wrapper wrapper-content animated fadeInRight" ng-controller="bankPaymentTranscController as transc" ng-init="transc.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <!--<button class="btn btn-primary" rasha-userrole="transc.Add" ng-click="transc.openAddModal()" ng-show="transc.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>-->
            <!--<button class="btn btn-warning" rasha-userrole="transc.Edit" ng-click="transc.openEditModal()"ng-show="transc.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>-->
            <!--<button class="btn btn-danger" rasha-userrole="transc.Delete" ng-click="transc.deleteRow()" ng-show="transc.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>-->
            <button class="btn btn-success" type="button" ng-click="transc.showAdvancedSearchPanel(transc.gridOptions.resultAccess.AccessSearchField)"> {{'advanced_search'|lowercase|translate}} </button>
            <button class="btn btn-primary" type="button" ng-click="transc.toggleExportForm()"> {{'report'|lowercase|translate}} </button>
            <button class="btn btn-success" ng-click="transc.getCount()">{{'number'|lowercase|translate}}&nbsp;{{transc.ListItemsTotalRowCount}}</button>
            <button class="btn btn-warning" type="button" ng-click="transc.changeState('bankpaymentpublicconfig')">{{'BACK'|lowercase|translate}}&nbsp;&nbsp;<i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="transc" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div rasha-grid="transc.gridOptions"></div>
        </div>
    </div>
    <h3>جزییات</h3>
    <div class="row" id="gridLogs" style="display: none;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div rasha-grid="transc.gridLogs"></div>
        </div>
    </div>
</div>

