<div class="modal-body">
    <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="$dismiss()"></i>
    <h5>{{cmsSitegrd.gridOptions.selectedRow.item.Title}}
        <br>
        Id: {{cmsSitegrd.gridOptions.selectedRow.item.Id}}
        <br>
        {{cmsSitegrd.ModuleConfigSelected.TitleML}}</h5>
    <hr />
    <!-- Tile Section -->
    <div class="row" rasha-loading="cmsSitegrd.contentBusyConfig">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>
                        <i class="fa fa-folder-open fa"></i>&nbsp;{{'مقادیر ذخیره شده این وب
                        سایت'|lowercase|translate}}</h5>
                </div>
                <div class="panel-body">
                    <div style="position: relative">
                        <form method="get" class="form-horizontal" name="fSiteStorage" novalidate ng-submit="cmsSitegrd.SiteStorageSave(fSiteStorage)">
                            <div class="panel-body">
                                <div class="form-group" ng-class="{'has-error' : fSiteStorage.MainDataContentRowCount.$invalid && !fSiteStorage.MainDataContentRowCount.$pristine,'has-success' : fSiteStorage.MainDataContentRowCount.$valid}">
                                    <label class="col-sm-2 control-label"> {{'تعداد دسترسی ایجاد
                                        ردیف'|lowercase|translate}} </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" ng-required="true" name="MainDataContentRowCount"
                                            ng-model="cmsSitegrd.Item.SiteStorage.MainDataContentRowCount" />
                                        <div class="m-t-xs" ng-show="fSiteStorage.MainDataContentRowCount.$invalid">
                                            <small class="text-danger" ng-show="fSiteStorage.MainDataContentRowCount.$error.required"><i
                                                    class="fa fa-exclamation-triangle"></i>
                                                {{'this_information_is_required'|lowercase|translate}} </small>
                                        </div>
                                        <span style="left: 10px !important;" ng-show="fSiteStorage.MainDataContentRowCount.$valid && fSiteStorage.MainDataContentRowCount.$dirty"
                                            class="fa fa-check form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                        <span style="left: 10px !important;" ng-show="(fSiteStorage.MainDataContentRowCount.$invalid && !fSiteStorage.MainDataContentRowCount.$pristine) || fSiteStorage.submitted"
                                            class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class='hr-line-dashed'></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> {{'last_update'|lowercase|translate}}
                                    </label>
                                    <div class="col-sm-10">
                                        {{cmsSitegrd.Item.SiteStorage.UpdatedContent|jalaliDate:'HH:mm jYY/jMM/jDD'}}
                                    </div>
                                </div>

                                <div class='hr-line-dashed'></div>


                                <div class="form-group" ng-class="{'has-error' : fSiteStorage.SumSizeUploadMB.$invalid && !fSiteStorage.SumSizeUploadMB.$pristine,'has-success' : fSiteStorage.SumSizeUploadMB.$valid}">
                                    <label class="col-sm-2 control-label"> {{'مجموع فایل آپلود
                                        شده'|lowercase|translate}} </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-required="true" name="SumSizeUploadMB" ng-model="cmsSitegrd.Item.SiteStorage.SumSizeUploadMB" />
                                        <div class="m-t-xs" ng-show="fSiteStorage.SumSizeUploadMB.$invalid">
                                            <small class="text-danger" ng-show="fSiteStorage.SumSizeUploadMB.$error.required"><i
                                                    class="fa fa-exclamation-triangle"></i>
                                                {{'this_information_is_required'|lowercase|translate}} </small>
                                        </div>
                                        <span style="left: 10px !important;" ng-show="fSiteStorage.SumSizeUploadMB.$valid && fSiteStorage.SumSizeUploadMB.$dirty"
                                            class="fa fa-check form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                        <span style="left: 10px !important;" ng-show="(fSiteStorage.SumSizeUploadMB.$invalid && !fSiteStorage.SumSizeUploadMB.$pristine) || fSiteStorage.submitted"
                                            class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                    </div>
                                    <div class="col-sm-2">Mb</div>
                                </div>

                                <div class='hr-line-dashed'></div>


                                <div class="form-group">
                                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.buttonIsPressed" type="submit"
                                        ng-show="tokenInfo.UserAccessAdminAllowToProfessionalData">
                                        {{'save'|lowercase|translate}} </button>
                                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.buttonIsPressed" type="button"
                                        ng-click="cmsSitegrd.SiteStorageLoad()">
                                        {{'reload'|lowercase|translate}} </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>
                        <i class="fa fa-folder-open fa"></i>&nbsp;{{'تنظیمات دسترسی'|lowercase|translate}}</h5>
                </div>
                <div class="panel-body">
                    <div style="position: relative">
                        <form method="get" class="form-horizontal" name="fSiteAccess" novalidate ng-submit="cmsSitegrd.SiteAccessSave(fSiteAccess)">
                            <div class="panel-body">

                                <div class="form-group" ng-class="{'has-error' : fSiteAccess.MainDataContentRowCount.$invalid && !fSiteAccess.MainDataContentRowCount.$pristine,'has-success' : fSiteAccess.MainDataContentRowCount.$valid}">
                                    <label class="col-sm-2 control-label"> {{'تعداد دسترسی ایجاد
                                        ردیف'|lowercase|translate}} </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" ng-required="true" name="MainDataContentRowCount"
                                            ng-model="cmsSitegrd.Item.SiteAccess.MainDataContentRowCount" />
                                        <div class="m-t-xs" ng-show="fSiteAccess.MainDataContentRowCount.$invalid">
                                            <small class="text-danger" ng-show="fSiteAccess.MainDataContentRowCount.$error.required"><i
                                                    class="fa fa-exclamation-triangle"></i>
                                                {{'this_information_is_required'|lowercase|translate}} </small>
                                        </div>
                                        <span style="left: 10px !important;" ng-show="fSiteAccess.MainDataContentRowCount.$valid && fSiteAccess.MainDataContentRowCount.$dirty"
                                            class="fa fa-check form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                        <span style="left: 10px !important;" ng-show="(fSiteAccess.MainDataContentRowCount.$invalid && !fSiteAccess.MainDataContentRowCount.$pristine) || fSiteAccess.submitted"
                                            class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class='hr-line-dashed'></div>

                                <div class="form-group" ng-class="{'has-error' : fSiteAccess.AllCateSizeUploadMB.$invalid && !fSiteAccess.AllCateSizeUploadMB.$pristine,'has-success' : fSiteAccess.AllCateSizeUploadMB.$valid}">
                                    <label class="col-sm-2 control-label"> {{'حجم فایل در فایل
                                        منجر'|lowercase|translate}} </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-required="true" name="AllCateSizeUploadMB"
                                            ng-model="cmsSitegrd.Item.SiteAccess.AllCateSizeUploadMB" />
                                        <div class="m-t-xs" ng-show="fSiteAccess.AllCateSizeUploadMB.$invalid">
                                            <small class="text-danger" ng-show="fSiteAccess.AllCateSizeUploadMB.$error.required"><i
                                                    class="fa fa-exclamation-triangle"></i>
                                                {{'this_information_is_required'|lowercase|translate}} </small>
                                        </div>
                                        <span style="left: 10px !important;" ng-show="fSiteAccess.AllCateSizeUploadMB.$valid && fSiteAccess.AllCateSizeUploadMB.$dirty"
                                            class="fa fa-check form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                        <span style="left: 10px !important;" ng-show="(fSiteAccess.AllCateSizeUploadMB.$invalid && !fSiteAccess.AllCateSizeUploadMB.$pristine) || fSiteAccess.submitted"
                                            class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary"
                                            aria-hidden="true"></span>
                                    </div>
                                    <div class="col-sm-2">Mb</div>
                                </div>
                                <div class='hr-line-dashed'></div>


                                <div class="form-group">
                                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.buttonIsPressed" type="submit"
                                        ng-show="tokenInfo.UserAccessAdminAllowToProfessionalData">
                                        {{'save'|lowercase|translate}} </button>
                                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.buttonIsPressed" type="button"
                                        ng-click="cmsSitegrd.SiteAccessLoad()">
                                        {{'reload'|lowercase|translate}} </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>
                        <i class="fa fa-folder-open fa"></i>&nbsp;{{'تنظیمات سایت'|lowercase|translate}}</h5>
                </div>
                <div class="panel-body">
                    <div style="position: relative">
                        <form method="get" class="form-horizontal" name="fSite" novalidate ng-submit="cmsSitegrd.SiteSave(fSite)">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> {{'اجرا برای
                                        کاربر'|lowercase|translate}}
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" class="form-control" name="AccessBuy" ng-model="cmsSitegrd.Item.Site.StatusRenderUser" />
                                    </div>
                                </div>
                                <div class='hr-line-dashed'></div>

                                <div class="form-group">
                                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.buttonIsPressed" type="submit">
                                        {{'save'|lowercase|translate}} </button>
                                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.buttonIsPressed" type="button"
                                        ng-click="cmsSitegrd.SiteLoad()">
                                        {{'reload'|lowercase|translate}} </button>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>