<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor: pointer" ng-click="cmsCpMainMenugrd.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Menu' |lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmCmsCpMainMenuAdd" novalidate ng-submit="cmsCpMainMenugrd.addNewRow(frmCmsCpMainMenuAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class="form-group" ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('Title')>-1"
                                 ng-class="{'has-error' : frmCmsCpMainMenuAdd.Title.$invalid && !frmCmsCpMainMenuAdd.Title.$pristine,'has-success' : frmCmsCpMainMenuAdd.Title.$valid}">
                                <label class="col-sm-2 control-label">{{'title' |lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="cmsCpMainMenugrd.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmCmsCpMainMenuAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmCmsCpMainMenuAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'THIS_INFORMATION_IS_REQUIRED' |lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsCpMainMenuAdd.Title.$valid && frmCmsCpMainMenuAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsCpMainMenuAdd.Title.$invalid && !frmCmsCpMainMenuAdd.Title.$pristine) || frmCmsCpMainMenuAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('TitleResourceLanguage')>-1"
                                 ng-class="{'has-error' : frmCmsCpMainMenuAdd.TitleResourceLanguage.$invalid && !frmCmsCpMainMenuAdd.TitleResourceLanguage.$pristine,'has-success' : frmCmsCpMainMenuAdd.TitleResourceLanguage.$valid}">
                                <label class="col-sm-2 control-label">{{ 'TitleResourceLanguage' |lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="TitleResourceLanguage"
                                           ng-model="cmsCpMainMenugrd.selectedItem.TitleResourceLanguage" />
                                    <div class="m-t-xs" ng-show="frmCmsCpMainMenuAdd.TitleResourceLanguage.$invalid">
                                        <small class="text-danger" ng-show="frmCmsCpMainMenuAdd.TitleResourceLanguage.$error.required"><i class="fa fa-exclamation-triangle"></i> {{ 'THIS_INFORMATION_IS_REQUIRED' |lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsCpMainMenuAdd.TitleResourceLanguage.$valid && frmCmsCpMainMenuAdd.TitleResourceLanguage.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsCpMainMenuAdd.TitleResourceLanguage.$invalid && !frmCmsCpMainMenuAdd.TitleResourceLanguage.$pristine) || frmCmsCpMainMenuAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class='form-group' ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('Description')>-1"
                                 ng-class="{'has-error' : frmCmsCpMainMenuAdd.Description.$invalid && !frmCmsCpMainMenuAdd.Description.$pristine,'has-success' : frmCmsCpMainMenuAdd.Description.$valid}">
                                <label class='col-sm-2 control-label'>{{ 'DESCRIPTION'|lowercase|translate}}</label>
                                <div class='col-sm-10'>
                                    <textarea type='text' ng-required="true" ng-model='cmsCpMainMenugrd.selectedItem.Description' class='form-control' style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmCmsCpMainMenuAdd.Description.$invalid">
                                        <small class="text-danger" ng-show="frmCmsCpMainMenuAdd.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{ 'THIS_INFORMATION_IS_REQUIRED' |lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsCpMainMenuAdd.Description.$valid && frmCmsCpMainMenuAdd.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsCpMainMenuAdd.Description.$invalid && !frmCmsCpMainMenuAdd.Description.$pristine) || frmCmsCpMainMenuAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Menu_Settings' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class='form-group' ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('Icon')>-1">
                                <label class='col-sm-2 control-label'>{{'icon'|lowercase|translate}}</label>
                                <div class='col-sm-10'>
                                    <input type="text" class="form-control" ng-model="cmsCpMainMenugrd.selectedItem.Icon">
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class='form-group' ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('Color')>-1">
                                <label class='col-sm-2 control-label'>{{'Color'|lowercase|translate}}</label>
                                <div class='col-sm-10'>
                                    <input type="text" class="form-control" ng-model="cmsCpMainMenugrd.selectedItem.Color">
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class='form-group' ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('AddressLink')>-1">
                                <label class='col-sm-2 control-label'>{{'LINK_ADDRESS'|lowercase|translate}}</label>
                                <div class='col-sm-10'>
                                    <input type='text' style="direction:ltr" ng-model='cmsCpMainMenugrd.selectedItem.AddressLink' class='form-control ltr-support'>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('LinkParentId')>-1">
                                <label class="col-sm-2 control-label">{{ 'SELECT_THE_PARENT_PAGE'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkParentId" rasha-autocomplete="cmsCpMainMenugrd.LinkParentIdSelector" ng-model="cmsCpMainMenugrd.selectedItem.LinkParentId" />
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('MenuPlaceType')>-1">
                                <label class="col-sm-2 control-label">{{ 'Menu_Location'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <select class='form-control' name="MenuPlaceType" ng-model="cmsCpMainMenugrd.selectedItem.MenuPlaceType" ng-options="x.Value as x.Description for x in cmsCpMainMenugrd.MenuPlaceType" required></select>
                                    <span ng-show="frmcmsCpMainMenugrdAdd.MenuPlaceType.$error.required">{{'SELECT_INPUT_TYPE'|lowercase|translate}}</span>
                                </div>
                            </div>
                           
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Access_Settings' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input icheck type="checkbox" value="option1" id="ShowInMenu" ng-model="cmsCpMainMenugrd.selectedItem.ShowInMenu" /> {{ 'IS_SHOWNN_IN_MENU'|lowercase|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class='col-sm-2 control-label'>{{'SHOW_ORDER_IN_MENU'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input type="number" min="1" class="form-control" name="ShowInMenuOrder" ng-model="cmsCpMainMenugrd.selectedItem.ShowInMenuOrder" />
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input icheck type="checkbox" value="option1" id="AdministratorIsDependency" ng-model="cmsCpMainMenugrd.selectedItem.isDependencyModule" />{{ 'IS_DEPENDENT_TO_A_MODULE'|lowercase|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input icheck type="checkbox" value="option1" id="ShowInAccessAdminAllowToProfessionalData" ng-model="cmsCpMainMenugrd.selectedItem.ShowInAccessAdminAllowToProfessionalData" />نمایش با اطلاعات تخصصی؟
                                    </label>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('CmsCpMainMenuCmsUserGroup')>-1">
                                <label class="col-sm-2 control-label" style="text-align: right;">
                                    {{ 'SELECT_CATEGORY'|lowercase|translate}}</label>
                                <br />
                                <br />
                                    <div class="col-sm-8 checkBoxList" style="overflow-y: auto">
                                        <div ng-repeat="permission in cmsCpMainMenugrd.menueGroups">
                                            <label class="checkbox-inline" style="margin-bottom: 7px; margin-right: 141px;">
                                                <input type="checkbox" style="margin-right: -16px;" value="{{permission.Id}}" ng-checked="cmsCpMainMenugrd.hasInMany2Many(permission)" ng-click="cmsCpMainMenugrd.toggleMany2Many(role,permission)">
                                                {{permission.Title}}
                                            </label>
                                        </div>
                                    </div>
</div>
                            <div class="form-group" ng-show="cmsCpMainMenugrd.selectedItem.isDependencyModule && cmsCpMainMenugrd.gridOptions.resultAccess.AccessAddField.indexOf('LinkModuleId')>-1">
                                <label class="col-sm-2 control-label">{{ 'SELECT_MODULE'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="cmsCpMainMenugrd.selectedItem.LinkModuleId">
                                        <!--<option value="0"> {{'SELECT'|lowercase|translate}} </option>-->
                                        <option ng-repeat="module in cmsCpMainMenugrd.moduleList" value="{{module.Id}}">{{module.Title}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsCpMainMenugrd.addRequested" type="submit">{{ 'save'|lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="cmsCpMainMenugrd.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>