<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="discountOffer.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Edit_Offer'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmdiscountOfferEdit" novalidate ng-submit="discountOffer.editRow(frmdiscountOfferEdit)">
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountOfferEdit.LinkSourceId.$invalid && !frmdiscountOfferEdit.LinkSourceId.$pristine,'has-success' : frmdiscountOfferEdit.LinkSourceId.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="discountOffer"></div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountOfferEdit.DiscountOfferTitle.$invalid && !frmdiscountOfferEdit.DiscountOfferTitle.$pristine,'has-success' : frmdiscountOfferEdit.DiscountOfferTitle.$valid}">
                    <label class="col-sm-2 control-label">{{'DiscountOfferTitle'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="DiscountOfferTitle"
                               ng-model="discountOffer.selectedItem.DiscountOfferTitle" />
                        <div class="m-t-xs" ng-show="frmdiscountOfferEdit.DiscountOfferTitle.$invalid">
                            <small class="text-danger" ng-show="frmdiscountOfferEdit.DiscountOfferTitle.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountOfferEdit.DiscountOfferTitle.$valid && frmdiscountOfferEdit.DiscountOfferTitle.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountOfferEdit.DiscountOfferTitle.$invalid && !frmdiscountOfferEdit.DiscountOfferTitle.$pristine) || frmdiscountOfferEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed' ng-show="discountOffer.LinkMember"></div>
                <div class="form-group" ng-show="discountOffer.LinkMember">
                    <label class="col-sm-2 control-label">{{'Member_Id'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" readonly type="text" ng-model="discountOffer.selectedItem.LinkMemberId" />
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">{{'FINAL_CUSTPMER_NATIONAL_CODE'|lowercase|translate}}</label>
                    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" ng-model="discountOffer.selectedItem.LinkMemberId" />
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src=cmsServerConfig.configCpanelImages+"refresh.png" style="cursor:pointer;" ng-click="discountOffer.getUser(discountOffer.selectedItem.LinkMemberId)" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color:red">{{'To_add_or_change_customer_enter_the_customer_national_code'|lowercase|translate}}</div>
                </div>

                <div class="form-group" style="border-color:red;border-style:solid" ng-show="discountOffer.ViewFindUserDiv">
                    {{'FirstName_Label'|lowercase|translate}}<label class="control-label">{{discountOffer.selectedMember.FirstName}}</label>
                    <div class='hr-line-dashed'></div>
                    {{'LastName_Label'|lowercase|translate}}<label class="control-label">{{discountOffer.selectedMember.LastName}}</label>
                    <div class='hr-line-dashed'></div>
                    {{'Phone_Label'|lowercase|translate}}<label class="control-label">{{discountOffer.selectedMember.MobileNo}}</label>
                    <div class='hr-line-dashed'></div>
                    <label class="col-sm-2 control-label">{{'Customer_Id'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" readonly type="text" ng-model="discountOffer.selectedMember.Id" />
                    </div>
                </div>

                <div class='hr-line-dashed'></div>
                <div ng-show="discountOffer.ViewNewUserDiv">
                    <div style="color:red">{{'Your_Customer_Could_Not_Be_Found_Please_Enter_Customer_Profile_New'|lowercase|translate}}</div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'NAME'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountOffer.selectedMemberUser.FirstName" />
                            <small class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'LAST_NAME'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountOffer.selectedMemberUser.LastName" />
                            <small class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'Mobile'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountOffer.selectedMemberUser.MobileNo" />
                            <small class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'ADDRESS'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountOffer.selectedMemberUser.Address" />
                            <small class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'NATIONAL_CODE'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountOffer.selectedMemberUser.NationalCode" />
                            <small class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                    </div>
                </div>
                <br />
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountOfferEdit.FromDate.$invalid && !frmdiscountOfferEdit.FromDate.$pristine,'has-success' : frmdiscountOfferEdit.FromDate.$valid}">
                    <label class="col-sm-2 control-label"> {{'FromDate'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <div rasha-date-picker="discountOffer.FromDate" ng-model="discountOffer.selectedItem.FromDate"></div><input type="hidden" ng-model="discountOffer.selectedItem.FromDate" />
                        <div class="m-t-xs" ng-show="frmdiscountOfferEdit.FromDate.$invalid">
                            <small class="text-danger" ng-show="frmdiscountOfferEdit.FromDate.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountOfferEdit.FromDate.$valid && frmdiscountOfferEdit.FromDate.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountOfferEdit.FromDate.$invalid && !frmdiscountOfferEdit.FromDate.$pristine) || frmdiscountOfferEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountOfferEdit.ToDate.$invalid && !frmdiscountOfferEdit.ToDate.$pristine,'has-success' : frmdiscountOfferEdit.ToDate.$valid}">
                    <label class="col-sm-2 control-label"> {{'ToDate'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <div rasha-date-picker="discountOffer.ToDate" ng-model="discountOffer.selectedItem.ToDate"></div><input type="hidden" ng-model="discountOffer.selectedItem.ToDate" />
                        <div class="m-t-xs" ng-show="frmdiscountOfferEdit.ToDate.$invalid">
                            <small class="text-danger" ng-show="frmdiscountOfferEdit.ToDate.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountOfferEdit.ToDate.$valid && frmdiscountOfferEdit.ToDate.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountOfferEdit.ToDate.$invalid && !frmdiscountOfferEdit.ToDate.$pristine) || frmdiscountOfferEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>

                <!--<div class='hr-line-dashed'></div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="IsEnabled" ng-model="discountOffer.selectedItem.IsEnabled">{{'IsEnabled'|lowercase|translate}}
                            </label>
                        </div>
                    </div>
                </div>-->

                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="discountOffer.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="discountOffer.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
