<div class="wrapper wrapper-content animated fadeInRight" ng-controller="siteAccountingDocumentDetailTypeController as ServiceTag" ng-init="ServiceTag.init()">
    <!--    <div class="container">-->
    <div class="row" rasha-loading="ServiceTag.busyIndicator">
        <div class="col-sm-12">
            <!--<div rasha-loading="ServiceTag.busyIndicator"></div>-->
            <button class="btn btn-primary" rasha-userrole="ServiceTag.Add" ng-click="ServiceTag.openAddModal()" ng-show="ServiceTag.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="ServiceTag.Edit" ng-click="ServiceTag.openEditModal()" ng-show="ServiceTag.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="ServiceTag.Delete" ng-click="ServiceTag.deleteRow()" ng-show="ServiceTag.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="ServiceTag.showAdvancedSearchPanel(ServiceTag.gridOptions.resultAccess.AccessSearchField)"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <!--<button class="btn btn-warning" type="button" ng-click="ServiceTag.openGridConfigModal()" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>-->
            <!--<button class="btn btn-default" type="button" ng-click="ServiceTag.reportData()"> {{'report'|lowercase|translate}} </button>-->
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="ServiceTag"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="ServiceTag.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="ServiceTag.saveRules()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="ServiceTag.setRules()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="ServiceTag.gridOptions"></div>
        </div>
    </div>
</div>

