<div class="wrapper wrapper-content animated fadeInRight" ng-controller="advertisementPropertyDetailController as advertisementPropertyDetail" ng-init="advertisementPropertyDetail.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h5><i class="fa fa-folder-open fa"></i>&nbsp;{{'category'|lowercase|translate}}&nbsp;{{'feature'|lowercase|translate}}</h5></div>
                    <div class="panel-body">
                        <div style="position: relative">
                            <ul class="tree" tree-options="advertisementPropertyDetail.treeConfig"></ul>
                        </div>
                        <!-- Category Section -->
                        <div style="margin-top: 20px;">
                            <a ng-click="advertisementPropertyDetail.toggleCategoryButtons()" title="{{'operatoin'|lowercase|translate}}" class="btn btn-primary">
                                <i class="fa fa-bars" style="text-align: center;" aria-hidden="true"></i>
                            </a>
                            <div id="categoryButtons" style="display: none;">
                                <button class="btn btn-primary" style="width: 100%; margin-top:5px;" rasha-userrole="advertisementPropertyDetail.Add" ng-click="advertisementPropertyDetail.openAddCategoryModal()" ng-show="advertisementPropertyDetail.gridOptions.resultAccess.AccessAddRow" type="button"><i class="fa fa-plus-square fontavesome-small"></i>&nbsp; {{'add'|lowercase|translate}} </button>
                                <button class="btn btn-warning" style="width: 100%;margin-top:5px;" rasha-userrole="advertisementPropertyDetail.Edit" ng-click="advertisementPropertyDetail.openEditCategoryModal()" ng-show="advertisementPropertyDetail.gridOptions.resultAccess.AccessEditRow" type="button"><i class="fa fa-edit fontavesome-small"></i>&nbsp;{{'edit'|lowercase|translate}} </button>
                                <button class="btn btn-danger" style="width: 100%;margin-top:5px;" rasha-userrole="advertisementPropertyDetail.Delete" ng-click="advertisementPropertyDetail.deleteCategory()" ng-show="advertisementPropertyDetail.gridOptions.resultAccess.AccessDeleteRow" type="button"> <i class="fa  fa-remove fontavesome-small"></i>&nbsp;{{'delete'|lowercase|translate}} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10" style="position: relative">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5><i class="fa fa-articlepaper-o " style="font-size: 18px;"></i>&nbsp;&nbsp;{{'Feature_List'|lowercase|translate}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <button class="btn btn-primary" ng-show="advertisementPropertyDetail.gridOptions.resultAccess.AccessAddRow" ng-click="advertisementPropertyDetail.openAddContentModal()"><i class="fa fa-plus-square fontavesome-small"></i>&nbsp; {{'add'|lowercase|translate}}</button>
                    <button class="btn btn-warning" ng-show="advertisementPropertyDetail.gridOptions.resultAccess.AccessEditRow" ng-click="advertisementPropertyDetail.openEditContentModal()"><i class="fa fa-edit fontavesome-small"></i>&nbsp; {{'edit'|lowercase|translate}} </button>
                    <button class="btn btn-danger" ng-show="advertisementPropertyDetail.gridOptions.resultAccess.AccessDeleteRow" ng-click="advertisementPropertyDetail.deleteContent()"><i class="fa fa-remove fontavesome-small"></i>&nbsp; {{'delete'|lowercase|translate}}</button>
                    <button class="btn btn-success" ng-click="advertisementPropertyDetail.showAdvancedSearchPanel(advertisementPropertyDetail.gridOptions.resultAccess.AccessSearchField)"><i class="fa fa-search fontavesome-small"></i>&nbsp; {{'advanced_search'|lowercase|translate}}&nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
                    <button class="btn btn-warning" type="button" ng-click="advertisementPropertyDetail.openGridConfigModal()" id="gridView-btn"><i class="fa fa-cog fontavesome-small"></i>&nbsp; {{'display_setting'|lowercase|translate}}</button>
                    <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="advertisementPropertyDetail.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
                    <button class="btn btn-success" ng-click="advertisementPropertyDetail.getCount()">{{'number'|lowercase|translate}}&nbsp;{{advertisementPropertyDetail.ListItemsTotalRowCount}}</button>
                    <button class="btn btn-info" type="button" ng-click="advertisementPropertyDetail.backToState('index.advertisementpropertytype')"><i class="fa fa-arrow-left"></i>&nbsp;{{'BACK'|lowercase|translate}} </button>
                </div>
                <hr />
                <div class="col-sm-12 col-lg-12 col-md-12" id="builderPanel" style="display: none; margin-bottom: 10px;">
                    <div id="builder" query-builder="advertisementPropertyDetail"></div>
                    <div class="btn-group" style="float: left;">
                        <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="advertisementPropertyDetail.getRules()"> {{'look'|lowercase|translate}} </button>
                        <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="advertisementPropertyDetail.saveRules()"> {{'save_condition'|lowercase|translate}} </button>
                        <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="advertisementPropertyDetail.setRules()"> {{'restore_condition'|lowercase|translate}} </button>
                    </div>
                </div>
                <br />
                <div class='hr-line-dashed'></div>
                <br /><br /><br />
                <div class="col-md-12" rasha-loading="advertisementPropertyDetail.busyIndicator">
                    <div rasha-grid="advertisementPropertyDetail.gridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>