<div class="wrapper wrapper-content animated fadeInRight" ng-controller="cmsUserGroupGridCtrl as cmsUserGroupgrd" ng-init="cmsUserGroupgrd.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" rasha-userrole="cmsUserGroupController.Add" ng-click="cmsUserGroupgrd.openAddModal()" ng-show="cmsUserGroupgrd.gridOptions.resultAccess.AccessAddRow" type="button">{{'ADD'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="cmsUserGroupController.Edit" ng-click="cmsUserGroupgrd.openEditModal()" ng-show="cmsUserGroupgrd.gridOptions.resultAccess.AccessEditRow" type="button">{{'EDIT'|lowercase|translate}}</button>
            <button class="btn btn-danger" rasha-userrole="cmsUserGroupController.Delete" ng-click="cmsUserGroupgrd.deleteRow()" ng-show="cmsUserGroupgrd.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'DELETE'|lowercase|translate}}</button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="cmsUserGroupgrd.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="cmsUserGroupgrd.getCount()">{{'number'|lowercase|translate}}&nbsp;{{cmsUserGroupgrd.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="cmsUserGroupgrd"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="newsComment.getRules()">{{'LOOK'|lowercase|translate}}</button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="newsComment.saveRules()">{{'save_condition'|lowercase|translate}}</button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="newsComment.setRules()">{{'restore_condition'|lowercase|translate}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="cmsUserGroupgrd.gridOptions"></div>
        </div>
    </div>
</div>

