<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="ticketingTask.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ ticketingTask.modalTitle}}</h3>
            <div class='hr-line-dashed'></div>
            <form method="get" class="form-horizontal" name="frmticketingTaskEdit" novalidate>
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <!-- Title -->
                        <div class="form-group" ng-show="ticketingTask.gridOptions.resultAccess.AccessWatchField.indexOf('Title')>-1">
                            <label class="col-sm-2 control-label">موضوع</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="Title" ng-model="ticketingTask.selectedItem.Title" ng-readonly="true" />
                            </div>
                        </div>
                        <!-- HtmlBody -->
                        <div class="form-group" ng-show="ticketingTask.gridOptions.resultAccess.AccessWatchField.indexOf('HtmlBody')>-1">
                            <label class="col-sm-2 control-label">پیام</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="HtmlBody" ng-model="ticketingTask.selectedItem.HtmlBody" style="resize:vertical;height:50px" ng-readonly="true"></textarea>
                                <div class="m-t-xs" ng-show="frmticketingTaskEdit.LinkSiteId.$invalid">
                                    <small class="text-danger" ng-show="frmticketingTaskEdit.LinkSiteId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                </div>
                                <span style="left: 10px !important;" ng-show="frmticketingTaskEdit.LinkSiteId.$valid && frmticketingTaskEdit.LinkSiteId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                <span style="left: 10px !important;" ng-show="(frmticketingTaskEdit.LinkSiteId.$invalid && !frmticketingTaskEdit.LinkSiteId.$pristine) || frmticketingTaskEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                            </div>
                        </div>
                        <!-- TicketType -->
                        <div class="form-group" ng-show="ticketingTask.gridOptions.resultAccess.AccessWatchField.indexOf('LinkTicketingDepartemenId')>-1">
                            <label class="col-sm-2 control-label">بخش تیکت</label>
                            <div class="col-sm-10">
                                <input class="form-control" ng-required="true" name="TicketType" ng-model="ticketingTask.selectedItem.virtual_TicketType.Title" ng-readonly="true" />
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Attachments_Files'|lowercase|translate}}">
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'ATTACH_FILE'|lowercase|translate}} </label>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="ticketingTask.filePickerFiles" ng-model="ticketingTask.selectedItem.LinkFileIds"></div>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-primary" ng-click="ticketingTask.addAttachedFile(ticketingTask.selectedItem.LinkFileIds)" style="margin-right: -52px;margin-top: 1px;" title="">
                                        <i class="fa fa" aria-hidden="true" title="{{'ADD_FILE'|lowercase|translate}}" style="font-family: iransans;font-size: 12px;"> {{'ADD_FILE'|lowercase|translate}} </i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group col-sm-12" ng-repeat="x in ticketingTask.attachedFiles">
                                    <label class="col-sm-2 control-label">{{$index + 1}}</label>
                                    <div class="input-group">
                                        <input type="text" id="option{{$index}}" class="form-control" ng-required="true" name="attachedFileName" required readonly="readonly" ng-model="x.filename">
                                        <span class="input-group-addon danger" style="background-color:#ed5565; cursor:pointer" title="{{'delete'|lowercase|translate}}" ng-click="ticketingTask.deleteAttachedFile($index)"><i class="fa fa-remove"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-default" type="button" ng-click="ticketingTask.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
