<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ticketingTaskController as ticketingTask" ng-init="ticketingTask.init()">
    <!-- <div class="container">-->
    <div class="row">
        <div class="col-md-12">
                <!-- <button class="btn btn-primary" ng-click="ticketingTask.openAddModal()"><i class="fa fa-plas" aria-hidden="true"></i>&nbsp;{{'ADD'|lowercase|translate}}</button> -->

            <button class="btn btn-warning" ng-click="ticketingTask.openEditModal()"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{'VIEW'|lowercase|translate}}</button>
            <button class="btn btn-danger" ng-click="ticketingTask.delete()" ng-show="ticketingTask.gridOptions.resultAccess.AccessDeleteRow"><i class="fa fa-remove fontavesome-small"></i>&nbsp; {{'delete'|lowercase|translate}}</button>
            <button class="btn btn-info" ng-click="ticketingTask.assingTo()"><i class="fa fa-send fontavesome-small"></i>&nbsp;{{'Refer_To'|lowercase|translate}}</button>
            <button class="btn btn-primary" ng-click="ticketingTask.openAddAnswerModal()"><i class="fa fa-reply fontavesome-small"></i>&nbsp;{{'Respone'|lowercase|translate}}</button>
            <button class="btn btn-success" type="button" ng-click="ticketingTask.showAdvancedSearchPanel()">&nbsp;{{'advanced_search'|lowercase|translate}}&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="ticketingTask.openGridConfigModal()" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="ticketingTask.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="ticketingTask.getCount()">{{'number'|lowercase|translate}}&nbsp;{{ticketingTask.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="ticketingTask"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="ticketingTask.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="ticketingTask.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="ticketingTask.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row" rasha-loading="ticketingTask.busyIndicator">
        <div class="col-md-12">
            <div rasha-grid="ticketingTask.gridOptions"></div>
        </div>
    </div>
    <h3>{{'Respones'|lowercase|translate}}</h3>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-warning" ng-click="ticketingTask.openEditAnswerModal()" ng-show="ticketingTask.gridOptions.resultAccess.AccessEditRow"><i class="fa fa-edit fontavesome-small"></i>&nbsp; {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" ng-click="ticketingTask.deleteAnswer()" ng-show="ticketingTask.gridOptions.resultAccess.AccessDeleteRow"><i class="fa fa-remove fontavesome-small"></i>&nbsp; {{'delete'|lowercase|translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div rasha-grid="ticketingTask.answersGridOptions"></div>
        </div>
    </div>
</div>
