<div class="wrapper wrapper-content animated fadeInRight" ng-controller="reservationAppointmentDateDetailController as appDateDetail" ng-init="appDateDetail.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="appDateDetail.busyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="appDateDetail.Add" ng-click="appDateDetail.openAddModal()" ng-show="appDateDetail.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="appDateDetail.Edit" ng-click="appDateDetail.openEditModal()" ng-show="appDateDetail.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="appDateDetail.Delete" ng-click="appDateDetail.deleteRow()" type="button" ng-show="appDateDetail.gridOptions.resultAccess.AccessDeleteRow"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="appDateDetail.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i> </button>
            <!--<button class="btn btn-warning" type="button" ng-click="appDateDetail.openGridConfigModal(appDateDetail.gridOptions.resultAccess.AccessSearchField)" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>-->
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="appDateDetail.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="appDateDetail.getCount()">{{'number'|lowercase|translate}}&nbsp;{{appDateDetail.ListItemsTotalRowCount}}</button>
            
        </div>
    </div>
     <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="appDateDetail"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="appDateDetail.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="appDateDetail.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="appDateDetail.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="appDateDetail.gridOptions"></div>
        </div>
        
    </div>
</div>

