<div class="wrapper wrapper-content animated fadeInRight" ng-controller="cmsUserGroupPageRoleGridCtrl as cmsUserGroupPageRolegrd" ng-init="cmsUserGroupPageRolegrd.init()">
    <!-- <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" rasha-userrole="cmsUserGroupPageRoleController.Add" ng-click="cmsUserGroupPageRolegrd.openAddModal()" ng-show="cmsUserGroupPageRolegrd.gridOptions.resultAccess.AccessAddRow" type="button">{{'ADD'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="cmsUserGroupPageRoleController.Edit" ng-click="cmsUserGroupPageRolegrd.openEditModal()" ng-show="cmsUserGroupPageRolegrd.gridOptions.resultAccess.AccessEditRow" type="button">{{'EDIT'|lowercase|translate}}</button>
            <button class="btn btn-danger" rasha-userrole="cmsUserGroupPageRoleController.Delete" ng-click="cmsUserGroupPageRolegrd.deleteRow()" ng-show="cmsUserGroupPageRolegrd.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'DELETE'|lowercase|translate}}</button>
            <button class="btn btn-success" type="button" ng-click="cmsUserGroupPageRolegrd.searchData()">{{'advanced_search'|lowercase|translate}}</button>
            <button class="btn btn-primary" type="button" ng-click="cmsUserGroupPageRolegrd.reportData()">{{'report'|lowercase|translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="cmsUserGroupPageRolegrd.gridOptions"></div>
        </div>
    </div>
</div>

