<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="blogContentTag.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ blogContentTag.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmblogContentTagEdit" novalidate ng-submit="blogContentTag.editRow(frmblogContentTagEdit)">

             
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmblogContentTagEdit.LinkContentId.$invalid && !frmblogContentTagEdit.LinkContentId.$pristine,'has-success' : frmblogContentTagEdit.LinkContentId.$valid}">
                    <label class="col-sm-2 control-label"> {{'SELECT_CONTENT'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="blogContentOther.selectedItem.LinkContentId">
                            <option ng-repeat="x in blogContentSim.DestinationList" ng-value="x.Id">{{x.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmblogContentTagEdit.LinkTagId.$invalid && !frmblogContentTagEdit.LinkTagId.$pristine,'has-success' : frmblogContentTagEdit.LinkTagId.$valid}">
                    <label class="col-sm-2 control-label"> {{'SELECT_TAG'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="blogContentOther.selectedItem.LinkTagId">
                            <option ng-repeat="x in blogContentSim.DestinationList" ng-value="x.Id">{{x.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>



                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="blogContentTag.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="blogContentTag.closeModal()"> {{'cancel'|lowercase|translate}} </button>
                </div>

            </form>
        </div>
    </div>
</div>