<div class="wrapper wrapper-content animated fadeInRight" ng-controller="vehicleContractController as vehicleContract" ng-init="vehicleContract.init()">
    <!-- <div class="container">-->
    <div class="row" rasha-loading="vehicleContract.busyIndicator">
        <div class="col-sm-12">
            <!--<div rasha-loading="vehicleContract.busyIndicator"></div>-->
            <button class="btn btn-primary" rasha-userrole="vehicleContract.Add" ng-click="vehicleContract.openAddModal()" ng-show="vehicleContract.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="vehicleContract.Edit" ng-click="vehicleContract.openEditModal()" type="button" ng-show="vehicleContract.gridOptions.resultAccess.AccessEditRow"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="vehicleContract.Delete" ng-click="vehicleContract.deleteRow()" type="button" ng-show="vehicleContract.gridOptions.resultAccess.AccessDeleteRow" > {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="vehicleContract.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="vehicleContract.openGridConfigModal(vehicleContract.gridOptions.resultAccess.AccessSearchField)" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>
            <!--<button class="btn btn-default" type="button" ng-click="vehicleContract.reportData()"> {{'report'|lowercase|translate}} </button>-->
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="vehicleContract.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="vehicleContract.getCount()">{{'number'|lowercase|translate}}&nbsp;{{vehicleContract.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="vehicleContract" ></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="vehicleContract.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="vehicleContract.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="vehicleContract.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form method="get" class="form-horizontal" name="frmvehicleContractAdd" novalidate ng-submit="vehicleContract.addNewRow(frmvehicleContractAdd)">
                <div class='hr-line-dashed'></div>
            </form>
            <div rasha-grid="vehicleContract.gridOptions"></div>           
        </div>
    </div>
</div>