<div class="wrapper wrapper-content animated fadeInRight" ng-controller="blogContentParameterController as blogContentParameter" ng-init="blogContentParameter.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="blogContentParameter.categoryBusyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="blogContentParameter.Add" ng-click="blogContentParameter.openAddModal()" ng-show="blogContentParameter.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="blogContentParameter.Edit" ng-click="blogContentParameter.openEditModal()"ng-show="blogContentParameter.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="blogContentParameter.Delete" ng-click="blogContentParameter.deleteRow()" ng-show="blogContentParameter.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" ng-click="blogContentParameter.showAdvancedSearchPanel()"><i class="fa fa-search fontavesome-small"></i>&nbsp; {{'advanced_search'|lowercase|translate}}&nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="blogContentParameter.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="blogContentParameter.getCount()">{{'QUANTITY'|lowercase|translate}}&nbsp;{{blogContentParameter.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <hr />
    <div class="col-sm-12 col-lg-12 col-md-12" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div id="builder" query-builder="blogContentParameter"></div>
        <div class="btn-group" style="float: left;">
            <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="blogContentParameter.getRules()"> {{'look'|lowercase|translate}} </button>
            <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="blogContentParameter.saveRules()"> {{'save_condition'|lowercase|translate}} </button>
            <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="blogContentParameter.setRules()"> {{'restore_condition'|lowercase|translate}} </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="blogContentParameter.gridOptions"></div>
        </div>
    </div>
</div>

