<style>
    [treecontrol].tree-boot i.tree-branch-head,
    [treecontrol].tree-boot i.tree-leaf-head {
        float: right;
        height: 16px;
        margin: 5px;
    }
</style>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="campaignContent.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Category' |lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmcampaignContentAdd" novalidate ng-submit="campaignContent.addNewCategory(frmcampaignContentAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmcampaignContentAdd.Title.$invalid && !frmcampaignContentAdd.Title.$pristine,'has-success' : frmcampaignContentAdd.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           maxlength="256"
                                           ng-model="campaignContent.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmcampaignContentAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmcampaignContentAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmcampaignContentAdd.Title.$valid && frmcampaignContentAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmcampaignContentAdd.Title.$invalid && !frmcampaignContentAdd.Title.$pristine) || frmcampaignContentAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Further_Information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'description'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" maxlength="2048" ng-required="false" name="Description" ng-model="campaignContent.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="campaignContent.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="campaignContent.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>