<div class="wrapper wrapper-content animated fadeInRight" ng-controller="campaignCategoryCtrl as campaignCategory" ng-init="campaignCategory.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="campaignCategory.categoryBusyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="campaignCategory.Add" ng-click="campaignCategory.openAddModal()" ng-show="campaignCategory.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="campaignCategory.Edit" ng-click="campaignCategory.openEditModal()" ng-show="campaignCategory.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="campaignCategory.Delete" ng-click="campaignCategory.deleteRow()" ng-show="campaignCategory.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="campaignCategory.showAdvancedSearchPanel(campaignCategory.gridOptions.resultAccess.AccessSearchField)"> {{'advanced_search'|lowercase|translate}} </button>
            <button class="btn btn-primary" type="button" ng-click="campaignCategory.reportData()"> {{'report'|lowercase|translate}} </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="campaignCategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="campaignCategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="campaignCategory.gridOptions"></div>
        </div>
    </div>
</div>

