<div class="modal-body">
    <div class="row" rasha-loading="ticketingDepartemen.busyIndicator">
        <div class="col-sm-12">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="$dismiss()"></i>
            <h3 class="m-t-none m-b">اپراتورها</h3>
            <form method="get" class="form-horizontal" name="frmCmsSiteAdd" novalidate ng-submit="">
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmCmsSiteAdd.LinkUserId.$invalid && !frmCmsSiteAdd.LinkUserId.$pristine,'has-success' : frmCmsSiteAdd.LinkUserId.$valid}">
                    <label class="col-sm-2 control-label">{{'USER'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <angucomplete-alt id="ex1"
                                          name="user"
                                          placeholder="نام یا نام خانوادگی کاربر"
                                          pause="100"
                                          selected-object="ticketingDepartemen.userSelected"
                                          local-data="ticketingDepartemen.cmsUsersListItems"
                                          search-fields="Name,LastName"
                                          title-field="Name,LastName"
                                          description-field="Username"
                                          minlength="2"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          input-changed="ticketingDepartemen.inputUserChanged"
                                          field-required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-primary col-md-offset-2 col-md-10" type="button" ng-disabled="ticketingDepartemen.addRequested" ng-click="ticketingDepartemen.addMember(frmCmsSiteAdd)">{{'RECORD'|lowercase|translate}}</button>
                    </div>
                </div>
                <div ng-repeat="x in ticketingDepartemen.operatorsList" style="margin-bottom:10px;">
                    <label class="col-sm-2 control-label">{{x.Id}}</label>
                    <div class="input-group col-md-10">
                        <span class="input-group-addon" style="background-color: #ed5565; cursor: pointer" id="basic-addon1" title="{{'DELETE'|lowercase|translate}}" ng-click="ticketingDepartemen.deleteMember($index)"><i class="fa fa-remove"></i></span>
                        <input type="text" class="form-control" readonly="readonly" placeholder="نام و نام خانوادگی کاربر" value="{{x.Name}}&nbsp;{{x.LastName}}" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-default" type="button" ng-click="$dismiss()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

