<div class="modal-body">
    <div class="row" rasha-loading="CmsModuleHeaderG.busyIndicator">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="CmsModuleHeaderG.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ CmsModuleHeaderG.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmCmsModuleHeaderGEdit" novalidate ng-submit="CmsModuleHeaderG.editRow(frmCmsModuleHeaderGEdit)">

                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="CmsModuleHeaderG.gridOptions.resultAccess.AccessEditField.indexOf('RecordStatus')>-1"
                     ng-class="{'has-error' : frmCmsModuleHeaderGAdd.RecordStatus.$invalid && !frmCmsModuleHeaderGAdd.RecordStatus.$pristine,'has-success' : frmCmsModuleHeaderGAdd.LinkSourceId.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="CmsModuleHeaderG"></div>
                </div>

                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="CmsModuleHeaderG.gridOptions.resultAccess.AccessEditField.indexOf('Title')>-1"
                     ng-class="{'has-error' : frmCmsModuleHeaderGEdit.Title.$invalid && !frmCmsModuleHeaderGEdit.Title.$pristine,'has-success' : frmCmsModuleHeaderGEdit.Title.$valid}">
                    <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="Title"
                               ng-model="CmsModuleHeaderG.selectedItem.Title" />
                        <div class="m-t-xs" ng-show="frmCmsModuleHeaderGEdit.Title.$invalid">
                            <small class="text-danger" ng-show="frmCmsModuleHeaderGEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsModuleHeaderGEdit.Title.$valid && frmCmsModuleHeaderGEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsModuleHeaderGEdit.Title.$invalid && !frmCmsModuleHeaderGEdit.Title.$pristine) || frmCmsModuleHeaderGEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group" ng-show="CmsModuleHeaderG.gridOptions.resultAccess.AccessEditField.indexOf('TitleResourceLanguage')>-1"
                     ng-class="{'has-error' : frmCmsModuleHeaderGEdit.TitleResourceLanguage.$invalid && !frmCmsModuleHeaderGEdit.Title.$pristine,'has-success' : frmCmsModuleHeaderGEdit.TitleResourceLanguage.$valid}">
                    <label class="col-sm-2 control-label">{{ 'TitleResourceLanguage' |lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="TitleResourceLanguage"
                               ng-model="CmsModuleHeaderG.selectedItem.TitleResourceLanguage" />
                        <div class="m-t-xs" ng-show="frmCmsModuleHeaderGEdit.TitleResourceLanguage.$invalid">
                            <small class="text-danger" ng-show="frmCmsModuleHeaderGEdit.TitleResourceLanguage.$error.required"><i class="fa fa-exclamation-triangle"></i> {{ 'THIS_INFORMATION_IS_REQUIRED' |lowercase|translate}}</small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsModuleHeaderGEdit.TitleResourceLanguage.$valid && frmCmsModuleHeaderGEdit.TitleResourceLanguage.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsModuleHeaderGEdit.TitleResourceLanguage.$invalid && !frmCmsModuleHeaderGEdit.TitleResourceLanguage.$pristine) || frmCmsModuleHeaderGEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="CmsModuleHeaderG.gridOptions.resultAccess.AccessEditField.indexOf('Description')>-1"
                     ng-class="{'has-error' : frmCmsModuleHeaderGEdit.Description.$invalid && !frmCmsModuleHeaderGEdit.Description.$pristine,'has-success' : frmCmsModuleHeaderGEdit.Description.$valid}">
                    <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <textarea class="form-control"
                                  ng-required="true"
                                  name="Description"
                                  ng-model="CmsModuleHeaderG.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                        <div class="m-t-xs" ng-show="frmCmsModuleHeaderGEdit.Description.$invalid">
                            <small class="text-danger" ng-show="frmCmsModuleHeaderGEdit.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsModuleHeaderGEdit.Description.$valid && frmCmsModuleHeaderGEdit.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsModuleHeaderGEdit.Description.$invalid && !frmCmsModuleHeaderGEdit.Description.$pristine) || frmCmsModuleHeaderGEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group" ng-show="CmsModuleHeaderG.gridOptions.resultAccess.AccessEditField.indexOf('LinkUserGroupId')>-1">
                    <label class="col-sm-2 control-label">{{'Link_User_Group_Id'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="LinkUserGroupId" rasha-autocomplete="CmsModuleHeaderG.LinkUserGroupIdSelector" ng-model="CmsModuleHeaderG.selectedItem.LinkUserGroupId" />
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="CmsModuleHeaderG.gridOptions.resultAccess.AccessEditField.indexOf('LinkCmsSiteCategoryId')>-1">
                    <label class="col-sm-2 control-label"> {{'Link_Cms_Site_Category_Id'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control" name="LinkCmsSiteCategoryId" rasha-autocomplete="CmsModuleHeaderG.LinkCmsSiteCategoryIdSelector" ng-model="CmsModuleHeaderG.selectedItem.LinkCmsSiteCategoryId" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="CmsModuleHeaderG.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="CmsModuleHeaderG.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>