<div class="wrapper wrapper-content animated fadeInRight" ng-controller="newscategoryCtrl as newscategory" ng-init="newscategory.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" rasha-userrole="newscategory.Add" ng-click="outBoxDetailBulk.openAddModal()" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="newscategory.Edit" ng-click="outBoxDetailBulk.openEditModal()" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="newscategory.Delete" ng-click="outBoxDetailBulk.deleteRow()" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="outBoxDetailBulk.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-primary" type="button" ng-click="outBoxDetailBulk.reportData()"> {{'report'|lowercase|translate}} </button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="outBoxDetailBulk"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="articleComment.getJson()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="articleComment.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="articleComment.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="outBoxDetailBulk.gridOptions"></div>
        </div>
    </div>
</div>

