<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="cmsSiteWidgetCategorygrd.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ cmsSiteWidgetCategorygrd.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmCmsSiteWidgetCategoryEdit" novalidate ng-submit="cmsSiteWidgetCategorygrd.editRow(frmCmsSiteWidgetCategoryEdit)">

                <div class="form-group" ng-show="cmsSiteWidgetCategorygrd.gridOptions.resultAccess.AccessEditField.indexOf('IsActive')>-1">
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input icheck type="checkbox" value="option1" id="IsActive" ng-model="cmsSiteWidgetCategorygrd.selectedItem.IsActive" /> {{'HAS_ACCESS'|lowercase|translate}}
                        </label>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="cmsSiteWidgetCategorygrd.gridOptions.resultAccess.AccessEditField.indexOf('LinkSiteId')>-1"
                     ng-class="{'has-error' : frmCmsSiteWidgetCategoryEdit.LinkSiteId.$invalid && !frmCmsSiteWidgetCategoryEdit.LinkSiteId.$pristine,'has-success' : frmCmsSiteWidgetCategoryEdit.LinkSiteId.$valid}">
                    <label class="col-sm-2 control-label">{{'SELECT_SITE'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-required="true" name="LinkSiteId" rasha-autocomplete="cmsSiteWidgetCategorygrd.linkSiteIdSelector" ng-model="cmsSiteWidgetCategorygrd.selectedItem.LinkLinkSiteIdId" />
                        <div class="m-t-xs" ng-show="frmCmsSiteWidgetCategoryEdit.LinkSiteId.$invalid">
                            <small class="text-danger" ng-show="frmCmsSiteWidgetCategoryEdit.LinkSiteId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsSiteWidgetCategoryEdit.LinkSiteId.$valid && frmCmsSiteWidgetCategoryEdit.LinkSiteId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsSiteWidgetCategoryEdit.LinkSiteId.$invalid && !frmCmsSiteWidgetCategoryEdit.LinkSiteId.$pristine) || frmCmsSiteWidgetCategoryEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="cmsSiteWidgetCategorygrd.gridOptions.resultAccess.AccessEditField.indexOf('LinkWidgetCategoryId')>-1"
                     ng-class="{'has-error' : frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$invalid && !frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$pristine,'has-success' : frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$valid}">
                    <label class="col-sm-2 control-label">{{'SELECT_WIDGET_CATEGORIES'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-required="true" name="LinkWidgetCategoryId" rasha-autocomplete="cmsSiteWidgetCategorygrd.linkWidgetCategoryIdSelector" ng-model="cmsSiteWidgetCategorygrd.selectedItem.LinkLinkWidgetCategoryIdId" />
                        <div class="m-t-xs" ng-show="frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$invalid">
                            <small class="text-danger" ng-show="frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$valid && frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$invalid && !frmCmsSiteWidgetCategoryEdit.LinkWidgetCategoryId.$pristine) || frmCmsSiteWidgetCategoryEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="cmsSiteWidgetCategorygrd.gridOptions.resultAccess.AccessEditField.indexOf('LinkModuleId')>-1"
                     ng-class="{'has-error' : frmCmsSiteWidgetCategoryEdit.LinkModuleId.$invalid && !frmCmsSiteWidgetCategoryEdit.LinkModuleId.$pristine,'has-success' : frmCmsSiteWidgetCategoryEdit.LinkModuleId.$valid}">
                    <label class="col-sm-2 control-label">{{'CHOOSE_MODULE'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-required="true" name="LinkModuleId" rasha-autocomplete="cmsSiteWidgetCategorygrd.linkModuleIdSelector" ng-model="cmsSiteWidgetCategorygrd.selectedItem.LinkLinkModuleIdId" />
                        <div class="m-t-xs" ng-show="frmCmsSiteWidgetCategoryEdit.LinkModuleId.$invalid">
                            <small class="text-danger" ng-show="frmCmsSiteWidgetCategoryEdit.LinkModuleId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsSiteWidgetCategoryEdit.LinkModuleId.$valid && frmCmsSiteWidgetCategoryEdit.LinkModuleId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsSiteWidgetCategoryEdit.LinkModuleId.$invalid && !frmCmsSiteWidgetCategoryEdit.LinkModuleId.$pristine) || frmCmsSiteWidgetCategoryEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>



                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsSiteWidgetCategorygrd.addRequested" type="submit">{{'save'|lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="cmsSiteWidgetCategorygrd.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>