<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="quoteShareServerCategory.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Content'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmquoteShareServerCategoryAdd" novalidate ng-submit="quoteShareServerCategory.addNewContent(frmquoteShareServerCategoryAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmquoteShareServerCategoryAdd.LinkSourceId.$invalid && !frmquoteShareServerCategoryAdd.LinkSourceId.$pristine,'has-success' : frmquoteShareServerCategoryAdd.LinkSourceId.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="quoteShareServerCategory"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmquoteShareServerCategoryAdd.Title.$invalid && !frmquoteShareServerCategoryAdd.Title.$pristine,'has-success' : frmquoteShareServerCategoryAdd.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="quoteShareServerCategory.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmquoteShareServerCategoryAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmquoteShareServerCategoryAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmquoteShareServerCategoryAdd.Title.$valid && frmquoteShareServerCategoryAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmquoteShareServerCategoryAdd.Title.$invalid && !frmquoteShareServerCategoryAdd.Title.$pristine) || frmquoteShareServerCategoryAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmquoteShareServerCategoryAdd.Description.$invalid && !frmquoteShareServerCategoryAdd.Description.$pristine,'has-success' : frmquoteShareServerCategoryAdd.Description.$valid}">
                                <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                           ng-required="true"
                                           name="Description"
                                           ng-model="quoteShareServerCategory.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmquoteShareServerCategoryAdd.Description.$invalid">
                                        <small class="text-danger" ng-show="frmquoteShareServerCategoryAdd.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmquoteShareServerCategoryAdd.Description.$valid && frmquoteShareServerCategoryAdd.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmquoteShareServerCategoryAdd.Description.$invalid && !frmquoteShareServerCategoryAdd.Description.$pristine) || frmquoteShareServerCategoryAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="quoteShareServerCategory.gridOptions.resultAccess.AccessAddField.indexOf('LinkServerCategoryId')>-1">
                                <label class="col-sm-2 control-label">{{'Link_Group_Id'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkServerCategoryId" rasha-autocomplete="quoteShareServerCategory.LinkShareMainAdminSettingIdSelector" ng-model="frmquoteShareServerCategoryAdd.selectedItem.LinkServerCategoryId" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>                
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="quoteShareServerCategory.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="quoteShareServerCategory.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
