<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor: pointer" ng-click="articleShareServerCategory.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Edit_Content' |lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmarticleShareServerCategoryEdit" novalidate ng-submit="articleShareServerCategory.editContent(frmarticleShareServerCategoryEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmarticleShareServerCategoryEdit.LinkSourceId.$invalid && !frmarticleShareServerCategoryEdit.LinkSourceId.$pristine,'has-success' : frmarticleShareServerCategoryEdit.LinkSourceId.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="articleShareServerCategory"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmarticleShareServerCategoryEdit.Title.$invalid && !frmarticleShareServerCategoryEdit.Title.$pristine,'has-success' : frmarticleShareServerCategoryEdit.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="articleShareServerCategory.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmarticleShareServerCategoryEdit.Title.$invalid">
                                        <small class="text-danger" ng-show="frmarticleShareServerCategoryEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmarticleShareServerCategoryEdit.Title.$valid && frmarticleShareServerCategoryEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmarticleShareServerCategoryEdit.Title.$invalid && !frmarticleShareServerCategoryEdit.Title.$pristine) || frmarticleShareServerCategoryEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmarticleShareServerCategoryEdit.Description.$invalid && !frmarticleShareServerCategoryEdit.Description.$pristine,'has-success' : frmarticleShareServerCategoryEdit.Description.$valid}">
                                <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                           ng-required="true"
                                           name="Description"
                                           ng-model="articleShareServerCategory.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmarticleShareServerCategoryEdit.Description.$invalid">
                                        <small class="text-danger" ng-show="frmarticleShareServerCategoryEdit.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmarticleShareServerCategoryEdit.Description.$valid && frmarticleShareServerCategoryEdit.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmarticleShareServerCategoryEdit.Description.$invalid && !frmarticleShareServerCategoryEdit.Description.$pristine) || frmarticleShareServerCategoryEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="articleShareServerCategory.gridOptions.resultAccess.AccessEditField.indexOf('LinkServerCategoryId')>-1">
                                <label class="col-sm-2 control-label">{{'Link_Group_Id'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkServerCategoryId" rasha-autocomplete="articleShareServerCategory.LinkShareMainAdminSettingIdSelector" ng-model="frmarticleShareServerCategoryEdit.selectedItem.LinkServerCategoryId" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="articleShareServerCategory.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="articleShareServerCategory.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
            <style>
                .pull-right {
                    margin: 1px 28px;
                }
            </style>
        </div>
    </div>
</div>
