<div class="wrapper wrapper-content animated fadeInRight" ng-controller="pollingcategoryCtrl as pollingcategory" ng-init="pollingcategory.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="pollingcategory.categoryBusyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="pollingcategory.Add" ng-click="pollingcategory.openAddModal()" ng-show="pollingcategory.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="pollingcategory.Edit" ng-click="pollingcategory.openEditModal()" ng-show="pollingcategory.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="pollingcategory.Delete" ng-click="pollingcategory.deleteRow()" ng-show="pollingcategory.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="pollingcategory.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} </button>
            <button class="btn btn-primary" type="button" ng-click="pollingcategory.reportData()"> {{'report'|lowercase|translate}} </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="pollingcategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="pollingcategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="pollingcategory.gridOptions"></div>
        </div>
    </div>
</div>

