<div class="wrapper wrapper-content animated fadeInRight" ng-controller="coreIdentityUserController as cmsUser" ng-init="coreIdentityUser.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-primary" rasha-userrole="coreIdentityUserController.Add" ng-click="coreIdentityUser.openAddModal()" ng-show="coreIdentityUser.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="coreIdentityUserController.Edit" ng-click="coreIdentityUser.openEditModal()"ng-show="coreIdentityUser.gridOptions.resultAccess.AccessEditRow" type="button">{{'edit'|lowercase|translate}}</button>
            <button class="btn btn-danger" rasha-userrole="coreIdentityUserController.Delete" ng-click="coreIdentityUser.deleteRow()"ng-show="coreIdentityUser.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'delete'|lowercase|translate}}</button>
            <button class="btn btn-success" ng-click="coreIdentityUser.showAdvancedSearchPanel(coreIdentityUser.gridOptions.resultAccess.AccessSearchField)">{{'advanced_search'|lowercase|translate}}&nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="coreIdentityUser.gridOptions.showGridSettings()">{{'display_setting'|lowercase|translate}}</button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="coreIdentityUser.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="coreIdentityUser.getCount()">{{'number'|lowercase|translate}}&nbsp;{{coreIdentityUser.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="builder" query-builder="cmsUser"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="coreIdentityUser.getRules()">{{'look'|lowercase|translate}}</button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="coreIdentityUser.getJson()">{{'save_condition'|lowercase|translate}}</button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="coreIdentityUser.getJson()">{{'restore_condition'|lowercase|translate}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div rasha-grid="coreIdentityUser.gridOptions"></div>
        </div>
    </div>
</div>

