<script>
    window.setuploaderconfig=function(id,config)
    {
        if (window.uploaderconfig==undefined)
            window.uploaderconfig=[]
        window.uploaderconfig[id]=config
    }
    window.uploader_dragenter=function(id,event)
    {
        window.uploaderconfig[id].uploader_dragenter(event)
    }
    window.uploader_dragleave=function(id,event)
    {
        window.uploaderconfig[id].uploader_dragleave(event)
    }
    window.uploader_drop=function(id,event)
    {
        window.uploaderconfig[id].uploader_drop(event)
    }
    window.uploader_dragend=function(id,event)
    {
        window.uploaderconfig[id].uploader_dragend(event)
    }
    window.uploader_dragover=function(id,event)
    {
        event.preventDefault();
    }
    window.uploader_openFileDialog=function(id)
    {
       $('#file_'+id).trigger("click");
    }
    window.uploader_fileselected=function(id,e)
    {
        window.uploaderconfig[id].uploader_filesSelected(e.target.files);
    }
</script>
<style>
    .checkBox2X {
        -ms-transform: scale(1.5, 1.5); /* IE 9 */
        -webkit-transform: scale(1.5, 1.5); /* Safari */
        transform: scale(1.5, 1.5);
    }
</style>
<div id="uploader_??id??" class="col-sm-12 b-r" style="max-height:600px;overflow:auto;direction:ltr">
    <input type="file" multiple style="display:none" onchange="window.uploader_fileselected('??id??',event)"  id="file_??id??" />
     <div>
        <p ondragenter="window.uploader_dragenter('??id??',event)" onclick="window.uploader_openFileDialog('??id??')" ondragleave="window.uploader_dragleave('??id??',event)" ondragend="window.uploader_dragend('??id??',event);" ondragover="window.uploader_dragover('??id??',event)" ondrop="window.uploader_drop('??id??',event)" style="text-align:center;background-color:black;color:white;padding-top:30px;padding-bottom:30px;cursor:pointer;{{??atr??.uploader_cssStyle}}">
            {{'Drop_Files_Here_Or_Click_To_Upload'|lowercase|translate}}</p>
    </div>
    <div ng-repeat="x in ??atr??.files_selectedToUpload" class="col-sm-4" style="border:1px solid gray;border-radius:4px;">
        <div style="margin-top:10px">
            <div style="overflow:hidden" flow-init="{target: $scope.cmsServerConfig.configRouteUploadFileContent}">
                <i class="fa fa-file fa-2x" style="float:right"></i>
                <h5 style="float:right;margin-right:7px;margin-top:2px">{{x.name}}</h5>
                <i class="fa fa-times fa-2x" style="color:red;cursor:pointer;float:left"></i>
                <input type="checkbox" class="checkBox2X" style="margin-top:7px;margin-left:5px;margin-right:5px;float:left" ng-model="x.hasChecked" />
            </div>
            <div style="clear:both;margin-top:5px" class="progress">
                <div class="progress-bar progress-bar-{{??atr??.whatcolor(x.progress_value)}} progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{x.progress_value}}%">
                    {{x.progress_value}} %
                </div>
                <div style="width:{{x.progress_value}}%;"  class="progress-bar"></div>
            </div>
        </div>
    </div>
</div>
