<div class="col-lg-12" style="direction:ltr" rasha-loading="??atr??.BusyIndicator">
    <style>
        .fa-xx {
            -ms-transform: scale(1.5, 1.5); /* IE 9 */
            -webkit-transform: scale(1.5, 1.5); /* Safari */
            transform: scale(1.5, 1.5);
        }

        .folderfilebox {
            width: 100px;
            height: 120px;
            overflow: hidden;
            margin: 5px;
            float: left;
            background-color: transparent;
            cursor: pointer;
            border-radius: 2px;
            position: relative;
        }

        .folderfilebox:hover {
                background-color: darkblue;
                color:white;

        }

        .filebox:hover {
            background-color: darkblue;
            color: white;
            z-index: 200;
            -webkit-transition: all 150ms ease-in;
            -webkit-transform: scale(1.5);
            -ms-transition: all 150ms ease-in;
            -ms-transform: scale(1.5);
            -moz-transition: all 150ms ease-in;
            -moz-transform: scale(1.5);
            transition: all 150ms ease-in;
            transform: scale(1.5);
        }

        .folderfileimage {
            border: 1px solid gray;
            width: 98px;
            position: absolute;
            left: 1px;
            top: 1px;
            right: 1px;
            height: 80px;
            bottom: 40px;
            padding: 1px;
            background-color: black
        }

        .searchhasvalue {
            background-color: black;
            color: white;
            z-index: 200;
            -webkit-transition: all 150ms ease-in;
            -webkit-transform: scale(1.5);
            -ms-transition: all 150ms ease-in;
            -ms-transform: scale(1.5);
            -moz-transition: all 150ms ease-in;
            -moz-transform: scale(1.5);
            transition: all 150ms ease-in;
            transform: scale(1.5);
        }

        .table-rollover{

        }
        .table-rollover:hover{
            background-color:bisque;
        }

    </style>
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        <progressbar ng-model="??atr??.usedSize" style="background-color:orange;color:white"></progressbar>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <button class="btn btn-primary btn-lg" style="float:left;margin:0px 3px;padding:3px 5px;" ng-click="??atr??.gotoToHome()">
            <h5 style="float:left;margin:5px">{{'CurrentFolder'|lowercase|translate}}</h5>
            <i class="fa fa-home" />
        </button>
        <div style="float:left;overflow:auto">
            <button class="btn btn-link btn-sm" style="float:left;margin:0px 2px;padding:2px;border-left:dotted 1px #8c8c8e" ng-repeat="x in ??atr??.currentPosition" ng-click="??atr??.gotoToFolder(x)">{{x.Title}}</button>
        </div>
    </div>
    <hr style="border-top:1px solid #8c8c8e;clear:both" />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <button class="col-lg-2 col-md-2 col-sm-3 col-xs-12 btn btn-warning btn-sm">
                <i class="fa fa-search"></i>
            </button>
            <input class="col-lg-9 col-md-9 col-sm-8 col-xs-12 {{??atr??.searchCssClass}}" style="margin-right:5px;margin-top:3px" ng-model="??atr??.patternSearch" ng-change="??atr??.onTextChanged()" placeholder="{{'Search'|lowercase|translate}}" />
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12">
            <div style="float:left;border-right:1px solid black;margin-left:5px;margin-right:5px;padding-right:5px">
                <button class="btn btn-warning btn-sm" title="{{'FileMng_FolderBack'|lowercase|translate}}">
                    <i class="fa fa-hand-o-left fa-xx"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-click="??atr??.refresh()" title="{{'FileMng_Refresh'|lowercase|translate}}">
                    <i class="fa fa-refresh fa-xx"></i>
                </button>
            </div>
            <div style="float:left;border-right:1px solid black;margin-left:5px;margin-right:5px;padding-right:5px">
                <button class="btn btn-info btn-sm" ng-show="??atr??.allowCopyCut" ng-disabled="!(??atr??.isFileSelected) || !(??atr??.canCopyCut) " ng-click="??atr??.selectFilesToCopy(false)" title="{{'FileMng_FileCopy'|lowercase|translate}}">
                    <i class="fa fa-copy fa-xx"></i>
                </button>
                <button class="btn btn-warning btn-sm" ng-show="??atr??.allowCopyCut" ng-disabled="!(??atr??.isFileSelected) || !(??atr??.canCopyCut) "  ng-click="??atr??.selectFilesToCut(true)" title="{{'FileMng_FileCut'|lowercase|translate}}">
                    <i class="fa fa-cut fa-xx"></i>
                </button>
                <button class="btn btn-success btn-sm" ng-disabled="(??atr??.selectedFilesToCopyCut.length==0)" title="{{'FileMng_FilePaste'|lowercase|translate}}" ng-click="??atr??.pasteFile()">
                    <i class="fa fa-paste fa-xx"></i>
                </button>
                <button class="btn btn-danger btn-sm"  ng-show="??atr??.allowDelete" ng-disabled="!(??atr??.isFileSelected) || !(??atr??.canRename)" title="{{'FileMng_FileDelete'|lowercase|translate}}" ng-click="??atr??.deleteFileFolder()">
                    <i class="fa fa-times-circle-o fa-xx"></i>
                </button>
                <button class="btn btn-warning btn-sm" ng-disabled="!(??atr??.isFileSelected) || !(??atr??.isFileSelectedImage)" title="{{'FileMng_FileImageCrop'|lowercase|translate}}">
                    <i class="fa fa-crop fa-xx"></i>
                </button>
                <button class="btn btn-warning btn-sm" ng-click="??atr??.startRename(true)" ng-disabled="!(??atr??.isFileSelected) || !(??atr??.canRename)" title="{{'FileMng_FileRename'|lowercase|translate}}">
                    <i class="fa fa-file-text-o fa-xx"></i>
                </button>
            </div>
            <div style="float:left;border-right:1px solid black;margin-left:5px;margin-right:5px;padding-right:5px">
                <button class="btn btn-primary btn-sm" ng-click="??atr??.openUploaderDialog()" title="{{'FileMng_FileUploader'|lowercase|translate}}">
                    <i class="fa fa-cloud-upload fa-xx"></i>
                </button>
                <button class="btn btn-info btn-sm" ng-click="??atr??.downloadFile()" ng-disabled="!(??atr??.isFileSelected)" title="{{'FileMng_FileDownloader'|lowercase|translate}}">
                    <i class="fa fa-cloud-download fa-xx"></i>
                </button>
                <button class="btn btn-warning btn-sm" ng-click="??atr??.makeNewFolder()" title="{{'FileMng_NewFolder'|lowercase|translate}}">
                    <i class="fa fa-folder-open fa-xx"></i>
                </button>
            </div>
            <div style="float:left;margin-left:5px;margin-right:5px;padding-right:5px">
                <button class="btn btn-info btn-sm" ng-click="??atr??.changeViewType()" title="{{'FileMng_FileView'|lowercase|translate}}">
                    <i class="fa fa-list fa-xx"></i>
                </button>
                <button class="btn btn-info btn-sm" ng-click="??atr??.whenSelectionChanged()" ng-show="??atr??.inSelectionMode"  ng-disabled="!(??atr??.isFileSelected) || !(??atr??.canSelect)" style="padding-left:18px;padding-right:18px" title="{{'FileMng_FileSelect'|lowercase|translate}}">
                    <i class="fa fa-check fa-xx">{{'Select'|lowercase|translate}}</i>
                </button>
            </div>

        </div>
        <div style="clear:both;margin-bottom:15px;" ></div>
        <center ng-show="??atr??.isInIconView">
            <div style="position:relative;overflow:auto;padding-left:15px;padding-top:30px;;margin:auto;{{??atr??.cssStyle}}">
                <div ng-repeat="x in ??atr??.categoryListLocal" class="folderfilebox" >
                    <div ng-if="x.isFolder && !x.isParent" ng-click="??atr??.selectFolder(x)" style="position:absolute;left:0;top:0;right:0;bottom:0;{{x.cssStyle}}" id="boxF{{x.Id}}">
                        <i class="fa fa-folder-open fa-4x" style="color:orange;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.gotoToFolder(x)" ></i>
                        <h5 style="position:absolute;left:2px;top:80px;right:2px;bottom:2px;overflow:hidden;text-align:center" ng-show="!x.isInRenameMode" >{{x.Title}}</h5>
                        <input type="text" style="position:absolute;left:2px;top:80px;right:2px;bottom:2px;width:100px;color:black;overflow:hidden;text-align:center" ng-show="x.isInRenameMode" ng-model="x.newTitle" id="txtF{{x.Id}}" ng-keypress="??atr??.renameKeyPress(x,$event)" ng-blur="??atr??.renameCompleted(x)" /> 
                    </div>
                    <div ng-if="x.isParent" style="position:absolute;left:0;top:0;right:0;bottom:0">
                        <i class="fa fa-arrow-left fa-2x" style="color:darkgreen;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.gotoToFolder(x)"  ></i>
                        <h5 style="position:absolute;left:2px;top:80px;right:2px;bottom:2px;overflow:hidden;text-align:center">Back</h5>
                    </div>
                </div>
                <div ng-repeat="x in ??atr??.fileListLocal" ng-click="??atr??.selectFolder(x)" class="folderfilebox filebox" style="{{x.cssStyle}}">
                    <div style="position:absolute;left:0;top:0;right:0;bottom:0">
                        <i ng-if="x.isText" class="fa fa-file-text-o fa-4x" style="color:gray;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isZip" class="fa fa-file-zip-o fa-4x" style="color:blue;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isVoice" class="fa fa-file-sound-o fa-4x" style="color:salmon;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isPdf" class="fa fa-file-pdf-o fa-4x" style="color:blueviolet;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>

                        <i ng-if="x.isHtml" class="fa fa-internet-explorer fa-4x" style="color:lightblue;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isCode" class="fa fa-file-code-o fa-4x" style="color:lightslategray;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isFont" class="fa fa-font fa-4x" style="color:lightgreen;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isPowerPoint" class="fa fa-file-powerpoint-o fa-4x" style="color:darkgoldenrod;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isExcel" class="fa fa-file-excel-o fa-4x" style="color:darkblue;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <i ng-if="x.isWord" class="fa fa-file-word-o fa-4x" style="color:green;position:absolute;left:25px;top:10px" ng-dblclick="??atr??.openFile(x)"  ></i>
                        <div ng-if="x.isImage || x.isVideo" class="folderfileimage" ng-dblclick="??atr??.openFile(x)">
                            <img style="width:92px;max-height:78px;height:auto;margin:1px 1px" src="{{cmsServerConfig.configRouteThumbnails}}/{{x.Id}}?MvcAuthorization={{??atr??.Token}}"  />
                        </div>

                        <h5 style="position:absolute;left:2px;top:80px;right:2px;bottom:2px;overflow:hidden;text-align:center">{{x.Title}}</h5>
                    </div>
                </div>

            </div>
        </center>

        <div class="table-responsive" ng-show="!(??atr??.isInIconView)">
            <table class="table table-bordered" style="max-height:600px;overflow:auto">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'fileManagerName'|lowercase|translate}}</th>
                        <th>{{'fileManagerType'|lowercase|translate}}</th>
                        <th>{{'fileManagerSize'|lowercase|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="x.isParent" ng-repeat="x in ??atr??.categoryListLocal" class="table-rollover" style="cursor:pointer;{{x.cssStyle}}" ng-dblclick="??atr??.gotoToFolder(x)" >
                        <td><i class="fa fa-backward fa-xx" style="color:darkgreen"></i></td>
                        <td>{{'Back'|lowercase|translate}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-if="!x.isParent" ng-repeat="x in ??atr??.categoryListLocal"  class="table-rollover" style="cursor:pointer;{{x.cssStyle}}" ng-dblclick="??atr??.gotoToFolder(x)"  ng-click="??atr??.selectFolder(x)">
                        <td><i class="fa fa-folder-open fa-xx" style="color:orange"></i></td>
                        <td>{{x.Title}}</td>
                        <td>{{'fileManagerFolder'|lowercase|translate}}</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="x in ??atr??.fileListLocal" style="cursor:pointer;{{x.cssStyle}}"  class="table-rollover" ng-dblclick="??atr??.openFile(x)" ng-click="??atr??.selectFolder(x)">
                        <td>
                            <i ng-if="x.isText" class="fa fa-file-text-o  fa-xx" style="color:gray"  />
                            <i ng-if="x.isZip" class="fa fa-file-zip-o  fa-xx" style="color:blue" />
                            <i ng-if="x.isVoice" class="fa fa-file-sound-o  fa-xx" style="color:salmon" />
                            <i ng-if="x.isPdf" class="fa fa-file-pdf-o  fa-xx" style="color:blueviolet" />

                            <i ng-if="x.isHtml" class="fa fa-internet-explorer  fa-xx" style="color:lightblue" />
                            <i ng-if="x.isCode" class="fa fa-file-code-o  fa-xx" style="color:lightslategray" />
                            <i ng-if="x.isFont" class="fa fa-font  fa-xx" style="color:lightgreen" />
                            <i ng-if="x.isPowerPoint" class="fa fa-file-powerpoint-o  fa-xx" style="color:darkgoldenrod;" />
                            <i ng-if="x.isExcel" class="fa fa-file-excel-o  fa-xx" style="color:darkblue" />
                            <i ng-if="x.isWord" class="fa fa-file-word-o  fa-xx" style="color:green" />
                            <i ng-if="x.isImage" class="fa fa-file-image-o  fa-xx" style="color:darkgreen" />
                        </td>
                        <td>{{x.Title}}</td>
                        <td>{{x.fileType}}</td>
                        <td>{{x.FileSize}}</td>
                    </tr>
                </tbody>
            </table>    
            
        </div>
    </div>
</div>