<p>تظنیمات بخض های صفحه</p>








<div>
    <p> 1 بخش </p>

    

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion1" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage1" />
        </div>
    </div>

</div>
<div>
    <p> 2 بخش </p>

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion1" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage2" />
        </div>
    </div>

</div>
<div>
    <p> 3 بخش </p>

  
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion1" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage3" />
        </div>
    </div>

</div>
<div>
    <p> 4 بخش </p>

   

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion1" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage4" />
        </div>
    </div>

</div>
<div>
    <p>5 بخش </p>

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion1" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion1" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage5" />
        </div>
    </div>

</div>




<div>
    <p> 6 بخش </p>

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion6" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage6" />
        </div>
    </div>

</div>
<div>
    <p> 7 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion6" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage7" />
        </div>
    </div>

</div>
<div>
    <p>8 بخش </p>

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion6" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage8" />
        </div>
    </div>

</div>
<div>
    <p> 9 بخش </p>

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion6" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage9" />
        </div>
    </div>

</div>
<div>
    <p>10 بخش </p>

    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterRenderLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterRenderLayoutAdapter10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'ورژن بخش'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterRenderLayoutVersion6" ng-model="ThemeFinderConfig.AdapterRenderLayoutVersion10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutAdapter10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'AdapterOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterOnClickLayoutVersion6" ng-model="ThemeFinderConfig.AdapterOnClickLayoutVersion10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="AdapterFilterModel1RowPerPage" ng-model="ThemeFinderConfig.AdapterFilterModelRowPerPage10" />
        </div>
    </div>

</div>


<p>تظنیمات بخض های منو</p>
<div>
    <p> 1 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter1" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion1" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion1" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage1" />
        </div>
    </div>

</div>
<div>
    <p> 2 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter1" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion1" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion1" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage2" />
        </div>
    </div>

</div>
<div>
    <p> 3 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter1" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion1" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion1" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage3" />
        </div>
    </div>

</div>
<div>
    <p> 4 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter1" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion1" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion1" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage4" />
        </div>
    </div>

</div>
<div>
    <p> 5 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter1" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion1" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter1" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion1" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage5" />
        </div>
    </div>

</div>




<div>
    <p> 6 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter6" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion6" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion6" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage6" />
        </div>
    </div>

</div>
<div>
    <p> 7 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter6" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion6" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion6" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage7" />
        </div>
    </div>

</div>
<div>
    <p>8 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter6" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion6" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion6" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage8" />
        </div>
    </div>

</div>
<div>
    <p> 9 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter6" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion6" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion6" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage9" />
        </div>
    </div>

</div>
<div>
    <p> 10 بخش </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'محل منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutAdapter6" ng-model="ThemeFinderConfig.MenuRenderLayoutPlace10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'وزژن منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuRenderLayoutVersion6" ng-model="ThemeFinderConfig.MenuRenderLayoutVersion10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutAdapter'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutAdapter6" ng-model="ThemeFinderConfig.MenuOnClickLayoutAdapter10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuOnClickLayoutVersion'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuOnClickLayoutVersion6" ng-model="ThemeFinderConfig.MenuOnClickLayoutVersion10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'تعداد ردیف'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" name="MenuFilterModel1RowPerPage" ng-model="ThemeFinderConfig.MenuFilterModelRowPerPage10" />
        </div>
    </div>

</div>