<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorPrimary'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorPrimary" ng-model="ThemeFinderConfig.ColorPrimary" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorPrimaryDark'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorPrimaryDark" ng-model="ThemeFinderConfig.ColorPrimaryDark" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorAccent'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorAccent" ng-model="ThemeFinderConfig.ColorAccent" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorDivider'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorDivider" ng-model="ThemeFinderConfig.ColorDivider" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorTextIcon'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorTextIcon" ng-model="ThemeFinderConfig.ColorTextIcon" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorPrimaryText'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorPrimaryText" ng-model="ThemeFinderConfig.ColorPrimaryText" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorSecondaryText'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorSecondaryText" ng-model="ThemeFinderConfig.ColorSecondaryText" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorRipple'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorRipple" ng-model="ThemeFinderConfig.ColorRipple" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"> {{'ColorDrawerBg'|lowercase|translate}}
    </label>
    <div class="col-sm-10">
        <input class="form-control"  minicolors name="ColorDrawerBg" ng-model="ThemeFinderConfig.ColorDrawerBg" />
    </div>
</div>