<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="newsContent.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ newsContent.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmnewsContentEdit" novalidate ng-submit="newsContent.editContent(frmnewsContentEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmnewsContentAdd.LinkSourceId.$invalid && !frmnewsContentAdd.LinkSourceId.$pristine,'has-success' : frmnewsContentAdd.LinkSourceId.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="newsContent"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmnewsContentEdit.Title.$invalid && !frmnewsContentEdit.Name.$pristine,'has-success' : frmnewsContentEdit.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Name"
                                           ng-model="newsContent.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmnewsContentEdit.Title.$invalid">
                                        <small class="text-danger" ng-show="frmnewsContentEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmnewsContentEdit.Title.$valid && frmnewsContentEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmnewsContentEdit.Title.$invalid && !frmnewsContentEdit.Title.$pristine) || frmnewsContentEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-class="{'has-error' : frmnewsContentEdit.Description.$invalid && !frmnewsContentEdit.Name.$pristine,'has-success' : frmnewsContentEdit.Description.$valid}">
                                <label class="col-sm-2 control-label">{{'description'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-required="true" name="Description" ng-model="newsContent.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmnewsContentEdit.Description.$invalid">
                                        <small class="text-danger" ng-show="frmnewsContentEdit.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmnewsContentEdit.Description.$valid && frmnewsContentEdit.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmnewsContentEdit.Description.$invalid && !frmnewsContentEdit.Description.$pristine) || frmnewsContentEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'TAGS'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <tags-input ng-model="newsContent.tags" placeholder="{{'Tag'|lowercase|translate}}" min-length="2" on-tag-added="newsContent.onTagAdded($tag)" add-on-enter="true" add-on-comma="true">
                                        <auto-complete source="newsContent.loadTags($query)" module="newstag" style="font-family: 'Yekan'"></auto-complete>
                                    </tags-input>
                                    <small>{{'Important_words_used_in_related_content_in_the_tag'|lowercase|translate}}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2  control-label"> {{'DATE'|lowercase|translate}}&nbsp;{{'INSERT'|lowercase|translate}} </label>
                                <div class="col-sm-6  col-md-4">
                                    <div rasha-date-picker="newsContent.startDate" ng-model="newsContent.selectedItem.FromDate"></div><input type="hidden" ng-model="newsContent.selectedItem.FromDate" />
                                </div>
                                <label class="col-sm-2  control-label"> {{'FINISH_DATE'|lowercase|translate}} </label>
                                <div class="col-sm-6 col-md-4">
                                    <div rasha-date-picker="newsContent.endDate" ng-model="newsContent.selectedItem.ToDate"></div><input type="hidden" ng-model="newsContent.selectedItem.ToDate" />
                                </div>
                            </div>
                      
                            <div class="form-group"
                                 ng-class="{'has-error' : frmnewsContentEdit.Keyword.$invalid && !frmnewsContentEdit.Keyword.$pristine,'has-success' : frmnewsContentEdit.Keyword.$valid}">
                                <label class="col-sm-2 control-label"> {{'KEYWORDS'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <tags-input ng-model="newsContent.kwords" placeholder="{{'Key_Word' |lowercase|translate}}" min-length="2" add-on-enter="true" add-on-comma="true">
                                        <auto-complete></auto-complete>
                                    </tags-input>
                                    <small>{{'Keywords_Help'|lowercase|translate}}</small>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'FULL_CONTENT'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <div summernote class="summernote" ng-model="newsContent.selectedItem.Body">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'SOURCE'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="newsContent.selectedItem.Source" />
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Attachments_Files' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'MAIN_IMAGE'|lowercase|translate}} </label>
                                <a class="btn btn-primary uoload-file-m" href="" ng-click="newsContent.openUploadModal()" aria-label="Delete">
                                    {{'UPLOAD'|lowercase|translate}}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </a>
                                <label>{{newsContent.FileItem.FileName}}</label>
                                <div class="col-sm-8 samallManager">
                                    <div rasha-file-picker-b="newsContent.filePickerMainImage" ng-model="newsContent.selectedItem.LinkMainImageId">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'ATTACH_FILE'|lowercase|translate}} </label>
                                <div class="col-sm-8 samallManager">
                                    <div rasha-file-picker-b="newsContent.filePickerFiles" ng-model="newsContent.selectedItem.LinkFileIds"></div>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-primary" ng-click="newsContent.addAttachedFile(newsContent.selectedItem.LinkFileIds)" style="margin-right: -52px;margin-top: 1px;">
                                        <i class="fa fa-" aria-hidden="true" title="{{'ADD_FILE'|lowercase|translate}}" style="font-family: iransans;font-size: 12px;"> {{'ADD_FILE'|lowercase|translate}} </i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group col-sm-12" ng-repeat="x in newsContent.attachedFiles">
                                    <label class="col-sm-2 control-label">{{$index + 1}}</label>
                                    <div class="input-group">
                                        <input type="text" id="option{{$index}}" class="form-control" ng-required="true" name="attachedFileName" required readonly="readonly" ng-model="x.filename">
                                        <span class="input-group-addon danger" style="background-color:#ed5565; cursor:pointer" title="{{'delete'|lowercase|translate}}" ng-click="newsContent.deleteAttachedFile($index)"><i class="fa fa-remove"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>

        <div class="form-group">
            <button class="btn btn-primary" ng-disabled="newsContent.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
            <button class="btn btn-default" type="button" ng-click="newsContent.closeModal()">{{'cancel'|lowercase|translate}}</button>
        </div>
        </form>
        <style>
            .pull-right {
                margin: 1px 28px;
            }
        </style>
    </div>
    </div>
</div>