<div class="row">

    <!-- ErrorTextToStandBy -->
    <div class="input-group field-margin">
        <span class="input-group-addon"> {{'WAITE_IN_ERROR'|lowercase|translate}} </span>
        <input type="text" class="form-control"   aria-describedby="basic-addon1" ng-model="apiSetting.selectedItem.ErrorTextToStandBy">
    </div>


    <!-- ErrorTextToDisable -->
    <div class="input-group field-margin">
        <span class="input-group-addon"> {{'DEACTIVE_WAITE'|lowercase|translate}} </span>
        <input type="text" class="form-control"   aria-describedby="basic-addon1" ng-model="apiSetting.selectedItem.ErrorTextToDisable">
    </div>


    <!-- ErrorTextToStandByLastGet -->
    <div class="input-group field-margin">
        <span class="input-group-addon"> {{'LAST_ERROR'|lowercase|translate}} </span>
        <input type="text" class="form-control"   aria-describedby="basic-addon1" ng-model="apiSetting.selectedItem.ErrorTextToStandByLastGet">
    </div>


    <!-- ErrorTextToStandByLastGetDate -->
    <div class="input-group field-margin">
        <span class="input-group-addon">{{'DATE_LAST_ERROR'|lowercase|translate}}</span>
        <input type="text" class="form-control"   aria-describedby="basic-addon1" ng-model="apiSetting.selectedItem.ErrorTextToStandByLastGetDate">
    </div>


    <!-- ErrorTextToStandByExit -->
    <div class="input-group field-margin">
        <span class="input-group-addon">{{'EXIT_FROM_ERROR'|lowercase|translate}}</span>
        <input type="text" class="form-control"   aria-describedby="basic-addon1" ng-model="apiSetting.selectedItem.ErrorTextToStandByExit">
    </div>


    <!-- ErrorTextToDisableLastGet -->
    <div class="input-group field-margin">
        <span class="input-group-addon">{{'DEACTIVE_ERROR'|lowercase|translate}}</span>
        <input type="text" class="form-control"   aria-describedby="basic-addon1" ng-model="apiSetting.selectedItem.ErrorTextToDisableLastGet">
    </div>


    <!-- ErrorTextToDisableLastGetDate -->
    <div class="input-group field-margin">
        <span class="input-group-addon"> {{'DATE_DEACTIVE'|lowercase|translate}}</span>
        <input type="text" class="form-control"   aria-describedby="basic-addon1" ng-model="apiSetting.selectedItem.ErrorTextToDisableLastGetDate">
    </div>




</div>