<style>
    [treecontrol].tree-boot i.tree-branch-head,
    [treecontrol].tree-boot i.tree-leaf-head {
        float: right;
        height: 16px;
        margin: 5px;
    }
</style>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="articleContent.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{'Edit_Category' |lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmarticleContentEdit" novalidate ng-submit="articleContent.EditCategory(frmarticleContentEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmarticleContentAdd.RecordStatus.$invalid && !frmarticleContentAdd.RecordStatus.$pristine,'has-success' : frmarticleContentAdd.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="articleContent"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmarticleContentEdit.Title.$invalid && !frmarticleContentEdit.Title.$pristine,'has-success' : frmarticleContentEdit.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="articleContent.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmarticleContentEdit.Title.$invalid">
                                        <small class="text-danger" ng-show="frmarticleContentEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i>{{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmarticleContentEdit.Title.$valid && frmarticleContentEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmarticleContentEdit.Title.$invalid && !frmarticleContentEdit.Title.$pristine) || frmarticleContentEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-class="{'has-error' : frmarticleContentEdit.Description.$invalid && !frmarticleContentEdit.Description.$pristine,'has-success' : frmarticleContentEdit.Description.$valid}">
                                <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-required="true" name="Description" ng-model="articleContent.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmarticleContentEdit.Description.$invalid">
                                        <small class="text-danger" ng-show="frmarticleContentEdit.Description.$error.required"><i class="fa fa-exclamation-triangle"></i>{{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmarticleContentEdit.Description.$valid && frmarticleContentEdit.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmarticleContentEdit.Description.$invalid && !frmarticleContentEdit.Description.$pristine) || frmarticleContentEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Further_Information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="articleContent.selectedItem.previewImageSrc != null" >
                                <label class="col-sm-2 control-label"> {{'IMAGE'|lowercase|translate}} </label>
                                <img src="{{articleContent.selectedItem.previewImageSrc}}"  width="300" height="300" class="img-rounded col-sm-3 col-md-3 col-lg-3" alt="{{articleContent.selectedItem.Title}}"  />
                            </div>
                            <div id="treecontrol" class="form-group">
                                <label class="col-sm-2 control-label">{{'SELECT_ICON'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div treecontrol class="tree-boot" style="color:black"
                                         tree-model="articleContent.dataForTheTree"
                                         options="articleContent.treeOptions"
                                         selected-node="articleContent.selectedNode"
                                         expanded-nodes="articleContent.expandedNodes"
                                         on-selection="articleContent.onSelection(node, selected)"
                                         on-node-toggle="articleContent.onNodeToggle(node,expanded)">
                                        {{node.Title}}{{node.FileName}}&nbsp;&nbsp;<label class="label-control" style="color:#ff6500;font-style:italic;font-size:12px;">{{node.messageText}}</label>
                                    </div>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="articleContent.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="articleContent.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>