<div class="wrapper wrapper-content animated fadeInRight" ng-controller="articlecategoryCtrl as articlecategory" ng-init="articlecategory.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="articlecategory.categoryBusyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="articlecategory.Add" ng-click="articlecategory.openAddModal()" ng-show="articlecategory.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="articlecategory.Edit" ng-click="articlecategory.openEditModal()"ng-show="articlecategory.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="articlecategory.Delete" ng-click="articlecategory.deleteRow()" ng-show="articlecategory.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="articlecategory.showAdvancedSearchPanel(articlecategory.gridOptions.resultAccess.AccessSearchField)"> {{'advanced_search'|lowercase|translate}} </button>
            <button class="btn btn-primary" type="button" ng-click="articlecategory.reportData()"> {{'report'|lowercase|translate}} </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="articlecategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="articlecategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="articlecategory.gridOptions"></div>
        </div>
    </div>
</div>

