<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="appLayoutValue.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ appLayoutValue.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmappLayoutValueEdit" novalidate ng-submit="appLayoutValue.editContent(frmappLayoutValueEdit)">
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="appLayoutValue.gridOptions.resultAccess.AccessEditField.indexOf('RecordStatus')>-1"
                     ng-class="{'has-error' : frmappLayoutValueEdit.RecordStatus.$invalid && !frmappLayoutValueEdit.RecordStatus.$pristine,'has-success' : frmappLayoutValueEdit.RecordStatus.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="appLayoutValue"></div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="appLayoutValue.gridOptions.resultAccess.AccessEditField.indexOf('Title')>-1"
                     ng-class="{'has-error' : frmappLayoutValueEdit.Title.$invalid && !frmappLayoutValueEdit.Title.$pristine,'has-success' : frmappLayoutValueEdit.Title.$valid}">
                    <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="Title"
                               ng-model="appLayoutValue.selectedItem.Title" ng-focus="appLayoutValue.loadEmojiPickerdiscover()"
                               data-emojiable="true" />
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="appLayoutValue.gridOptions.resultAccess.AccessAddField.indexOf('Key')>-1">
                    <label class="col-sm-2 control-label"> {{'KEY'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               name="Key"
                               ng-model="appLayoutValue.selectedItem.Key" ng-focus="appLayoutValue.loadEmojiPickerdiscover()"
                               data-emojiable="true" />
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <br />
                <div class="back1">
                    <div class="form-group" ng-show="appLayoutValue.gridOptions.resultAccess.AccessAddField.indexOf('MenuItemProcesses')>-1">
                        <br />
                        <div class="col-sm-8 checkBoxList" style="overflow-y: auto">
                            <div ng-repeat="permission in appLayoutValue.processesListItems">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="{{permission.Id}}" ng-checked="appLayoutValue.hasInMany2Many(permission)" ng-click="appLayoutValue.toggleMany2Many(role,permission)">
                                    {{permission.Title}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back2">
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-required="false" placeholder= "{{'ENTER_TITLE_OF_OPERATION'|lowercase|translate}}"  ng-model="appLayoutValue.newProcess.Title" />
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> {{'CHOOSE_MODULES'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="appLayoutValue.newProcess.LinkModuleId" ng-change="appLayoutValue.LoadcmsModuleProcess(appLayoutValue.newProcess.LinkModuleId)">
                                <option value="0"> {{'SELECT'|lowercase|translate}} </option>
                                <option ng-repeat="x in appLayoutValue.cmsModulesListItems" ng-selected="x.Id == appLayoutValue.newProcess.LinkModuleId" value="{{x.Id}}">{{x.Title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> {{'CHOOSE_ACTIVITY_MODULE'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <select id="cmsModuleProcesses_comboBox" class="form-control" ng-model="appLayoutValue.newProcess.LinkModuleProcessId" ng-change="appLayoutValue.LoadcmsModuleProcessCustomize(appLayoutValue.newProcess.LinkModuleProcessId)">
                                <option value="0"> {{'SELECT'|lowercase|translate}} </option>
                                <option ng-repeat="x in appLayoutValue.cmsModulesProcessesListItems" ng-selected="x.Id == appLayoutValue.newProcess.LinkModuleProcessId" value="{{x.Id}}">{{x.Title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> "{{'SELECT_THE_TYPE_OF_USE'|lowercase|translate}}" </label>
                        <div class="col-sm-10">
                            <select id="cmsModuleProcessesCustomize_comboBox" class="form-control" ng-model="appLayoutValue.newProcess.LinkModuleProcessCustomizeId" ng-change="appLayoutValue.LoadProcessInputCustomizeValue(appLayoutValue.newProcess.LinkModuleProcessCustomizeId)">
                                <option value="0"> {{'SELECT'|lowercase|translate}} </option>
                                <option ng-repeat="x in appLayoutValue.cmsModulesProcessesCustomizeListItems" ng-selected="x.Id == appLayoutValue.newProcess.LinkModuleProcessCustomizeId" value="{{x.Id}}">{{x.Title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div ng-model="appLayoutValue.submitValue" fb-form="default" fb-default="appLayoutValue.defaultValue"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <pre>{{appLayoutValue.submitValue}}</pre>
                        </div>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="appLayoutValue.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="appLayoutValue.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

