<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="discountSerialCard.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Card'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmdiscountSerialCardAdd" novalidate ng-submit="discountSerialCard.addNewRow(frmdiscountSerialCardAdd)">
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountSerialCardAdd.LinkSourceId.$invalid && !frmdiscountSerialCardAdd.LinkSourceId.$pristine,'has-success' : frmdiscountSerialCardAdd.LinkSourceId.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="discountSerialCard"></div>
                </div>
                <div class='hr-line-dashed'></div>

                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$invalid && !frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$pristine,'has-success' : frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$valid}">
                    <label class="col-sm-2 control-label">{{'CARD_NUMBER'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="DiscountSerialCardIdentifier"
                               ng-model="discountSerialCard.selectedItem.DiscountSerialCardIdentifier" />
                        <div class="m-t-xs" ng-show="frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$invalid">
                            <small class="text-danger" ng-show="frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$valid && frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$invalid && !frmdiscountSerialCardAdd.DiscountSerialCardIdentifier.$pristine) || frmdiscountSerialCardAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'RfId_Serial'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               name="SerialRfId"
                               ng-model="discountSerialCard.selectedItem.SerialRfId" />
                    </div>
                </div>

                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'Serial_Number'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               name="SerialNumber"
                               ng-model="discountSerialCard.selectedItem.SerialNumber" />
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountSerialCardAdd.MonthExpireLength.$invalid && !frmdiscountSerialCardAdd.MonthExpireLength.$pristine,'has-success' : frmdiscountSerialCardAdd.MonthExpireLength.$valid}">
                    <label class="col-sm-2 control-label">{{'Number_Of_Months_Expiration'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="MonthExpireLength"
                               ng-model="discountSerialCard.selectedItem.MonthExpireLength" />
                        <div class="m-t-xs" ng-show="frmdiscountSerialCardAdd.MonthExpireLength.$invalid">
                            <small class="text-danger" ng-show="frmdiscountSerialCardAdd.MonthExpireLength.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountSerialCardAdd.MonthExpireLength.$valid && frmdiscountSerialCardAdd.MonthExpireLength.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountSerialCardAdd.MonthExpireLength.$invalid && !frmdiscountSerialCardAdd.MonthExpireLength.$pristine) || frmdiscountSerialCardAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>

                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="discountSerialCard.gridOptions.resultAccess.AccessAddField.indexOf('LinkDiscountGroupId')>-1">
                    <label class="col-sm-2 control-label">{{'GROUP'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="LinkDiscountGroupId" rasha-autocomplete="discountSerialCard.LinkDiscountGroupIdSelector" ng-model="discountSerialCard.selectedItem.LinkDiscountGroupId" />
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="discountSerialCard.gridOptions.resultAccess.AccessAddField.indexOf('LinkDiscountSerialCardFlowGroupId')>-1">
                    <label class="col-sm-2 control-label">{{'Work_Process'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="LinkDiscountGroupId" rasha-autocomplete="discountSerialCard.LinkDiscountSerialCardFlowGroupIdSelector" ng-model="discountSerialCard.selectedItem.LinkDiscountSerialCardFlowGroupId" />
                    </div>
                </div>

                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="discountSerialCard.gridOptions.resultAccess.AccessAddField.indexOf('LinkDiscountSellerId')>-1">
                    <label class="col-sm-2 control-label">{{'Representative'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="LinkDiscountSellerId" rasha-autocomplete="discountSerialCard.LinkDiscountSellerIdSelector" ng-model="discountSerialCard.selectedItem.LinkDiscountSellerId" />
                    </div>
                </div>

                <!--<div class='hr-line-dashed'></div>
                <div class="form-group">
                    <label class="col-xs-2 col-sm-2 control-label">کد سیستمی عضو</label>
                    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" ng-model="discountSerialCard.selectedItem.NationalCode" />
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src=cmsServerConfig.configCpanelImages+"refresh.png" style="cursor:pointer;" ng-click="discountSerialCard.getUser(discountSerialCard.selectedItem.NationalCode)" />
                    </div>
                  
                    <div class="col-xs-10 " ng-show="discountSerialCard.ViewFindUserDiv">
                        {{'FirstName_Label'|lowercase|translate}}<label class="control-label">{{discountSerialCard.selectedMember.FirstName}}</label>
                        <div class='hr-line-dashed'></div>
                        {{'LastName_Label'|lowercase|translate}}<label class="control-label">{{discountSerialCard.selectedMember.LastName}}</label>
                        <div class='hr-line-dashed'></div>
                        {{'Phone_Label'|lowercase|translate}}<label class="control-label">{{discountSerialCard.selectedMember.MobileNo}}</label>
                        <div class='hr-line-dashed'></div>
                        <label class="col-sm-2 control-label">{{'Member_Id'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" readonly type="text" ng-model="discountSerialCard.selectedMember.Id" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div ng-show="discountSerialCard.ViewNewUserDiv">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'NAME'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.FirstName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'LAST_NAME'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.LastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'Mobile'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.MobileNo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'ADDRESS'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">کد ملی</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.NationalCode" />
                        </div>
                    </div>
                </div>-->


                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="discountSerialCard.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="discountSerialCard.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
