<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="discountSerialCard.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ discountSerialCard.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmdiscountSerialCardShow" novalidate ng-submit="discountSerialCard.editRow(frmdiscountSerialCardShow)">
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountSerialCardShow.LinkSourceId.$invalid && !frmdiscountSerialCardShow.LinkSourceId.$pristine,'has-success' : frmdiscountSerialCardShow.LinkSourceId.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="discountSerialCard"></div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error' : frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$invalid && !frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$pristine,'has-success' : frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$valid}">
                    <label class="col-sm-2 control-label">{{'CARD_NUMBER'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="DiscountSerialCardIdentifier"
                               ng-model="discountSerialCard.selectedItem.DiscountSerialCardIdentifier" />
                        <div class="m-t-xs" ng-show="frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$invalid">
                            <small class="text-danger" ng-show="frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$valid && frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$invalid && !frmdiscountSerialCardShow.DiscountSerialCardIdentifier.$pristine) || frmdiscountSerialCardShow.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>

                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="discountSerialCard.gridOptions.resultAccess.AccessAddField.indexOf('LinkDiscountGroupId')>-1">
                    <label class="col-sm-2 control-label">{{'GROUP'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="LinkDiscountGroupId" rasha-autocomplete="discountSerialCard.LinkDiscountGroupIdSelector" ng-model="frmdiscountSerialCardShow.selectedItem.LinkDiscountGroupId" />
                    </div>
                </div>

                <div class="form-group" ng-show="!discountSerialCard.alreadyExist">
                    <div class="col-sm-12">
                        <label class="radio"><input type="radio" name="optradio" value="1" ng-model="discountSerialCard.addNewMemberUser">{{'Member_Definition'|lowercase|translate}}</label>
                        <label class="radio"><input type="radio" name="optradio" value="0" ng-model="discountSerialCard.addNewMemberUser">{{'Select_From_Predefined_Members'|lowercase|translate}}</label>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div ng-show="!discountSerialCard.alreadyExist && discountSerialCard.addNewMemberUser==1">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'NAME'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.FirstName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'LAST_NAME'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.LastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'Mobile'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.MobileNo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'ADDRESS'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="discountSerialCard.selectedMemberUser.Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" ng-disabled="discountSerialCard.addRequested" ng-show="!discountSerialCard.alreadyExist" ng-click="discountSerialCard.addMemberInfo(frmdiscountSerialCardShow)"><i class="fa fa-plus-circle"></i>&nbsp;{{'ADD_NOW'|lowercase|translate}}</button>
                    </div>
                </div>
                <div ng-show="!discountSerialCard.alreadyExist && discountSerialCard.addNewMemberUser==0">
                    <div class='hr-line-dashed'></div>
                    <div class="form-group" ng-show="discountSerialCard.gridOptions.resultAccess.AccessAddField.indexOf('LinkMemberId')>-1">
                        <label class="col-sm-2 control-label">{{'Member_Id'|lowercase|translate}}</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="LinkMemberId" rasha-autocomplete="discountSerialCard.LinkMemberIdSelector" ng-model="frmdiscountSerialCardShow.selectedItem.LinkMemberId" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="discountSerialCard.EditRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="discountSerialCard.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>