<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="chartTag.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Category' |lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmchartTagAdd" novalidate ng-submit="chartTag.addNewCategory(frmchartTagAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmchartTagAdd.RecordStatus.$invalid && !frmchartTagAdd.RecordStatus.$pristine,'has-success' : frmchartTagAdd.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="chartTag"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmchartTagAdd.Title.$invalid && !frmchartTagAdd.Title.$pristine,'has-success' : frmchartTagAdd.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           maxlength="256"
                                           ng-model="chartTag.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmchartTagAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmchartTagAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmchartTagAdd.Title.$valid && frmchartTagAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmchartTagAdd.Title.$invalid && !frmchartTagAdd.Title.$pristine) || frmchartTagAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-class="{'has-error' : frmchartTagAdd.Description.$invalid && !frmchartTagAdd.Description.$pristine,'has-success' : frmchartTagAdd.Description.$valid}">
                                <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" maxlength="2048" ng-required="true" name="Description" ng-model="chartTag.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmchartTagAdd.Description.$invalid">
                                        <small class="text-danger" ng-show="frmchartTagAdd.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmchartTagAdd.Description.$valid && frmchartTagAdd.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmchartTagAdd.Description.$invalid && !frmchartTagAdd.Description.$pristine) || frmchartTagAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Further_Information' |lowercase|translate}}">
                        <div class="panel-body">                          
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="chartTag.selectedItem.previewImageSrc != null">
                                <label class="col-sm-2 control-label"> {{'IMAGE'|lowercase|translate}} </label>
                                <img src="{{chartTag.selectedItem.previewImageSrc}}"  width="300" height="300" class="img-rounded col-sm-3 col-md-3 col-lg-3" alt="{{chartTag.selectedItem.Title}}" />
                            </div>
                            <div id="treecontrol" class="form-group">
                                <label class="col-sm-2 control-label">{{'SELECT_ICON'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div treecontrol class="tree-boot" style="color:black"
                                         tree-model="chartTag.dataForTheTree"
                                         options="chartTag.treeOptions"
                                         selected-node="chartTag.selectedNode"
                                         expanded-nodes="chartTag.expandedNodes"
                                         on-selection="chartTag.onSelection(node, selected)"
                                         on-node-toggle="chartTag.onNodeToggle(node, expanded)">
                                        {{node.Title}}{{node.FileName}}&nbsp;&nbsp;<label class="label-control" style="color:#ff6500;font-style:italic;font-size:12px;">{{node.messageText}}</label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="chartTag.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="chartTag.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>