
<p>تظنیمات منو</p>
<div>
    <p>  بخش 1 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn1" />
        </div>
    </div>


</div>

<div>
    <p>  بخش 2 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn2" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 3 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType3" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn3" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 4 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType4" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn4" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 5 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn5" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 6 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType6" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn6" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 7 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType7" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn7" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 8 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType8" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn8" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 9 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType9" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn9" />
        </div>
    </div>


</div>
<div>
    <p>  بخش 10 </p>


    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'عنوان منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuTitle10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'آیکون منو'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuImageId10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortType'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortType10" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> {{'MenuFilterModelSortColumn'|lowercase|translate}}
        </label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="ThemeFinderConfig.MenuFilterModelSortColumn10" />
        </div>
    </div>


</div>