<div class="modal-body">
    <div class="row" rasha-loading="shopTag.busyIndicator">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="shopTag.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ shopTag.modalTitle }}</h3>
        </div>
        <div class='hr-line-dashed' style="border-top: 3px double #8c8b8b;"></div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <form method="get" class="form-horizontal" name="frmshopTagGridConfig" novalidate ng-submit="shopTag.closeModal()">
                    <div ng-repeat="column in shopTag.gridOptions.columns">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="checkbox-inline">
                                    <input icheck type="checkbox" value="{{column.name}}" id="{{column.name}}" ng-checked="{{column.visible}}"/>{{column.displayName}}
                                </label>
                            </div>
                        </div>
                        <div class='hr-line-dashed'></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <!--<button class="btn btn-primary" ng-disabled="shopTag.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>-->
                <button class="btn btn-primary" type="button" ng-click="shopTag.closeModal()"> {{'CLOSE'|lowercase|translate}}  </button>
            </div>
        </div>
    </div>

</div>

