<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="form.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Form'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmCmsModuleAdd" novalidate ng-submit="form.addNewRow(frmCmsModuleAdd)">
                <div class="form-group" ng-show="form.gridOptions.resultAccess.AccessAddField.indexOf('RecordStatus')>-1"
                     ng-class="{'has-error' : frmcmsModuleProcessgrdEdit.RecordStatus.$invalid && !frmcmsModuleProcessgrdEdit.RecordStatus.$pristine,'has-success' : frmcmsModuleProcessgrdEdit.RecordStatus.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="form"></div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="form.gridOptions.resultAccess.AccessAddField.indexOf('Title')>-1"
                     ng-class="{'has-error' : frmCmsModuleAdd.Title.$invalid && !frmCmsModuleAdd.Title.$pristine,'has-success' : frmCmsModuleAdd.Title.$valid}">
                    <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="Title"
                               ng-model="form.selectedItem.Title" />
                        <div class="m-t-xs" ng-show="frmCmsModuleAdd.Title.$invalid">
                            <small class="text-danger" ng-show="frmCmsModuleAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsModuleAdd.Title.$valid && frmCmsModuleAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsModuleAdd.Title.$invalid && !frmCmsModuleAdd.Title.$pristine) || frmCmsModuleAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class='form-group' ng-show="form.gridOptions.resultAccess.AccessAddField.indexOf('Description')>-1">
                    <label class='col-sm-2 control-label'> {{'description'|lowercase|translate}} </label>
                    <div class='col-sm-10'>
                        <textarea type='text' ng-required="true" ng-model='form.selectedItem.Description' class='form-control' style="resize: vertical;height: 100px;"></textarea>
                    </div>
                </div>
                <!--<div class='hr-line-dashed'></div>
                <div class='form-group' ng-show="form.gridOptions.resultAccess.AccessAddField.indexOf('FormValues')>-1">
                    <label class='col-sm-2 control-label'>{{'FORM_VALUE'|lowercase|translate}}</label>
                    <div class='col-sm-10'>
                        <textarea type='text' ng-model='form.selectedItem.FormValues' class='form-control' style="height: 55px;"></textarea>
                    </div>
                </div>-->
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="form.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="form.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

