<style>
    [treecontrol].tree-boot i.tree-branch-head,
    [treecontrol].tree-boot i.tree-leaf-head {
        float: right;
        height: 16px;
        margin: 5px;
    }

    /*.c-ul {
            border: 1px solid #abcdef;
        }

        .c-li {
            background-color: #defacb;
        }

        .c-liSelected {
            background-color: #fedbca;
        }

        .c-iExpanded {
            border: 1px solid #77a;
        }

        .c-iCollapsed {
            border: 1px solid #7c7;
        }

        .c-iLeaf {
            border: 1px solid #a77;
        }

        treecontrol.tree-classic li .tree-label.c-label {
            color: #44c;
        }

        treecontrol.tree-classic li .tree-selected.c-labelSelected {
            background-color: yellow;
        }*/
    /*[treecontrol].tree-boot li.tree-collapsed i.tree-branch-head {
        padding: 1px 10px;
        background: url(cmsServerConfig.configCpanelImages+"folder.png") no-repeat;
        background-size: cover;
    }*/
    /*[treecontrol].tree-boot li.tree-leaf i.tree-leaf-head {
        padding: 1px 10px;
        background: url(cmsServerConfig.configCpanelImages+"file_music.png") no-repeat;
    }*/
</style>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="mscGallery.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{'ADD_NEW_CONTENT'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmmscGalleryAdd" novalidate ng-submit="mscGallery.addFromFolder(frmmscGalleryAdd)">
                <div class='hr-line-dashed'></div>
                <!--<div class="form-group">
                    <label class="col-sm-4 control-label">{{'FOLDER_ID'|lowercase|translate}}</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" ng-model="mscGallery.selectedItem.FolderId" />
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'SELECT_FILE'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <treecontrol tree-model="mscGallery.dataForTheTree" class="tree-boot" style="color:black"
                                     options="mscGallery.treeOptions"
                                     on-node-toggle="mscGallery.onNodeToggle(node,expanded)">
                            {{node.Title}}{{node.FileName}}&nbsp;&nbsp;<label style="color:#ff3e00;font-style:italic;font-size:12px;">{{node.messageText}}</label>
                        </treecontrol>
                        <!--<div treecontrol class="tree-boot" style="color:black"
                             tree-model="mscGallery.dataForTheTree"
                             options="mscGallery.treeOptions"
                             on-node-toggle="mscGallery.onNodeToggle(node,expanded)">
                            {{node.Title}}{{node.FileName}}&nbsp;&nbsp;<label style="color:#ff3e00;font-style:italic;font-size:12px;">{{node.messageText}}</label>
                        </div>-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="list-group">
                            <a ng-repeat="x in mscGallery.filesFromFolder" class="list-group-item list-group-item-action">{{x.FileName}}&nbsp;<img ng-if="x.addIsSuccess" src=cmsServerConfig.configCpanelImages+"sign_check.png" style="height:25px;" /><img ng-if="x.addIsSuccess==false" src=cmsServerConfig.configCpanelImages+"error.png" style="height:25px;" /><img ng-if="x.addIsSuccess==null" src="cpanelv1/images/loading.png" style="height:25px;" /></a>
                            <!--<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus&nbsp;<img src=cmsServerConfig.configCpanelImages+"sign_check.png" /></a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac&nbsp;<img src=cmsServerConfig.configCpanelImages+"sign_check.png" /></a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros&nbsp;<img src=cmsServerConfig.configCpanelImages+"sign_check.png" /></a>-->
                        </div>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="mscGallery.addRequested" type="submit"> {{'ADD_NOW'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="mscGallery.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
