<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="objectProperty.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ objectProperty.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmobjectPropertyAdd" novalidate ng-submit="objectProperty.CheckPropertyToSite(frmobjectPropertyAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">کد سیستمی عضو جدید</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" ng-disabled="objectProperty.addRequested" name="LinkobjectUserId" ng-model="objectProperty.selectedItemPropertyInSiteLinkobjectUserId" />
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">کد سیستمی پرونده</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" ng-disabled="objectProperty.addRequested" name="LinkobjectPropertyId" ng-model="objectProperty.selectedItemPropertyInSiteLinkobjectPropertyId" />
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" 
                                 ng-class="{'has-error' : frmobjectPropertyAdd.JoinId.$invalid && !frmobjectPropertyAdd.JoinId.$pristine,'has-success' : frmobjectPropertyAdd.JoinId.$valid}">
                                <label class="col-sm-2 control-label"> JoinId </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           type="number"
                                           ng-required="true"
                                           ng-disabled="objectProperty.addRequested"
                                           name="JoinId"
                                           ng-model="objectProperty.selectedItemPropertyInSiteJoinId" />
                                    <div class="m-t-xs" ng-show="frmobjectPropertyAdd.JoinId.$invalid">
                                        <small class="text-danger" ng-show="frmobjectPropertyAdd.JoinId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmobjectPropertyAdd.JoinId.$valid && frmobjectPropertyAdd.JoinId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmobjectPropertyAdd.JoinId.$invalid && !frmobjectPropertyAdd.JoinId.$pristine) || frmobjectPropertyAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                   
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class="form-group back2" ng-show="!objectProperty.addRequestedAddUserInSite">
                    <label class="col-sm-1 control-label">نام:</label>
                    <label class="col-sm-2 control-label" style="right:0px">{{objectProperty.selectedItemobjectInSite.virtual_objectUser.FirstName}}</label>
                    <br />
                    <br />
                    <label class="col-sm-1 control-label">نام خانوادگی:</label>
                    <label class="col-sm-2 control-label" style="right:0px">{{objectProperty.selectedItemobjectInSite.virtual_objectUser.LastName}}</label>
                    <br />
                </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group">
                        <button class="btn btn-warning" ng-disabled="objectProperty.addRequested" type="submit"> بررسی </button>
                        <button class="btn btn-primary" ng-disabled="objectProperty.addRequestedAddUserInSite" ng-click="objectProperty.addNewPropertyToSite()"> اضافه </button>
                        <button class="btn btn-default" type="button" ng-click="objectProperty.closeModal()">{{'cancel'|lowercase|translate}}</button>
                    </div>
</form>
        </div>
    </div>
</div>

