<style>
    [treecontrol].tree-boot i.tree-branch-head,
    [treecontrol].tree-boot i.tree-leaf-head {
        float: right;
        height: 16px;
        margin: 5px;
    }
</style>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="mscGallery.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Category' |lowercase|translate}}</h3>
            <div class='hr-line-dashed'></div>
            <form method="get" class="form-horizontal" name="frmmscGalleryAdd" novalidate ng-submit="mscGallery.addNewCategory(frmmscGalleryAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class="form-group" ng-class="{'has-error' : frmmscGalleryAdd.RecordStatus.$invalid && !frmmscGalleryAdd.RecordStatus.$pristine,'has-success' : frmmscGalleryAdd.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="mscGallery"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmmscGalleryAdd.Title.$invalid && !frmmscGalleryAdd.Title.$pristine,'has-success' : frmmscGalleryAdd.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'CATEGORY_TITLE'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="mscGallery.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmmscGalleryAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmmscGalleryAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmmscGalleryAdd.Title.$valid && frmmscGalleryAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmmscGalleryAdd.Title.$invalid && !frmmscGalleryAdd.Title.$pristine) || frmmscGalleryAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-class="{'has-error' : frmmscGalleryAdd.Description.$invalid && !frmmscGalleryAdd.Description.$pristine,'has-success' : frmmscGalleryAdd.Description.$valid}">
                                <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-required="true" name="Description" ng-model="mscGallery.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmmscGalleryAdd.Description.$invalid">
                                        <small class="text-danger" ng-show="frmmscGalleryAdd.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmmscGalleryAdd.Description.$valid && frmmscGalleryAdd.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmmscGalleryAdd.Description.$invalid && !frmmscGalleryAdd.Description.$pristine) || frmmscGalleryAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Further_Information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="mscGallery.selectedItem.previewImageSrc != null">
                                <label class="col-sm-2 control-label"> {{'IMAGE'|lowercase|translate}} </label>
                                <img src="{{mscGallery.selectedItem.previewImageSrc}}"  width="300" height="300" class="img-rounded col-sm-3 col-md-3 col-lg-3" alt="{{mscGallery.selectedItem.Title}}" />
                            </div>
                            <div id="treecontrol" class="form-group">
                                <label class="col-sm-2 control-label">{{'SELECT_ICON'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div treecontrol class="tree-boot" style="color:black"
                                         tree-model="mscGallery.dataForTheTree"
                                         options="mscGallery.treeOptions"
                                         selected-node="mscGallery.selectedNode"
                                         expanded-nodes="mscGallery.expandedNodes"
                                         on-selection="mscGallery.onSelection(node, selected)"
                                         on-node-toggle="mscGallery.onNodeToggle(node, expanded)">
                                        {{node.Title}}{{node.FileName}}&nbsp;&nbsp;<label class="label-control" style="color:#ff6500;font-style:italic;font-size:12px;">{{node.messageText}}</label>
                                    </div>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>              
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="mscGallery.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="mscGallery.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>