<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="cmsGuide.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Edit_Help' |lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmCmsCpMainMenuEdit" novalidate ng-submit="cmsGuide.editRow(frmCmsCpMainMenuEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class="form-group" ng-show="cmsGuide.gridOptions.resultAccess.AccessEditField.indexOf('Title')>-1"
                                 ng-class="{'has-error' : frmCmsCpMainMenuEdit.Title.$invalid && !frmCmsCpMainMenuEdit.Title.$pristine,'has-success' : frmCmsCpMainMenuEdit.Title.$valid}">
                                <label class="col-sm-2 control-label">{{ 'title' |lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="cmsGuide.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmCmsCpMainMenuEdit.Title.$invalid">
                                        <small class="text-danger" ng-show="frmCmsCpMainMenuEdit.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{ 'THIS_INFORMATION_IS_REQUIRED' |lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsCpMainMenuEdit.Title.$valid && frmCmsCpMainMenuEdit.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsCpMainMenuEdit.Title.$invalid && !frmCmsCpMainMenuEdit.Title.$pristine) || frmCmsCpMainMenuEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsGuide.gridOptions.resultAccess.AccessEditField.indexOf('LinkParentId')>-1">
                                <label class="col-sm-2 control-label">{{ 'SELECT_THE_PARENT_PAGE'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkParentId" rasha-autocomplete="cmsGuide.LinkParentIdSelector" ng-model="cmsGuide.selectedItem.LinkParentId" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'FULL_CONTENT'|lowercase|translate}} {{'persian'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div summernote class="summernote" config="cmsGuide.summernoteOptions" ng-model="cmsGuide.selectedItem.BodyFa">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'FULL_CONTENT'|lowercase|translate}} {{'English'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div summernote class="summernote" config="cmsGuide.summernoteOptions" ng-model="cmsGuide.selectedItem.BodyEn">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'FULL_CONTENT'|lowercase|translate}} {{'German'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div summernote class="summernote" config="cmsGuide.summernoteOptions" ng-model="cmsGuide.selectedItem.BodyAr">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Attachments_Files'|lowercase|translate}}">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'ATTACH_FILE'|lowercase|translate}} </label>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="cmsGuide.filePickerFiles" ng-model="cmsGuide.selectedItem.LinkFileIds"></div>
                                </div>
                                <div class="col-sm-1">
                                    <a class="btn btn-primary" ng-click="cmsGuide.addAttachedFile(cmsGuide.selectedItem.LinkFileIds)" style="margin-right: -52px;margin-top: 1px;">
                                        <i class="fa fa-" aria-hidden="true" title="{{'ADD_FILE'|lowercase|translate}}" style="font-family: iransans;font-size: 12px;"> <i class="fa fa-plus-square" aria-hidden="true"></i> </i>
                                    </a>
                                </div>
                                <!--<div class="col-sm-1">
                                    <a class="btn btn-primary uoload-file-m" href="" ng-click="cmsGuide.openUploadModal()" aria-label="Delete" >
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </a>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <div class="form-group col-sm-12" ng-repeat="x in cmsGuide.attachedFiles">
                                    <label class="col-sm-2 control-label">{{$index + 1}}</label>
                                    <div class="input-group">
                                        <input type="text" id="option{{$index}}" class="form-control" ng-required="false" name="attachedFileName" required readonly="readonly" ng-model="x.filename">
                                        <span class="input-group-addon danger" style="background-color:#ed5565; cursor:pointer" title="{{'delete'|lowercase|translate}}" ng-click="cmsGuide.deleteAttachedFile($index)"><i class="fa fa-remove"></i></span>
                                    </div>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>

                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsGuide.addRequested" type="submit">{{ 'SAVE' |lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="cmsGuide.closeModal()">{{ 'CANCEL' |lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>