<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="cmsWidgetCategorygrd.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ cmsWidgetCategorygrd.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmCmsWidgetCategoryAdd" novalidate ng-submit="cmsWidgetCategorygrd.addNewRow(frmCmsWidgetCategoryAdd)">

<div class="form-group"
                                             ng-class="{'has-error' : frmCmsWidgetCategoryAdd.Title.$invalid && !frmCmsWidgetCategoryAdd.Title.$pristine,'has-success' : frmCmsWidgetCategoryAdd.Title.$valid}">
                                            <label class="col-sm-2 control-label">{{'title'|lowercase|translate}}</label>
                                            <div class="col-sm-10">
                                                <input  class="form-control"
                                                       ng-required="true"
                                                       name="Title"
                                                       ng-model="cmsWidgetCategorygrd.selectedItem.Title" />
                                                <div class="m-t-xs" ng-show="frmCmsWidgetCategoryAdd.Title.$invalid">
                                                    <small class="text-danger" ng-show="frmCmsWidgetCategoryAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                                </div>
                                                <span style="left: 10px !important;" ng-show="frmCmsWidgetCategoryAdd.Title.$valid && frmCmsWidgetCategoryAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                                <span style="left: 10px !important;" ng-show="(frmCmsWidgetCategoryAdd.Title.$invalid && !frmCmsWidgetCategoryAdd.Title.$pristine) || frmCmsWidgetCategoryAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                            </div>
                                        </div>
<div class='hr-line-dashed'></div>
<div class="form-group"
                                             ng-class="{'has-error' : frmCmsWidgetCategoryAdd.LinkParentId.$invalid && !frmCmsWidgetCategoryAdd.LinkParentId.$pristine,'has-success' : frmCmsWidgetCategoryAdd.LinkParentId.$valid}">
                                            <label class="col-sm-2 control-label">{{'SELECT_PARENT'|lowercase|translate}}</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" ng-required="true" name="LinkParentId"  rasha-autocomplete="cmsWidgetCategorygrd.linkParentIdSelector" ng-model="cmsWidgetCategorygrd.selectedItem.LinkLinkParentIdId" />
                                                <div class="m-t-xs" ng-show="frmCmsWidgetCategoryAdd.LinkParentId.$invalid">
                                                    <small class="text-danger" ng-show="frmCmsWidgetCategoryAdd.LinkParentId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                                </div>
                                                <span style="left: 10px !important;" ng-show="frmCmsWidgetCategoryAdd.LinkParentId.$valid && frmCmsWidgetCategoryAdd.LinkParentId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                                <span style="left: 10px !important;" ng-show="(frmCmsWidgetCategoryAdd.LinkParentId.$invalid && !frmCmsWidgetCategoryAdd.LinkParentId.$pristine) || frmCmsWidgetCategoryAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                            </div>
                                        </div>
<div class='hr-line-dashed'></div>



                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsWidgetCategorygrd.addRequested" type="submit">{{'save'|lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="cmsWidgetCategorygrd.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>

