<div class="wrapper wrapper-content animated fadeInRight" ng-controller="cmsSiteActionPageGridCtrl as cmsSiteActionPagegrd" ng-init="cmsSiteActionPagegrd.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" rasha-userrole="cmsSiteActionPageController.Add" ng-click="cmsSiteActionPagegrd.openAddModal()" ng-show="cmsSiteActionPagegrd.gridOptions.resultAccess.AccessAddRow"type="button">{{'ADD'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="cmsSiteActionPageController.Edit" ng-click="cmsSiteActionPagegrd.openEditModal()" ng-show="cmsSiteActionPagegrd.gridOptions.resultAccess.AccessEditRow" type="button">{{'EDIT'|lowercase|translate}}</button>
            <button class="btn btn-danger" rasha-userrole="cmsSiteActionPageController.Delete" ng-click="cmsSiteActionPagegrd.deleteRow()" ng-show="cmsSiteActionPagegrd.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'DELETE'|lowercase|translate}}</button>
            <button class="btn btn-success" type="button" ng-click="cmsSiteActionPagegrd.searchData(cmsSiteActionPagegrd.gridOptions.resultAccess.AccessSearchField)">{{'advanced_search'|lowercase|translate}}</button>
            <button class="btn btn-primary" type="button" ng-click="cmsSiteActionPagegrd.reportData()">{{'report'|lowercase|translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="cmsSiteActionPagegrd.gridOptions"></div>
        </div>
    </div>
</div>

