<div class="wrapper wrapper-content animated fadeInRight" ng-controller="filesListCtrl as filesList" ng-init="filesList.init()">
    <!-- <div class="container">-->
    <div class="row" rasha-loading="filesList.busyIndicator">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-success" ng-click="filesList.openViewModal()" type="button" ng-show="filesList.gridOptions.resultAccess.AccessWatchRow">{{'VIEW'|lowercase|translate}}</button>
            <button class="btn btn-danger"  ng-click="filesList.deleteRow()" type="button" ng-show="filesList.gridOptions.resultAccess.AccessDeleteRow"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="filesList.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="filesList.openGridConfigModal(filesList.gridOptions.resultAccess.AccessSearchField)" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="filesList.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="filesList.getCount()">{{'number'|lowercase|translate}}&nbsp;{{filesList.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="builder" query-builder="filesList"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="filesList.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="filesList.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="filesList.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form method="get" class="form-horizontal" name="frmfilesListAdd" novalidate ng-submit="filesList.addNewRow(frmfilesListAdd)">
                <div class='hr-line-dashed'></div>
            </form>
            <div rasha-grid="filesList.gridOptions"></div>
        </div>
    </div>
</div>