<div class="modal-body">
    <div class="row" rasha-loading="appDate.busyIndicator">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="appDate.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Edit_Reservation_Appointment_Date'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmappDateEdit" novalidate ng-submit="appDate.editRow(frmappDateEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="appDate.gridOptions.resultAccess.AccessEditField.indexOf('RecordStatus')>-1"
                                 ng-class="{'has-error' : frmappDateEdit.LinkSourceId.$invalid && !frmappDateEdit.LinkSourceId.$pristine,'has-success' : frmappDateEdit.LinkSourceId.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="appDate"></div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2  control-label"> {{'DATE'|lowercase|translate}}&nbsp;{{'INSERT'|lowercase|translate}} </label>
                                <div class="col-sm-6  col-md-4">
                                    <div rasha-date-picker="appDate.StartDateTime" ng-model="appDate.selectedItem.StartDateTime"></div><input type="hidden" ng-model="appDate.selectedItem.StartDateTime" />
                                </div>
                                <label class="col-sm-2  control-label"> {{'FINISH_DATE'|lowercase|translate}} </label>
                                <div class="col-sm-6 col-md-4">
                                    <div rasha-date-picker="appDate.EndDateTime" ng-model="appDate.selectedItem.EndDateTime"></div><input type="hidden" ng-model="appDate.selectedItem.EndDateTime" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Content</label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="LinkContentId" rasha-autocomplete="appDate.LinkContentIdSelector" ng-model="appDate.selectedItem.LinkContentId" />
                                </div>
                            </div>
                            <!--ng-show="appDate.gridOptions.resultAccess.AccessEditField.indexOf('ServiceTimeMinute')>-1"-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"
                                 ng-class="{'has-error' : frmappDateEdit.ServiceTimeMinute.$invalid && !frmappDateEdit.ServiceTimeMinute.$pristine,'has-success' : frmappDateEdit.ServiceTimeMinute.$valid}">
                                <label class="col-sm-2 control-label"> {{'VISIT_TIME_MIN'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           type="number"
                                           min="1"
                                           name="ServiceTimeMinute"
                                           ng-model="appDate.selectedItem.ServiceTimeMinute" />
                                    <div class="m-t-xs" ng-show="frmappDateEdit.ServiceTimeMinute.$invalid">
                                        <small class="text-danger" ng-show="frmappDateEdit.ServiceTimeMinute.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmappDateEdit.ServiceTimeMinute.$valid && frmappDateEdit.ServiceTimeMinute.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmappDateEdit.ServiceTimeMinute.$invalid && !frmappDateEdit.ServiceTimeMinute.$pristine) || frmappDateEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">GenerateTypeEnum</label>
                                <div class="col-sm-10">
                                    <select class='form-control' name="GenerateTypeEnum" ng-model="appDate.selectedItem.GenerateTypeEnum" ng-options="x.Value as x.Description for x in appDate.GenerateTypeEnum"></select>
                                    <span ng-show="frmappDateEdit.GenerateTypeEnum.$error.required">{{'SELECT_INPUT_TYPE'|lowercase|translate}}</span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ReservationType</label>
                                <div class="col-sm-10">
                                    <select class='form-control' name="ReservationType" ng-model="appDate.selectedItem.ReservationType" ng-options="x.Value as x.Description for x in appDate.ReservationType"></select>
                                    <span ng-show="frmappDateEdit.SessionStatus.$error.required">{{'SELECT_INPUT_TYPE'|lowercase|translate}}</span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="appDate.gridOptions.resultAccess.AccessEditField.indexOf('LinkReservationServiceId')>-1">
                                <label class="col-sm-2 control-label">{{'Service'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkReservationServiceId" rasha-autocomplete="appDate.LinkReservationServiceIdSelector" ng-model="frmappDateEdit.selectedItem.LinkReservationServiceId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="AllowUserToCreateDetailInOrder" ng-model="appDate.selectedItem.AllowUserToCreateDetailInOrder">{{'Is_The_User_Allowed_To_Add_An_Order'|lowercase|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Service</label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="LinkReservationServiceId" rasha-autocomplete="appDate.LinkReservationServiceIdSelector" ng-model="appDate.selectedItem.LinkReservationServiceId" />
                                </div>
                                <div class="col-sm-2">
                                    <a ng-click="appDate.moveSelected()" class="btn btn-primary" aria-label="Settings" style="margin-right: 8px; margin-bottom: 8px;">{{'ADD_NOW' |lowercase|translate}}&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="controls">
                                </div>
                                <br />
                                <table class="table table-striped table-bordered table-responsive floatThead-table" style="border:1px solid gray;max-height:400px;overflow:auto;">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th style="width:370px">{{'title' |lowercase|translate}}</th>
                                            <th>{{'OPERATOIN' |lowercase|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in appDate.selectedItem.AppointmentDateAllowServices" style="max-height:30px">
                                            <td>{{$index}}</td>
                                            <td style="overflow:hidden">
                                                {{x.Title}}
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" ng-click="appDate.removeFromCollection(appDate.selectedItem.AppointmentDateAllowServices,$index)" aria-label="Delete"> {{'REMOVE_FROM_LIST'|lowercase|translate}}&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Attachments_Files'|lowercase|translate}}">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> file report </label>
                                <a class="btn btn-primary uoload-file-m" href="" ng-click="appDate.openUploadModal()" aria-label="Delete">
                                    {{'UPLOAD'|lowercase|translate}}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </a>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="appDate.filePickerFileReport" ng-model="appDate.selectedItem.LinkFileReportId">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="appDate.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="appDate.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>







