<div class="modal-body">
    <div class="row" rasha-loading="appDate.busyIndicator">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="appDate.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ appDate.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmappDateAdd" novalidate ng-submit="appDate.addNewRow(frmappDateAdd)">
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="appDate.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="appDate.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

