<div class="wrapper wrapper-content animated fadeInRight" ng-controller="campaignDetailItemController as campaignDetailItem" ng-init="campaignDetailItem.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="campaignDetailItem.busyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="campaignDetailItem.Add" ng-click="campaignDetailItem.openAddModal()" ng-show="campaignDetailItem.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="campaignDetailItem.Edit" ng-click="campaignDetailItem.openEditModal()" ng-show="campaignDetailItem.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="campaignDetailItem.Delete" ng-click="campaignDetailItem.deleteRow()" ng-show="campaignDetailItem.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="campaignDetailItem.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="campaignDetailItem.openGridConfigModal()" id="gridView-btn"><i class="fa fa-cog fontavesome-small"></i>&nbsp; {{'display_setting'|lowercase|translate}}</button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="campaignDetailItem.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="campaignDetailItem.getCount()">{{'number'|lowercase|translate}}&nbsp;{{campaignDetailItem.ListItemsTotalRowCount}}</button>
        </div>
        <hr />
        <div class="col-sm-12 col-lg-12 col-md-12" id="builderPanel" style="display: none; margin-bottom: 10px;">
            <div id="builder" query-builder="campaignDetailItem"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="campaignDetailItem.getRules()">{{'look'|lowercase|translate}}</button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="campaignDetailItem.saveRules()">{{'save_condition'|lowercase|translate}}</button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="campaignDetailItem.setRules()">{{'restore_condition'|lowercase|translate}}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="campaignDetailItem.gridOptions"></div>
        </div>
    </div>
</div>

