<section id="ngx">
  <div class="card">
      <div class="card-content">
          <div class="card-body">
              <aw-wizard #wizard navBarLayout="large-empty-symbols">
                  <aw-wizard-step [stepTitle]="'مشخصات اولیه'" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                      <form #personalForm="ngForm" class="editForm" novalidate>
                          <h4 class="head text-center">لطفا مشخصات اولیه وب سایت را وارد کنید.</h4>
                          <br/>
                          <div class='row'>
                              <div class='col-12'>
                                     <div class="form-group">
                                         <label class="form-control-label" for="Title">عنوان وب سایت</label>
                                         <input class="form-control input-md" ngModel #Title="ngModel" required id="Title" name="Title" type="text">
                                         <small class="form-text text-muted danger" *ngIf="!Title.valid && (Title.dirty || Title.touched)">این فیلد مورد نیاز است!</small>
                                    </div>
                                  <div class="form-group">
                                      <label class="form-control-label" for="Description">توضیحات</label>
                                      <textarea class="form-control input-md" ngModel #Description="ngModel" required  id="Description" name="Description" type="text">
                                          </textarea>
                                      <small class="form-text text-muted danger" *ngIf="!Description.valid && (Description.dirty || Description.touched)">لطفا توضیحات کوتاه در مورد وب سایت وارد کنید!</small>
                                  </div>

                                  <div class="form-group text-center">
                                      <button type="button" uiSref="work" class="btn btn-info btn-raised" [disabled]="!personalForm.valid" awNextStep>
                                          بعدی
                                          <span style="margin-right:10px;">
                                              <i class="ft-chevron-left"></i>
                                          </span>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </aw-wizard-step>
                  <aw-wizard-step  [stepTitle]="'محتوای وب سایت'" [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">
                      <form #workForm="ngForm" class="editForm" novalidate>
                          <h4 class="head text-center">نوع وب سایت</h4>
                          <br/>
                        <app-core-site-category-select></app-core-site-category-select>
                          <div class="form-group text-center space-20">
                              <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                  <span style="margin-left:10px;">
                                      <i class="ft-chevron-right"></i>
                                  </span> قبلی</button>
                              <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" awNextStep>
                                  بعدی
                                  <span style="margin-right:10px;">
                                      <i class="ft-chevron-left"></i>
                                  </span>
                              </button>
                          </div>
                      </form>                        
                  </aw-wizard-step>
                  <aw-wizard-step [stepTitle]="'آدرس وب سایت'" [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
                      <form #addressForm="ngForm" class="editForm" novalidate>
                          <h4 class="head text-center">مشخصات دامنه اتصال به وب سایت</h4>
                          <br/>
                          <div class='row'>
                              <div class='col-sm-12'>
                    
                                  <div class="row">
                                      <div class='col-12 col-sm-4'>
                                          <div class="form-group">
                                              
                                            <!-- <ng-select [items]="dataModelDomains" bindLabel="name" placeholder="دامنه را انتخاب کنید" [(ngModel)]="selectedDomain">
                                            </ng-select> -->
                                            <p>
                                                <!-- شهرهای انتخاب شده : {{Domain | json}} -->
                                            </p>

                                              <label class="form-control-label" for="Domain">دامنه</label>
                                              <input class="form-control input-md" ngModel #Domain="ngModel" required id="Domain" name="Domain" type="text">
                                              <small class="form-text text-muted danger" *ngIf="!Domain.valid && (Domain.dirty || Domain.touched)">این فیلد مورد نیاز است!</small>

                                          </div>
                                      </div>
                                      <div class='col-4 col-sm-offset-1 col-sm-3'>
                                          <div class="form-group">
                                              <label class="form-control-label" for="SubDomain">زیر دامنه</label>
                                              <input class="form-control input-md" ngModel #SubDomain="ngModel" required id="SubDomain" name="SubDomain" type="text">
                                              <small class="form-text text-muted danger" *ngIf="!SubDomain.valid && (SubDomain.dirty || SubDomain.touched)">این فیلد مورد نیاز است!</small>

                                          </div>
                                      </div>
                                  </div>

                                  <div class="form-group text-center">
                                      <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                          <span style="margin-left:10px;">
                                              <i class="ft-chevron-right"></i>
                                          </span> قبلی</button>
                                      <button uiSref="result" type="button" class="btn btn-raised btn-success" [disabled]="!addressForm.valid" awResetWizard>
                                          پایان
                                          <span style="margin-right:10px;">
                                              <i class="ft-chevron-left"></i>
                                          </span>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </form>
                      
                  </aw-wizard-step>
              </aw-wizard>


          </div>
      </div>
  </div>
</section>