<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="shopProcess.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Goods_Of_Type_The_Process'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmshopProcessAdd" novalidate ng-submit="shopProcess.addNewContent(frmshopProcessAdd)">
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="shopProcess.gridOptions.resultAccess.AccessAddField.indexOf('RecordStatus')>-1"
                     ng-class="{'has-error' : frmshopProcessAdd.RecordStatus.$invalid && !frmshopProcessAdd.RecordStatus.$pristine,'has-success' : frmshopProcessAdd.RecordStatus.$valid}">
                    <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                    <div class="col-sm-10" rasha-record-status="shopProcess"></div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="shopProcess.gridOptions.resultAccess.AccessAddField.indexOf('Title')>-1"
                     ng-class="{'has-error' : frmshopProcessAdd.Title.$invalid && !frmshopProcessAdd.Title.$pristine,'has-success' : frmshopProcessAdd.Title.$valid}">
                    <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               ng-required="true"
                               name="Title"
                               ng-model="shopProcess.selectedItem.Title" />
                        <div class="m-t-xs" ng-show="frmshopProcessAdd.Title.$invalid">
                            <small class="text-danger" ng-show="frmshopProcessAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmshopProcessAdd.Title.$valid && frmshopProcessAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmshopProcessAdd.Title.$invalid && !frmshopProcessAdd.Title.$pristine) || frmshopProcessAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class='form-group' ng-show="shopProcess.gridOptions.resultAccess.AccessAddField.indexOf('Description')>-1">
                    <label class='col-sm-2 control-label'> {{'description'|lowercase|translate}} </label>
                    <div class='col-sm-10'>
                        <textarea type='text' ng-required="true" ng-model='shopProcess.selectedItem.Description' class='form-control' style="resize: vertical;height: 100px;"></textarea>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class='form-group' ng-show="shopProcess.gridOptions.resultAccess.AccessAddField.indexOf('Price')>-1">
                    <label class='col-sm-2 control-label'>{{'PRICE'|lowercase|translate}}</label>
                    <div class='col-sm-10'>
                        <input type='number' name="Price" ng-model='shopProcess.selectedItem.Price' class='form-control' />
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="shopProcess.gridOptions.resultAccess.AccessAddField.indexOf('AddToInvoicePrint')>-1">
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input icheck type="checkbox" value="AddToInvoicePrint" ng-model="shopProcess.selectedItem.AddToInvoicePrint" /><h4>{{'ADD_TO_INVOICE'|lowercase|translate}}</h4>
                        </label>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="shopProcess.gridOptions.resultAccess.AccessAddField.indexOf('CheckInventory')>-1">
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input icheck type="checkbox" value="CheckInventory" ng-model="shopProcess.selectedItem.CheckInventory" /><h4>{{'CHECK_INVENTORY'|lowercase|translate}}</h4>
                        </label>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class='form-group' ng-show="shopProcess.gridOptions.resultAccess.AccessAddField.indexOf('CurrentInventory')>-1">
                    <label class='col-sm-2 control-label'>{{'STOCK'|lowercase|translate}}</label>
                    <div class='col-sm-10'>
                        <input type='number' step="0.01" ng-model='shopProcess.selectedItem.CurrentInventory' class="form-control" />
                    </div>
                </div>
                <div class="back2">
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> {{'CHOOSE_MODULES'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="shopProcess.selectedItem.LinkProcessCategoryId" ng-change="shopProcess.onModuleChange(shopProcess.selectedItem.LinkProcessCategoryId)">
                                <option value="0"> {{'SELECT'|lowercase|translate}} </option>
                                <option ng-repeat="x in shopProcess.ProcessCategoryListItems" value="{{x.Id}}">{{x.Title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='hr-line-dashed'></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> {{'CHOOSE_ACTIVITY_MODULE'|lowercase|translate}} </label>
                        <div class="col-sm-10">
                            <select id="cmsModuleProcesses_comboBox" class="form-control" ng-model="shopProcess.selectedItem.LinkProcessId" ng-disabled="shopProcess.isLoading" ng-change="shopProcess.LoadUniversalMenuProcessOfModuleProcessCustomize(shopProcess.selectedItem.LinkProcessId)">
                                <option ng-show="x.InputValueMethod==1" ng-repeat="x in shopProcess.cmsModulesProcessesListItems" value="{{x.Id}}">{{x.Title}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='hr-line-dashed'></div>
                <div class='form-group' >
                    <div class='col-sm-12'>
                        <div ng-model="shopProcess.submitValue" fb-form="default" fb-default="shopProcess.defaultValue"></div>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="shopProcess.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="shopProcess.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
