<div class="modal-body">
    <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="shopProcess.closeModal()"></i>
    <h5> {{'PREVIEW'|lowercase|translate}} </h5>
    <hr />
    <!-- Tile Section -->
    <div class="row">
        <form class="form-horizontal">
            <div ng-model="shopProcess.valueSubmit" fb-form="default" fb-default="shopProcess.defaultValue"></div>
            <div class="col-md-12">
                <pre>{{shopProcess.valueSubmit}}</pre>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button class="btn btn-primary" type="button" ng-click="shopProcess.submitValues()"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="shopProcess.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>