<div class="wrapper wrapper-content animated fadeInRight" ng-controller="biographyContentParameterTypeController as biographyContentParameterType" ng-init="biographyContentParameterType.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="biographyContentParameterType.categoryBusyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="biographyContentParameterType.Add" ng-click="biographyContentParameterType.openAddModal()" ng-show="biographyContentParameterType.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="biographyContentParameterType.Edit" ng-click="biographyContentParameterType.openEditModal()" ng-show="biographyContentParameterType.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="biographyContentParameterType.Delete" ng-click="biographyContentParameterType.deleteRow()" ng-show="biographyContentParameterType.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" ng-click="biographyContentParameterType.showAdvancedSearchPanel()"><i class="fa fa-search fontavesome-small"></i>&nbsp; {{'advanced_search'|lowercase|translate}}&nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="biographyContentParameterType.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="biographyContentParameterType.getCount()">{{'QUANTITY'|lowercase|translate}}&nbsp;{{biographyContentParameterType.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <hr />
    <div class="col-sm-12 col-lg-12 col-md-12" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div id="builder" query-builder="biographyContentParameterType"></div>
        <div class="btn-group" style="float: left;">
            <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="biographyContentParameterType.getRules()"> {{'look'|lowercase|translate}} </button>
            <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="biographyContentParameterType.saveRules()"> {{'save_condition'|lowercase|translate}} </button>
            <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="biographyContentParameterType.setRules()"> {{'restore_condition'|lowercase|translate}} </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="biographyContentParameterType.gridOptions"></div>
        </div>
    </div>
</div>

