<div class="modal-body">
    <div class="row" rasha-loading="biographyComment.busyIndicator">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="biographyComment.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Edit_Comment'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmbiographyCommentEdit" novalidate ng-submit="biographyComment.editRow(frmbiographyCommentEdit)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="biographyComment.gridOptions.resultAccess.AccessEditField.indexOf('RecordStatus')>-1"
                                 ng-class="{'has-error' : frmbiographyCommentAdd.RecordStatus.$invalid && !frmbiographyCommentAdd.RecordStatus.$pristine,'has-success' : frmbiographyCommentAdd.LinkSourceId.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="biographyComment"></div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="biographyComment.gridOptions.resultAccess.AccessEditField.indexOf('Writer')>-1"
                                 ng-class="{'has-error' : frmbiographyCommentEdit.Writer.$invalid && !frmbiographyCommentEdit.Writer.$pristine,'has-success' : frmbiographyCommentEdit.Writer.$valid}">
                                <label class="col-sm-2 control-label"> {{'AUTHOR'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Writer"
                                           ng-model="biographyComment.selectedItem.Writer" />
                                    <div class="m-t-xs" ng-show="frmbiographyCommentEdit.Writer.$invalid">
                                        <small class="text-danger" ng-show="frmbiographyCommentEdit.Writer.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmbiographyCommentEdit.Writer.$valid && frmbiographyCommentEdit.Writer.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmbiographyCommentEdit.Writer.$invalid && !frmbiographyCommentEdit.Writer.$pristine) || frmbiographyCommentEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="biographyComment.gridOptions.resultAccess.AccessEditField.indexOf('Comment')>-1"
                                 ng-class="{'has-error' : frmbiographyCommentEdit.Comment.$invalid && !frmbiographyCommentEdit.Comment.$pristine,'has-success' : frmbiographyCommentEdit.Comment.$valid}">
                                <label class="col-sm-2 control-label"> {{'COMMENT'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Comment"
                                           ng-model="biographyComment.selectedItem.Comment" />
                                    <div class="m-t-xs" ng-show="frmbiographyCommentEdit.Comment.$invalid">
                                        <small class="text-danger" ng-show="frmbiographyCommentEdit.Comment.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmbiographyCommentEdit.Comment.$valid && frmbiographyCommentEdit.Comment.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmbiographyCommentEdit.Comment.$invalid && !frmbiographyCommentEdit.Comment.$pristine) || frmbiographyCommentEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'SELECT_CONTENT'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkbiographyContentId" rasha-autocomplete="biographyComment.LinkbiographyContentIdSelector" ng-model="biographyComment.selectedItem.LinkbiographyContentId" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>


                 
                <!--<div class='hr-line-dashed'></div>
                <div class="form-group" ng-show="biographyComment.gridOptions.resultAccess.AccessEditField.indexOf('LinkbiographyContentId')>-1"
                     ng-class="{'has-error' : frmbiographyCommentEdit.LinkbiographyContentId.$invalid && !frmbiographyCommentEdit.LinkbiographyContentId.$pristine,'has-success' : frmbiographyCommentEdit.LinkbiographyContentId.$valid}">
                    <label class="col-sm-2 control-label"> {{'SELECT_CONTENT'|lowercase|translate}} </label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-required="true" name="LinkbiographyContentId" rasha-autocomplete="biographyComment.LinkbiographyContentIdSelector" ng-model="biographyComment.selectedItem.LinkbiographyContentId" />
                      <select class="form-control" ng-model="biographycategory.selectedItem.LinkbiographyContentId">
                            <option ng-repeat="x in biographyComment.CommentList" ng-value="x.Id">{{x.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input icheck type="checkbox" value="option1" id="IsActivated" ng-model="biographyComment.selectedItem.IsActivated"/> {{'IS_ACTIVE'|lowercase|translate}} 
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input icheck type="checkbox" value="option2" id="IsArchived" ng-model="biographyComment.selectedItem.IsArchived" /> {{'IS_ARCHIVE'|lowercase|translate}} 
                        </label>
                    </div>
                </div>-->
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="biographyComment.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="biographyComment.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>