<div class="wrapper wrapper-content animated fadeInRight" ng-controller="campaignDetailController as campaignDetail" ng-init="campaignDetail.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="campaignDetail.busyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="campaignDetail.Add" ng-click="campaignDetail.openAddModal()" ng-show="campaignDetail.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="campaignDetail.Edit" ng-click="campaignDetail.openEditModal()" ng-show="campaignDetail.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="campaignDetail.Delete" ng-click="campaignDetail.deleteRow()" ng-show="campaignDetail.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="campaignDetail.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="campaignDetail.openGridConfigModal()" id="gridView-btn"><i class="fa fa-cog fontavesome-small"></i>&nbsp; {{'display_setting'|lowercase|translate}}</button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="campaignDetail.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="campaignDetail.getCount()">{{'number'|lowercase|translate}}&nbsp;{{campaignDetail.ListItemsTotalRowCount}}</button>
        </div>
        <hr />
        <div class="col-sm-12 col-lg-12 col-md-12" id="builderPanel" style="display: none; margin-bottom: 10px;">
            <div id="builder" query-builder="campaignDetail"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="campaignDetail.getRules()">{{'look'|lowercase|translate}}</button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="campaignDetail.saveRules()">{{'save_condition'|lowercase|translate}}</button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="campaignDetail.setRules()">{{'restore_condition'|lowercase|translate}}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="campaignDetail.gridOptions"></div>
        </div>
    </div>
</div>

