<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="objectPropertyType.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_object_Type'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmobjectPropertyTypeAdd" novalidate ng-submit="objectPropertyType.addNewRow(frmobjectPropertyTypeAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="objectPropertyType.gridOptions.resultAccess.AccessAddField.indexOf('RecordStatus')>-1"
                                 ng-class="{'has-error' : frmobjectPropertyTypeAdd.LinkSourceId.$invalid && !frmobjectPropertyTypeAdd.LinkSourceId.$pristine,'has-success' : frmobjectPropertyTypeAdd.LinkSourceId.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="objectPropertyType"></div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="objectPropertyType.gridOptions.resultAccess.AccessAddField.indexOf('Title')>-1"
                                 ng-class="{'has-error' : frmobjectPropertyTypeAdd.Title.$invalid && !frmobjectPropertyTypeAdd.Title.$pristine,'has-success' : frmobjectPropertyTypeAdd.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="objectPropertyType.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmobjectPropertyTypeAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmobjectPropertyTypeAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmobjectPropertyTypeAdd.Title.$valid && frmobjectPropertyTypeAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmobjectPropertyTypeAdd.Title.$invalid && !frmobjectPropertyTypeAdd.Title.$pristine) || frmobjectPropertyTypeAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>


                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="objectPropertyType.gridOptions.resultAccess.AccessAddField.indexOf('Description')>-1" ng-class="{'has-error' : frmobjectPropertyTypeAdd.Description.$invalid && !frmobjectPropertyTypeAdd.Description.$pristine,'has-success' : frmobjectPropertyTypeAdd.Description.$valid}">
                                <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Description" ng-required="true" ng-model="objectPropertyType.selectedItem.Description" style="resize: vertical;height: 100px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmobjectPropertyTypeAdd.Description.$invalid">
                                        <small class="text-danger" ng-show="frmobjectPropertyTypeAdd.Description.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmobjectPropertyTypeAdd.Description.$valid && frmobjectPropertyTypeAdd.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmobjectPropertyTypeAdd.Description.$invalid && !frmobjectPropertyTypeAdd.Description.$pristine) || frmobjectPropertyTypeAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Attachments_Files' |lowercase|translate}}">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'MAIN_IMAGE'|lowercase|translate}} </label>
                                <a class="btn btn-primary uoload-file-m" href="" ng-click="objectPropertyType.openUploadModal()" aria-label="Delete">
                                    {{'UPLOAD'|lowercase|translate}}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </a>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="objectPropertyType.filePickerMainImage" ng-model="objectPropertyType.selectedItem.LinkMainImageId">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </tab>
                </tabset>

                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="objectPropertyType.addRequested" type="submit"> {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="objectPropertyType.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

