<div class="wrapper wrapper-content animated fadeInRight" ng-controller="mvGalleryContentTagCtrl as mvGalleryContentTag" ng-init="mvGalleryContentTag.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="mvGalleryContentTag.busyIndicator"></div>

            <button class="btn btn-primary" rasha-userrole="mvGalleryContentTag.Add" ng-click="mvGalleryContentTag.openAddModal()" ng-show="mvGalleryContentTag.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="mvGalleryContentTag.Edit" ng-click="mvGalleryContentTag.openEditModal()" ng-show="mvGalleryContentTag.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="mvGalleryContentTag.Delete" ng-click="mvGalleryContentTag.deleteRow()" ng-show="mvGalleryContentTag.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="mvGalleryContentTag.showAdvancedSearchPanel(mvGalleryContentTag.gridOptions.resultAccess.AccessSearchField)"> {{'advanced_search'|lowercase|translate}} </button>
            <button class="btn btn-warning" type="button" ng-click="mvGalleryContentTag.openGridConfigModal()" id="gridView-btn"><i class="fa fa-cog fontavesome-small"></i>&nbsp; {{'display_setting'|lowercase|translate}}</button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="mvGalleryContentTag.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="mvGalleryContentTag.getCount()">{{'number'|lowercase|translate}}&nbsp;{{mvGalleryContentTag.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="mvGalleryContentTag" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="mvGalleryContentTag.gridOptions"></div>
        </div>
    </div>
</div>

