<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="cmsSitegrd.closeModal()"></i>
            <h3 class="m-t-none m-b">{{'Add_Site'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmCmsSiteAdd" novalidate ng-submit="cmsSitegrd.addNewRow(frmCmsSiteAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'Site_Status'|lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('RecordStatus')>-1"
                                 ng-class="{'has-error' : frmcmsSitegrdAdd.RecordStatus.$invalid && !frmcmsSitegrdAdd.RecordStatus.$pristine,'has-success' : frmcmsSitegrdAdd.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label">{{'condition'|lowercase|translate}}</label>
                                <div class="col-sm-10" rasha-record-status="cmsSitegrd"></div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class='form-group' ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('OwnerSiteSetStatus')>-1">
                                <label class='col-sm-2 control-label'>{{'condition'|lowercase|translate}}:</label>
                                <div class='col-sm-10'>
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.OwnerSiteSetStatus" ng-value="1">&nbsp;{{'ACTIVE'|lowercase|translate}}</label><br />
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.OwnerSiteSetStatus" ng-value="2">&nbsp;{{'INACTIVE'|lowercase|translate}}</label><br />
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.OwnerSiteSetStatus" ng-value="3">&nbsp;{{'MAINTENANCE'|lowercase|translate}}</label><br />
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.OwnerSiteSetStatus" ng-value="4">&nbsp;{{'ALLOWED_USER'|lowercase|translate}}</label>
                                </div>
                            </div>
                            <!-- Redirect -->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('Redirect')>-1">
                                <label class="col-sm-2 control-label">Redirect به:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" style="direction: ltr" name="Redirect" ng-model="cmsSitegrd.selectedItem.Redirect" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Status_Build_Site'|lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class='form-group'>
                                <label class='col-sm-2 control-label'>{{'condition'|lowercase|translate}}:</label>
                                <div class='col-sm-10'>
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.mode" ng-value="1">&nbsp;{{'Build_Site_Without_User'|lowercase|translate}}</label><br />
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.mode" ng-value="2">&nbsp;{{'Build_Site_With_New_User'|lowercase|translate}}</label><br />
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.mode" ng-value="3">&nbsp;{{'Build_Site_With_Current_User'|lowercase|translate}}</label><br />
                                </div>
                            </div>
                            <h3 class="m-t-none m-b" ng-show="cmsSitegrd.selectedItem.mode == 2">{{'User_Profile'|lowercase|translate}}</h3>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 2"></div>
                            <div class="form-group" ng-class="{'has-error' : frmCmsSiteAdd.Username.$invalid && !frmCmsSiteAdd.Username.$pristine,'has-success' : frmCmsSiteAdd.Username.$valid}"
                                 ng-show="cmsSitegrd.selectedItem.mode == 2">
                                <label class="col-sm-2 control-label">{{'USERNAME_EMAIL'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" style="direction: ltr;"
                                           ng-required="cmsSitegrd.selectedItem.mode == 2"
                                           name="Username"
                                           ng-model="cmsSitegrd.selectedItem.Username" />
                                    <div class="m-t-xs" ng-show="frmCmsSiteAdd.Username.$invalid">
                                        <small class="text-danger" ng-show="frmCmsSiteAdd.Username.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsSiteAdd.Username.$valid && frmCmsSiteAdd.Username.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsSiteAdd.Username.$invalid && !frmCmsSiteAdd.Username.$pristine) || frmCmsSiteAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 2"></div>
                            <div class="form-group" ng-class="{'has-error' : frmCmsSiteAdd.Pwd.$invalid && !frmCmsSiteAdd.Pwd.$pristine,'has-success' : frmCmsSiteAdd.Pwd.$valid}"
                                 ng-show="cmsSitegrd.selectedItem.mode == 2">
                                <label class='col-sm-2 control-label'>{{'PASSWORD'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" style="direction: ltr;"
                                           ng-required="cmsSitegrd.selectedItem.mode == 2"
                                           name="Pwd" type="password"
                                           ng-model="cmsSitegrd.selectedItem.Pwd" />
                                    <div class="m-t-xs" ng-show="frmCmsSiteAdd.Pwd.$invalid">
                                        <small class="text-danger" ng-show="frmCmsSiteAdd.Pwd.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsSiteAdd.Pwd.$valid && frmCmsSiteAdd.Pwd.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsSiteAdd.Pwd.$invalid && !frmCmsSiteAdd.Pwd.$pristine) || frmCmsSiteAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('UserLanguage')>-1">
                                <label class="col-sm-2 control-label">{{ 'UserLanguage'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <select class='form-control' name="UserLanguage" ng-model="cmsSitegrd.selectedItem.UserLanguage" ng-options="x.Value as x.Description for x in cmsSitegrd.UserLanguage"></select>
                                    <span ng-show="frmcmsSitegrdAdd.UserLanguage.$error.required">{{'SELECT_INPUT_TYPE'|lowercase|translate}}</span>
                                </div>
                            </div>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 2"></div>
                            <div class="form-group" ng-class="{'has-error' : frmCmsSiteAdd.Name.$invalid && !frmCmsSiteAdd.Name.$pristine,'has-success' : frmCmsSiteAdd.Name.$valid}"
                                 ng-show="cmsSitegrd.selectedItem.mode == 2">
                                <label class="col-sm-2 control-label">{{'NAME'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="cmsSitegrd.selectedItem.mode == 2"
                                           name="Name"
                                           ng-model="cmsSitegrd.selectedItem.Name" />
                                    <div class="m-t-xs" ng-show="frmCmsSiteAdd.Name.$invalid">
                                        <small class="text-danger" ng-show="frmCmsSiteAdd.Name.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsSiteAdd.Name.$valid && frmCmsSiteAdd.Name.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsSiteAdd.Name.$invalid && !frmCmsSiteAdd.Name.$pristine) || frmCmsSiteAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 2"></div>
                            <div class="form-group" ng-class="{'has-error' : frmCmsSiteAdd.LastName.$invalid && !frmCmsSiteAdd.LastName.$pristine,'has-success' : frmCmsSiteAdd.LastName.$valid}"
                                 ng-show="cmsSitegrd.selectedItem.mode == 2">
                                <label class="col-sm-2 control-label">{{'LASTNAME'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="cmsSitegrd.selectedItem.mode == 2"
                                           name="LastName"
                                           ng-model="cmsSitegrd.selectedItem.LastName" />
                                    <div class="m-t-xs" ng-show="frmCmsSiteAdd.LastName.$invalid">
                                        <small class="text-danger" ng-show="frmCmsSiteAdd.LastName.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsSiteAdd.LastName.$valid && frmCmsSiteAdd.LastName.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsSiteAdd.LastName.$invalid && !frmCmsSiteAdd.LastName.$pristine) || frmCmsSiteAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 2"></div>
                            <div class='form-group' ng-show="cmsSitegrd.selectedItem.mode == 2">
                                <label class='col-sm-2 control-label'>{{'COMPANY_NAME'|lowercase|translate}}</label>
                                <div class='col-sm-10'>
                                    <input type='text' name="FullName" ng-model='cmsSitegrd.selectedItem.FullName' class='form-control'>
                                </div>
                            </div>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 2"></div>
                            <div class='form-group' ng-show="cmsSitegrd.selectedItem.mode == 2">
                                <label class='col-sm-2 control-label'>{{'User_Type'|lowercase|translate}}</label>
                                <div class='col-sm-10'>
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.IsCompany" ng-value="0">&nbsp;{{'True'|lowercase|translate}}</label><br />
                                    <label><input type="radio" ng-model="cmsSitegrd.selectedItem.IsCompany" ng-value="1">&nbsp;{{'Legal'|lowercase|translate}}</label><br />
                                </div>
                            </div>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 3"></div>
                            <div class="form-group" ng-show="cmsSitegrd.selectedItem.mode == 3">
                                <label class="col-xs-2 col-sm-2 control-label">{{'USER_ID'|lowercase|translate}}</label>
                                <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
                                    <input class="form-control" ng-model="cmsSitegrd.selectedItem.LinkUserId" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <img src=cmsServerConfig.configCpanelImages+"refresh.png" style="cursor:pointer;" ng-click="cmsSitegrd.getUser(cmsSitegrd.selectedItem.LinkUserId)" />
                                </div>
                                <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
                                    <label class="control-label">{{cmsSitegrd.selectedUser.Name}}&nbsp;{{cmsSitegrd.selectedUser.LastName}}</label>
                                </div>
                            </div>
                            <div class='hr-line-dashed' ng-show="cmsSitegrd.selectedItem.mode == 2 || cmsSitegrd.selectedItem.mode == 3"></div>
                            <div class="form-group" ng-show="cmsSitegrd.selectedItem.mode == 2 || cmsSitegrd.selectedItem.mode == 3"
                                 ng-class="{'has-error' : frmCmsSiteAdd.UserGroup.$invalid && !frmCmsSiteAdd.UserGroup.$pristine,'has-success' : frmCmsSiteAdd.UserGroup.$valid}">
                                <label class="col-sm-2 control-label">{{'USER_GROUP'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="UserGroup" ng-model="cmsSitegrd.selectedItem.LinkUserGroupId" ng-selected="$first" ng-required="cmsSitegrd.selectedItem.mode == 2 || cmsSitegrd.selectedItem.mode == 3">
                                        <option ng-repeat="x in cmsSitegrd.cmsUserGroups" value="{{x.Id}}">{{x.Title}}</option>
                                    </select>
                                    <div class="m-t-xs" ng-show="frmCmsSiteAdd.UserGroup.$invalid">
                                        <small class="text-danger" ng-show="frmCmsSiteAdd.UserGroup.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsSiteAdd.UserGroup.$valid && frmCmsSiteAdd.UserGroup.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsSiteAdd.UserGroup.$invalid && !frmCmsSiteAdd.UserGroup.$pristine) || frmCmsSiteAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Site_Specifications'|lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('Title')>-1"
                                 ng-class="{'has-error' : frmCmsSiteAdd.Title.$invalid && !frmCmsSiteAdd.Title.$pristine,'has-success' : frmCmsSiteAdd.Title.$valid}">
                                <label class="col-sm-2 control-label">{{'title'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           ng-required="true"
                                           name="Title"
                                           ng-model="cmsSitegrd.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmCmsSiteAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmCmsSiteAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsSiteAdd.Title.$valid && frmCmsSiteAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsSiteAdd.Title.$invalid && !frmCmsSiteAdd.Title.$pristine) || frmCmsSiteAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!-- Copyright -->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('Copyright')>-1">
                                <label class="col-sm-2 control-label">{{'COPYRIGHT'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" style="direction: ltr" name="Copyright" ng-model="cmsSitegrd.selectedItem.Copyright" />
                                </div>
                            </div>
                            <!-- WebMasterEmail -->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('WebMasterEmail')>-1">
                                <label class="col-sm-2 control-label">{{'Web_Master_Email'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" style="direction: ltr" name="WebMasterEmail" ng-model="cmsSitegrd.selectedItem.WebMasterEmail" />
                                </div>
                            </div>
                            <!-- WebEditorEmail -->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('WebEditorEmail')>-1">
                                <label class="col-sm-2 control-label">{{'Web_Editor_Email'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" style="direction: ltr" name="WebEditorEmail" ng-model="cmsSitegrd.selectedItem.WebEditorEmail" />
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group"  ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('ViewInCmsSiteLIst')>-1">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="ViewInSiteList" ng-model="cmsSitegrd.selectedItem.ViewInCmsSiteLIst">view in site list?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Keywords -->
                            <div class='hr-line-dashed'></div>
                            <div class='form-group' ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('Keyword')>-1">
                                <label class='col-sm-2 control-label'>{{'KEYWORDS'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <tags-input ng-model="cmsSitegrd.kwords" placeholder="{{'Key_Word' |lowercase|translate}}" min-length="2" add-on-enter="true">
                                        <auto-complete></auto-complete>
                                    </tags-input>
                                    <small>{{'Keywords_Help'|lowercase|translate}}</small>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class='form-group' ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('Description')>-1">
                                <label class='col-sm-2 control-label'>{{'DESCRIPTION'|lowercase|translate}}</label>
                                <div class='col-sm-10'>
                                    <textarea type='text' ng-required="true" ng-model='cmsSitegrd.selectedItem.Description' class='form-control' style="resize: vertical;height: 100px;"></textarea>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('LinkSiteCategoryId')>-1">
                                <label class="col-sm-2 control-label">{{'SELECT_CATEGORIES_SITE'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="LinkSiteCategoryId" ng-model="cmsSitegrd.selectedItem.LinkSiteCategoryId">
                                        <option ng-repeat="x in cmsSitegrd.CategoryListItems" value="{{x.Id}}" ng-selected="cmsSitegrd.selectedItem.LinkSiteCategoryId == x.Id">{{x.Title}}</option>
                                    </select>
                                </div>
                            </div>

                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Domain_Site'|lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('Domain')>-1"
                                 ng-class="{'has-error' : frmCmsSiteAdd.Domain.$invalid && !frmCmsSiteAdd.Domain.$pristine,'has-success' : frmCmsSiteAdd.Domain.$valid}">
                                <label class="col-sm-2 control-label">{{'DOMAIN'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="cmsSitegrd.selectedItem.Domain" ng-required="true">
                                        <option ng-repeat="x in cmsSitegrd.domainsList">{{x}}</option>
                                    </select>
                                    <div class="m-t-xs" ng-show="frmCmsSiteAdd.Domain.$invalid">
                                        <small class="text-danger" ng-show="frmCmsSiteAdd.Domain.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmCmsSiteAdd.Domain.$valid && frmCmsSiteAdd.Domain.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmCmsSiteAdd.Domain.$invalid && !frmCmsSiteAdd.Domain.$pristine) || frmCmsSiteAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!-- SubDomain -->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('SubDomain')>-1">
                                <label class="col-sm-2 control-label">{{'SUBDOMAIN'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" style="direction: ltr" name="SubDomain" ng-model="cmsSitegrd.selectedItem.SubDomain" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Attachments_Files'|lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('LinkFavIconId')>-1">
                                <label class="col-sm-2 control-label"> {{'FAV_ICON'|lowercase|translate}} </label>
                                <a class="btn btn-primary uoload-file-m" href="" ng-click="cmsSitegrd.openUploadModal()" aria-label="Upload">
                                    {{'UPLOAD'|lowercase|translate}}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </a>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="cmsSitegrd.filePickerFavIcon" ng-model="cmsSitegrd.selectedItem.LinkFavIconId">
                                    </div>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Payment_Form'|lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="back1" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('HasAccountingForm')>-1">
                                <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('HasAccountingForm')>-1" style="margin-top:10px;">
                                    <label class="col-sm-4 control-label">{{'Is_There_A_Form_Of_Payment'|lowercase|translate}}</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="HasAccountingForm" ng-model="cmsSitegrd.selectedItem.HasAccountingForm" value=""></label>
                                        </div>
                                    </div>
                                </div>
                                <div class='hr-line-dashed'></div>
                                <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('AccountingFormNo')>-1">
                                    <label class="col-sm-4 control-label">{{'Payment_Form_Number'|lowercase|translate}}</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" name="AccountingFormNo" ng-model="cmsSitegrd.selectedItem.AccountingFormNo" />
                                    </div>
                                </div>
                                <div class='hr-line-dashed'></div>
                                <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('AccountingFormCreatedDate')>-1">
                                    <label class="col-sm-4 control-label">{{'Date_Of_Registration_Of_Payment_Form'|lowercase|translate}}</label>
                                    <div class="col-sm-8">
                                        <div rasha-date-picker="cmsSitegrd.AccountingFormCreatedDateDatePickerConfig" ng-model="cmsSitegrd.selectedItem.AccountingFormCreatedDate"></div><input type="hidden" ng-model="cmsSitegrd.AccountingFormCreatedDate" />
                                    </div>
                                </div>
                                <div class='hr-line-dashed'></div>
                                <div class="form-group" ng-show="cmsSitegrd.gridOptions.resultAccess.AccessAddField.indexOf('AccountingFormUpdatedDate')>-1">
                                    <label class="col-sm-4 control-label">{{'Date_Of_Last_Edit_Of_Payment_Form'|lowercase|translate}}</label>
                                    <div class="col-sm-8">
                                        <div rasha-date-picker="cmsSitegrd.AccountingFormUpdatedDateDatePickerConfig" ng-model="cmsSitegrd.selectedItem.AccountingFormUpdatedDate"></div><input type="hidden" ng-model="cmsSitegrd.AccountingFormUpdatedDate" />
                                    </div>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.addRequested" type="submit">{{'save'|lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="cmsSitegrd.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

