<style>
    table, td, th {
        border-bottom: 1px dashed #29a2d9;
        text-align: right;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 1px;
    }

    tr.odd {
        background: yellow;
    }

    tr.even {
        background: cyan;
    }

    .enabled {
        background-color: #c6edff;
    }

    .disabled {
        background-color: #d6d6d6;
    }
</style>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="$dismiss()"></i>
            <h3 class="m-t-none m-b"> {{ cmsSitegrd.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmCmsSiteAdd" novalidate ng-submit="cmsSitegrd.addModuleSites(frmCmsSiteAdd)">
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <table>
                            <tr>
                                <th>نام ماژول</th>
                                <th>تاریخ تمدید</th>
                                <th>تاریخ انقضا</th>
                                <th>تنظیمات سایت</th>
                                <th>آمار</th>
                                <th>دسترسی</th>
                                <!--<th></th>
                                <th></th>
                                <th></th>-->
                            </tr>
                            <tr ng-repeat="x in cmsSitegrd.cmsModulesListItems" ng-class="{enabled: x.Checked, disabled: !x.Checked}">
                                <td ng-show="cmsSitegrd.cmsModulesSiteresultAccess.AccessEditField.indexOf('ExpireDate')>-1">
                                    <input type="checkbox" ng-model="x.Checked" ng-click="cmsSitegrd.onModuleCkeckedChange($index, x)">&nbsp;<h4>{{x.Title}}</h4>
                                </td>
                                <td ng-show="cmsSitegrd.cmsModulesSiteresultAccess.AccessEditField.indexOf('ExpireDate')<0">
                                    <input type="checkbox" ng-model="x.Checked" ng-click="cmsSitegrd.onModuleCkeckedChange($index, x)" disabled>&nbsp;<h4>{{x.Title}}</h4>
                                </td>
                                <td>
                                    <label >{{x.RenewDate}}</label>
                                </td>
                                <td ng-show="cmsSitegrd.cmsSitegrd.cmsModulesSiteresultAccess.AccessWatchField.indexOf('ExpireDate')>-1">
                                    {{'EXPIRAITION_DATA'|lowercase|translate}}
                                </td>
                                <td ng-if="cmsSitegrd.cmsModulesSiteresultAccess.AccessEditField.indexOf('ExpireDate')<0">
                                    <div rasha-date-picker="x.expireDateDatePicker" access-edit-field="false" ng-model="x.ModuleSiteExpireDate"></div>
                                    <input type="hidden" ng-model="x.ModuleSiteExpireDate" />
                                </td>
                                <td ng-if="cmsSitegrd.cmsModulesSiteresultAccess.AccessEditField.indexOf('ExpireDate')>-1">
                                    <div rasha-date-picker="x.expireDateDatePicker" access-edit-field="true" ng-model="x.ModuleSiteExpireDate"></div>
                                    <input type="hidden" ng-model="x.ModuleSiteExpireDate" />
                                </td>
                                <td ng-if="cmsSitegrd.cmsModulesSiteresultAccess.AccessEditField.indexOf('ModuleConfigSiteValuesJson')>-1">
                                    <a class="btn btn-warning" id="ModuleConfigSiteValuesJson" ng-disabled="cmsSitegrd.addRequested" ng-click="cmsSitegrd.openPreviewModal(x, 'ModuleConfigSiteJsonForm','ModuleConfigSiteValuesJson','ConfigSite')" title="تنظیمات سایت"><i class="fa fa-cogs"></i></a>
                                </td>
                                <td ng-if="cmsSitegrd.cmsModulesSiteresultAccess.AccessWatchField.indexOf('ModuleSiteStorageValuesJson')>-1">
                                    <a class="btn btn-primary" id="ModuleSiteStorageValuesJson" ng-disabled="cmsSitegrd.addRequested" ng-click="cmsSitegrd.openPreviewModal(x, 'ModuleSiteStorageValuesJsonForm','ModuleSiteStorageValuesJson','SiteStorage')" title="آمار"><i class="fa fa-bar-chart"></i></a>
                                </td>
                                <td ng-if="cmsSitegrd.cmsModulesSiteresultAccess.AccessEditField.indexOf('ModuleConfigSiteAccessValuesJson')>-1">
                                    <a class="btn btn-success" id="ModuleConfigSiteAccessValuesJson" ng-disabled="cmsSitegrd.addRequested" ng-click="cmsSitegrd.openPreviewModal(x, 'ModuleConfigSiteAccessJsonFrom', 'ModuleConfigSiteAccessValuesJson','ConfigSiteAccess')" title="دسترسی"><i class="fa fa-universal-access"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsSitegrd.addRequested" type="submit">{{'save'|lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="$dismiss()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

