<div class="wrapper wrapper-content animated fadeInRight" ng-controller="advertisementPropertyController as advertisementProperty" ng-init="advertisementProperty.init()">
    <!-- <div class="container">-->
    <div class="row" id="topMenuSource">
        <div class="col-sm-12">
            <button class="btn btn-primary" rasha-userrole="advertisementProperty.Add" ng-click="advertisementProperty.openAddModal()" ng-show="advertisementProperty.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="advertisementProperty.Edit" ng-click="advertisementProperty.openEditModal()" type="button" ng-show="advertisementProperty.gridOptions.resultAccess.AccessEditRow">{{'edit'|lowercase|translate}}</button>
            <button class="btn btn-danger" rasha-userrole="advertisementProperty.Delete" ng-click="advertisementProperty.deleteRow()" type="button" ng-show="advertisementProperty.gridOptions.resultAccess.AccessDeleteRow">{{'delete'|lowercase|translate}}</button>
            <button class="btn btn-success" type="button" ng-click="advertisementProperty.showAdvancedSearchPanel()">&nbsp;{{'advanced_search'|lowercase|translate}}&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="advertisementProperty.openGridConfigModal(advertisementProperty.gridOptions.resultAccess.AccessSearchField)" id="gridView-btn"> {{'display_setting'|lowercase|translate}} </button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="advertisementProperty.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="advertisementProperty.getCount()">{{'number'|lowercase|translate}}&nbsp;{{advertisementProperty.ListItemsTotalRowCount}}</button>
            <!--<select class="col-sm-2 form-control" ng-change="advertisementProperty.onRecordStatusChange(RecordStatus)" ng-model="RecordStatus"><option value="1">تایید شده</option><option value="3">در انتظار تایید</option><option value="0">همه</option></select>-->
        </div>
    </div>
    
    <div class="row" id="builderPanel" style="display: none; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="advertisementProperty"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="advertisementProperty.getRules()"> {{'look'|lowercase|translate}} </button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="advertisementProperty.getJson()"> {{'save_condition'|lowercase|translate}} </button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="advertisementProperty.getJson()"> {{'restore_condition'|lowercase|translate}} </button>
            </div>
        </div>
    </div>
    <div class="row" rasha-loading="advertisementProperty.busyIndicator">
        <div class="col-sm-12">
            <div rasha-grid="advertisementProperty.gridOptions"></div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" rasha-userrole="advertisementProperty.Add" ng-click="advertisementProperty.openAddModal()" ng-show="advertisementProperty.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="advertisementProperty.Edit" ng-click="advertisementProperty.openEditModal()" type="button" ng-show="advertisementProperty.gridOptions.resultAccess.AccessEditRow"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="advertisementProperty.Delete" ng-click="advertisementProperty.deleteRow()" type="button" ng-show="advertisementProperty.gridOptions.resultAccess.AccessDeleteRow"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="advertisementProperty.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
        </div>
    </div>-->
</div>