<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="cmsUserGroupRolegrd.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ cmsUserGroupRolegrd.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmCmsUserGroupRoleAdd" novalidate ng-submit="cmsUserGroupRolegrd.addNewRow(frmCmsUserGroupRoleAdd)">

                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input icheck type="checkbox" value="option1" id="HasAccess" ng-model="cmsUserGroupRolegrd.selectedItem.HasAccess" /> {{'HAS_ACCESS'|lowercase|translate}}
                        </label>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmCmsUserGroupRoleAdd.LinkUserGroupId.$invalid && !frmCmsUserGroupRoleAdd.LinkUserGroupId.$pristine,'has-success' : frmCmsUserGroupRoleAdd.LinkUserGroupId.$valid}">
                    <label class="col-sm-2 control-label">{{'SELECT_WORK_GROUP'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-required="true" name="LinkUserGroupId" rasha-autocomplete="cmsUserGroupRolegrd.linkUserGroupIdSelector" ng-model="cmsUserGroupRolegrd.selectedItem.LinkLinkUserGroupIdId" />
                        <div class="m-t-xs" ng-show="frmCmsUserGroupRoleAdd.LinkUserGroupId.$invalid">
                            <small class="text-danger" ng-show="frmCmsUserGroupRoleAdd.LinkUserGroupId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsUserGroupRoleAdd.LinkUserGroupId.$valid && frmCmsUserGroupRoleAdd.LinkUserGroupId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsUserGroupRoleAdd.LinkUserGroupId.$invalid && !frmCmsUserGroupRoleAdd.LinkUserGroupId.$pristine) || frmCmsUserGroupRoleAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>
                <div class="form-group"
                     ng-class="{'has-error' : frmCmsUserGroupRoleAdd.LinkRoleId.$invalid && !frmCmsUserGroupRoleAdd.LinkRoleId.$pristine,'has-success' : frmCmsUserGroupRoleAdd.LinkRoleId.$valid}">
                    <label class="col-sm-2 control-label">{{'SELECT_RULES'|lowercase|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-required="true" name="LinkRoleId" rasha-autocomplete="cmsUserGroupRolegrd.linkRoleIdSelector" ng-model="cmsUserGroupRolegrd.selectedItem.LinkLinkRoleIdId" />
                        <div class="m-t-xs" ng-show="frmCmsUserGroupRoleAdd.LinkRoleId.$invalid">
                            <small class="text-danger" ng-show="frmCmsUserGroupRoleAdd.LinkRoleId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                        </div>
                        <span style="left: 10px !important;" ng-show="frmCmsUserGroupRoleAdd.LinkRoleId.$valid && frmCmsUserGroupRoleAdd.LinkRoleId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                        <span style="left: 10px !important;" ng-show="(frmCmsUserGroupRoleAdd.LinkRoleId.$invalid && !frmCmsUserGroupRoleAdd.LinkRoleId.$pristine) || frmCmsUserGroupRoleAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='hr-line-dashed'></div>



                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsUserGroupRolegrd.addRequested" type="submit">{{'save'|lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="cmsUserGroupRolegrd.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>

