<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="cmsUserGroupRolegrd.closeModal()"></i>
            <h3 class="m-t-none m-b"> {{ cmsUserGroupRolegrd.modalTitle }}</h3>
            <form method="get" class="form-horizontal" name="frmCmsUserGroupRoleEdit" novalidate ng-submit="cmsUserGroupRolegrd.editRow(frmCmsUserGroupRoleEdit)">

<div class="form-group">
                                            <div class="col-sm-10">
                                                <label class="checkbox-inline">
                                                    <input icheck type="checkbox" value="option1" id="HasAccess" ng-model="cmsUserGroupRolegrd.selectedItem.HasAccess" /> {{'HAS_ACCESS'|lowercase|translate}}
                                                </label>
                                            </div>
                                        </div>
<div class='hr-line-dashed'></div>
<div class="form-group"
                                             ng-class="{'has-error' : frmCmsUserGroupRoleEdit.LinkUserGroupId.$invalid && !frmCmsUserGroupRoleEdit.LinkUserGroupId.$pristine,'has-success' : frmCmsUserGroupRoleEdit.LinkUserGroupId.$valid}">
                                            <label class="col-sm-2 control-label">{{'SELECT_WORK_GROUP'|lowercase|translate}}</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" ng-required="true" name="LinkUserGroupId"  rasha-autocomplete="cmsUserGroupRolegrd.linkUserGroupIdSelector" ng-model="cmsUserGroupRolegrd.selectedItem.LinkLinkUserGroupIdId" />
                                                <div class="m-t-xs" ng-show="frmCmsUserGroupRoleEdit.LinkUserGroupId.$invalid">
                                                    <small class="text-danger" ng-show="frmCmsUserGroupRoleEdit.LinkUserGroupId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                                </div>
                                                <span style="left: 10px !important;" ng-show="frmCmsUserGroupRoleEdit.LinkUserGroupId.$valid && frmCmsUserGroupRoleEdit.LinkUserGroupId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                                <span style="left: 10px !important;" ng-show="(frmCmsUserGroupRoleEdit.LinkUserGroupId.$invalid && !frmCmsUserGroupRoleEdit.LinkUserGroupId.$pristine) || frmCmsUserGroupRoleEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                            </div>
                                        </div>
<div class='hr-line-dashed'></div>
<div class="form-group"
                                             ng-class="{'has-error' : frmCmsUserGroupRoleEdit.LinkRoleId.$invalid && !frmCmsUserGroupRoleEdit.LinkRoleId.$pristine,'has-success' : frmCmsUserGroupRoleEdit.LinkRoleId.$valid}">
                                            <label class="col-sm-2 control-label">{{'SELECT_RULES'|lowercase|translate}}</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" ng-required="true" name="LinkRoleId"  rasha-autocomplete="cmsUserGroupRolegrd.linkRoleIdSelector" ng-model="cmsUserGroupRolegrd.selectedItem.LinkLinkRoleIdId" />
                                                <div class="m-t-xs" ng-show="frmCmsUserGroupRoleEdit.LinkRoleId.$invalid">
                                                    <small class="text-danger" ng-show="frmCmsUserGroupRoleEdit.LinkRoleId.$error.required"><i class="fa fa-exclamation-triangle"></i> {{'this_information_is_required'|lowercase|translate}}</small>
                                                </div>
                                                <span style="left: 10px !important;" ng-show="frmCmsUserGroupRoleEdit.LinkRoleId.$valid && frmCmsUserGroupRoleEdit.LinkRoleId.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                                <span style="left: 10px !important;" ng-show="(frmCmsUserGroupRoleEdit.LinkRoleId.$invalid && !frmCmsUserGroupRoleEdit.LinkRoleId.$pristine) || frmCmsUserGroupRoleEdit.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                            </div>
                                        </div>
<div class='hr-line-dashed'></div>



                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="cmsUserGroupRolegrd.addRequested" type="submit">{{'save'|lowercase|translate}}</button>
                    <button class="btn btn-default" type="button" ng-click="cmsUserGroupRolegrd.closeModal()">{{'cancel'|lowercase|translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>