<div class="wrapper wrapper-content animated fadeInRight" ng-controller="bankPaymentTranscLogController as trancsLog" ng-init="trancsLog.init()">
    <!--<div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <!--<button class="btn btn-primary" rasha-userrole="trancsLog.Add" ng-click="trancsLog.openAddModal()" ng-show="trancsLog.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>-->
            <!--<button class="btn btn-warning" rasha-userrole="trancsLog.Edit" ng-click="trancsLog.openEditModal()"ng-show="trancsLog.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>-->
            <!--<button class="btn btn-danger" rasha-userrole="trancsLog.Delete" ng-click="trancsLog.deleteRow()" ng-show="trancsLog.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>-->
            <button class="btn btn-success" type="button" ng-click="trancsLog.showAdvancedSearchPanel(trancsLog.gridOptions.resultAccess.AccessSearchField)"> {{'advanced_search'|lowercase|translate}} </button>
            <button class="btn btn-primary" type="button" ng-click="trancsLog.reportData()"> {{'report'|lowercase|translate}} </button>
            <button class="btn btn-success" ng-click="trancsLog.getCount()">{{'number'|lowercase|translate}}&nbsp;{{trancsLog.ListItemsTotalRowCount}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="trancsLog" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div rasha-grid="trancsLog.gridOptions"></div>
        </div>
    </div>
</div>

