<div class="wrapper wrapper-content animated fadeInRight" ng-controller="biographycategoryCtrl as biographycategory" ng-init="biographycategory.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <div rasha-loading="biographycategory.categoryBusyIndicator"></div>
            <button class="btn btn-primary" rasha-userrole="biographycategory.Add" ng-click="biographycategory.openAddModal()" ng-show="biographycategory.gridOptions.resultAccess.AccessAddRow" type="button">{{'add'|lowercase|translate}}</button>
            <button class="btn btn-warning" rasha-userrole="biographycategory.Edit" ng-click="biographycategory.openEditModal()"ng-show="biographycategory.gridOptions.resultAccess.AccessEditRow" type="button"> {{'edit'|lowercase|translate}} </button>
            <button class="btn btn-danger" rasha-userrole="biographycategory.Delete" ng-click="biographycategory.deleteRow()" ng-show="biographycategory.gridOptions.resultAccess.AccessDeleteRow" type="button"> {{'delete'|lowercase|translate}} </button>
            <button class="btn btn-success" type="button" ng-click="biographycategory.showAdvancedSearchPanel(biographycategory.gridOptions.resultAccess.AccessSearchField)"> {{'advanced_search'|lowercase|translate}} </button>
            <button class="btn btn-primary" type="button" ng-click="biographycategory.reportData()"> {{'report'|lowercase|translate}} </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="biographycategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div id="builder" query-builder="biographycategory" style="display: none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="biographycategory.gridOptions"></div>
        </div>
    </div>
</div>

