<div class="wrapper wrapper-content animated fadeInRight" ng-controller="cmsLogController as cmsLog" ng-init="cmsLog.init()">
    <!--    <div class="container">-->
    <div class="row">
        <div class="col-sm-12">
            <!--<button class="btn btn-primary" rasha-userrole="cmsUserTicketController.Add" ng-click="cmsLog.openAddModal()" ng-show="cmsLog.gridOptions.resultAccess.AccessAddRow" type="button">{{'ADD'|lowercase|translate}}</button>-->
            <!--<button class="btn btn-warning" rasha-userrole="cmsUserTicketController.Edit" ng-click="cmsLog.openEditModal()" ng-show="cmsLog.gridOptions.resultAccess.AccessEditRow" type="button">{{'EDIT'|lowercase|translate}}</button>-->
            <button class="btn btn-danger" rasha-userrole="cmsUserTicketController.Delete" ng-click="cmsLog.deleteRow()" ng-show="cmsLog.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'DELETE'|lowercase|translate}}</button>
            <button class="btn btn-success" type="button" ng-click="cmsLog.showAdvancedSearchPanel()"> {{'advanced_search'|lowercase|translate}} &nbsp;&nbsp;<i id="filter-btn-icon" class="fa fa-toggle-off" aria-hidden="true"></i></button>
            <button class="btn btn-primary" rasha-userrole="cmsSiteController.Report" ng-click="cmsLog.toggleExportForm()">{{'report'|lowercase|translate}}&nbsp;</button>
            <button class="btn btn-success" ng-click="cmsLog.getCount()">{{'number'|lowercase|translate}}&nbsp;{{cmsLog.ListItemsTotalRowCount}}</button>
            <button class="btn btn-danger" rasha-userrole="cmsUserTicketController.deleteSelectRow" ng-click="cmsLog.deleteSelectRow()" ng-show="cmsLog.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'Remove_Selected_Items'|lowercase|translate}}</button>
            <button class="btn btn-danger" rasha-userrole="cmsUserTicketController.DeleteAll" ng-click="cmsLog.deleteAllRow()" ng-show="cmsLog.gridOptions.resultAccess.AccessDeleteRow" type="button">{{'Remove_All_Items'|lowercase|translate}}</button>
        </div>
        <hr />
        <div class="col-sm-12 col-lg-12 col-md-12" id="builderPanel" style="display: none; margin-bottom: 10px;">
            <div id="builder" query-builder="cmsLog"></div>
            <div class="btn-group" style="float: left;">
                <button class="btn btn-primary reset" data-target="basic" type="button" id="btn-reset" ng-click="cmsLog.getRules()">{{'look'|lowercase|translate}}</button>
                <button class="btn btn-success set-json" data-target="basic" type="button" id="btn-set" ng-click="cmsLog.saveRules()">{{'save_condition'|lowercase|translate}}</button>
                <button class="btn btn-warning parse-json" data-target="basic" type="button" id="btn-get" ng-click="cmsLog.setRules()">{{'restore_condition'|lowercase|translate}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div rasha-grid="cmsLog.gridOptions"></div>
        </div>


    </div>
</div>

